Avery-ADF/linkedTemplates/ArmTemplate_12.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "Avery-ADF"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PL_Softworks_RateSheets')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "For Each File",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get File List",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get File List').output.childItems",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy from file to SQL",
									"description": "the @item().Name variable is key on the source. the .Name provides the childItem Name from the output of the Metadata task",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"wildcardFolderPath": "RateSheets",
												"wildcardFileName": {
													"value": "@item().Name",
													"type": "Expression"
												},
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "Employee Number",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "EmployeeID",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "Employee Name",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "EmployeeName",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "Contract Type",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "ContractType",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "Contract Start Date",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "ContractStartDate",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "Contract End Date",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "ContractEndDate",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "External Reference",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "ExternalReference",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "Is Default",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "IsDefault",
														"type": "String",
														"physicalType": "varchar"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_PolestarStorageAcc_Softworks_RateSheets",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_AH2_TRANSFORM_DB",
											"type": "DatasetReference",
											"parameters": {
												"Schema": "Softworks",
												"Table": "EmployeeRates"
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "Get File List",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_PolestarStorageAcc_Softworks_RateSheets",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Softworks"
				},
				"annotations": [],
				"lastPublishTime": "2024-07-23T14:21:03Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Sona_AbsenceSubTypes')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['id']"
										},
										"sink": {
											"name": "AbsenceSubTypeID",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['name']"
										},
										"sink": {
											"name": "AbsenceSubTypeName",
											"type": "String"
										}
									}
								],
								"collectionReference": "$['entries']"
							}
						},
						"inputs": [
							{
								"referenceName": "DS_Sona_Initial_File",
								"type": "DatasetReference",
								"parameters": {
									"Filename": "Sona Absence SubType Time in lieu - Unpaid.json"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_AH2_TRANSFORM_DB",
								"type": "DatasetReference",
								"parameters": {
									"Schema": "Sona",
									"Table": "AbsenceSubType"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Sona/Initial API Files"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Sona_AbsenceTypes')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['id']"
										},
										"sink": {
											"name": "id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['name']"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['is_holiday']"
										},
										"sink": {
											"name": "is_holiday",
											"type": "Boolean"
										}
									}
								],
								"collectionReference": "$['entries']"
							}
						},
						"inputs": [
							{
								"referenceName": "DS_Sona_Initial_File",
								"type": "DatasetReference",
								"parameters": {
									"Filename": "Sona Absence Types.json"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_AH2_TRANSFORM_DB",
								"type": "DatasetReference",
								"parameters": {
									"Schema": "Sona",
									"Table": "AbsenceType"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Sona/Initial API Files"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Sona_Absences')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Stage Absences",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"Absence_ID"
									]
								},
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['id']"
										},
										"sink": {
											"name": "Absence_ID"
										}
									},
									{
										"source": {
											"path": "[['user_id']"
										},
										"sink": {
											"name": "User_ID",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['starts_at']"
										},
										"sink": {
											"name": "Starts_at",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"path": "[['ends_at']"
										},
										"sink": {
											"name": "Ends_at",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"path": "[['absence_type_id']"
										},
										"sink": {
											"name": "absence_type_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['absence_subtype_id']"
										},
										"sink": {
											"name": "absence_subtype_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['user_internal_id']"
										},
										"sink": {
											"name": "user_internal_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['current_employee_number']"
										},
										"sink": {
											"name": "current_employee_number",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['is_paid']"
										},
										"sink": {
											"name": "is_paid",
											"type": "String"
										}
									}
								],
								"collectionReference": "$['entries']"
							}
						},
						"inputs": [
							{
								"referenceName": "DS_Sona_API_Response",
								"type": "DatasetReference",
								"parameters": {
									"FileName": "Sona Absences"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_AH2_TRANSFORM_DB",
								"type": "DatasetReference",
								"parameters": {
									"Schema": "Sona",
									"Table": "STG_Absences"
								}
							}
						]
					},
					{
						"name": "Stage Absences Missed Shifts",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Stage Absences",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"Absence_ID",
										"Linked_Shift_ID"
									]
								},
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['absence_id']"
										},
										"sink": {
											"name": "Absence_ID",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['user_id']"
										},
										"sink": {
											"name": "User_ID",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['linked_shift_id']"
										},
										"sink": {
											"name": "Linked_Shift_ID",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['shift_start_datetime']"
										},
										"sink": {
											"name": "start_datetime",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"path": "$['shift_end_datetime']"
										},
										"sink": {
											"name": "end_datetime",
											"type": "DateTime"
										}
									}
								],
								"collectionReference": ""
							}
						},
						"inputs": [
							{
								"referenceName": "DS_Sona_API_Response",
								"type": "DatasetReference",
								"parameters": {
									"FileName": "flattened_linked_shifts"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_AH2_TRANSFORM_DB",
								"type": "DatasetReference",
								"parameters": {
									"Schema": "Sona",
									"Table": "STG_Absences_Missied_Shifts"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Sona/Child Pipelines"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Sona_GetData')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Extract Data Func",
						"description": "Call the azure function to make the api call",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Set FunctionCode",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set APIToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:10:00",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"additionalHeaders": {
									"X-API-Key": {
										"value": "@variables('APIToken')",
										"type": "Expression"
									}
								},
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_Sona_Data_Extract",
								"type": "DatasetReference",
								"parameters": {
									"FunctionCode": {
										"value": "@variables('AzFuncCode')",
										"type": "Expression"
									},
									"end_point": "@pipeline().parameters.EndPoint",
									"min_start_date": {
										"value": "@pipeline().parameters.MinStartDate",
										"type": "Expression"
									},
									"max_start_date": {
										"value": "@pipeline().parameters.MaxStartDate",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_Sona_API_Response",
								"type": "DatasetReference",
								"parameters": {
									"FileName": "@pipeline().parameters.EndPoint"
								}
							}
						]
					},
					{
						"name": "Get AZ Func Code",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": true
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"headers": {},
							"url": "https://avery-adf-keyvault.vault.azure.net/secrets/SonaAPICallAzFunc/1c971f76435e4e6ab021f17345a1fdb5?api-version=7.3",
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Get Sona API Token",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": true
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"headers": {},
							"url": "https://avery-adf-keyvault.vault.azure.net/secrets/SonaAPIToken/559963575ce3414abe3d756da8dd179f?api-version=7.3",
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Set FunctionCode",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Get AZ Func Code",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "AzFuncCode",
							"value": {
								"value": "@activity('Get AZ Func Code').output.value",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set APIToken",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Get Sona API Token",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "APIToken",
							"value": {
								"value": "@activity('Get Sona API Token').output.value",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"EndPoint": {
						"type": "string"
					},
					"MinStartDate": {
						"type": "string"
					},
					"MaxStartDate": {
						"type": "string"
					}
				},
				"variables": {
					"APIToken": {
						"type": "String"
					},
					"AzFuncCode": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Sona/Child Pipelines"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Sona_GetFullWeekData')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Extract Data Func",
						"description": "Call the azure function to make the api call",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Set FunctionCode",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set APIToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.15:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 60,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:10:00",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"additionalHeaders": {
									"X-API-Key": {
										"value": "@variables('APIToken')",
										"type": "Expression"
									}
								},
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_Sona_Data_Extract",
								"type": "DatasetReference",
								"parameters": {
									"FunctionCode": {
										"value": "@variables('AzFuncCode')",
										"type": "Expression"
									},
									"end_point": "@pipeline().parameters.EndPoint",
									"min_start_date": {
										"value": "@pipeline().parameters.MinStartDate",
										"type": "Expression"
									},
									"max_start_date": {
										"value": "@pipeline().parameters.MaxStartDate",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_Sona_API_Response",
								"type": "DatasetReference",
								"parameters": {
									"FileName": {
										"value": "@concat(pipeline().parameters.FileName, '-', pipeline().parameters.EndPoint)",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Get AZ Func Code",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": true
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"headers": {},
							"url": "https://avery-adf-keyvault.vault.azure.net/secrets/SonaAPICallAzFunc/1c971f76435e4e6ab021f17345a1fdb5?api-version=7.3",
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Get Sona API Token",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": true
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"headers": {},
							"url": "https://avery-adf-keyvault.vault.azure.net/secrets/SonaAPIToken/559963575ce3414abe3d756da8dd179f?api-version=7.3",
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Set FunctionCode",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Get AZ Func Code",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "AzFuncCode",
							"value": {
								"value": "@activity('Get AZ Func Code').output.value",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set APIToken",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Get Sona API Token",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "APIToken",
							"value": {
								"value": "@activity('Get Sona API Token').output.value",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"EndPoint": {
						"type": "string"
					},
					"MinStartDate": {
						"type": "string"
					},
					"MaxStartDate": {
						"type": "string"
					},
					"FileName": {
						"type": "string"
					}
				},
				"variables": {
					"APIToken": {
						"type": "String"
					},
					"AzFuncCode": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Sona/Child Pipelines"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Sona_Initial_ContractTypes')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ContractTypes",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['id']"
										},
										"sink": {
											"name": "ContractTypes_id"
										}
									},
									{
										"source": {
											"path": "$['name']"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['denomination']"
										},
										"sink": {
											"name": "denomination",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['employment_type']"
										},
										"sink": {
											"name": "employment_type",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['booking_granularity']"
										},
										"sink": {
											"name": "booking_granularity",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['holiday_allowance_rounding']"
										},
										"sink": {
											"name": "holiday_allowance_rounding",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['include_absence_cost']"
										},
										"sink": {
											"name": "include_absence_cost",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['only_worked_days']"
										},
										"sink": {
											"name": "only_worked_days",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['pay_period_start']"
										},
										"sink": {
											"name": "pay_period_start",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['pay_period_type']"
										},
										"sink": {
											"name": "pay_period_type",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['payroll_rule']"
										},
										"sink": {
											"name": "payroll_rule",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['worked_days_in_year']"
										},
										"sink": {
											"name": "worked_days_in_year",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['worked_weeks_in_year']"
										},
										"sink": {
											"name": "worked_weeks_in_year",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['employment_basis']"
										},
										"sink": {
											"name": "employment_basis",
											"type": "String"
										}
									}
								],
								"collectionReference": ""
							}
						},
						"inputs": [
							{
								"referenceName": "DS_Sona_Initial_File",
								"type": "DatasetReference",
								"parameters": {
									"Filename": "contract_types - All Pages.json"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_AH2_TRANSFORM_DB",
								"type": "DatasetReference",
								"parameters": {
									"Schema": "Sona",
									"Table": "STG_ContractTypes"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Sona/Initial API Files"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Sona_Initial_ContractedHours')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ContractedHours",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['id']"
										},
										"sink": {
											"name": "ContractedHours_id"
										}
									},
									{
										"source": {
											"path": "$['period']"
										},
										"sink": {
											"name": "period",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['hours']"
										},
										"sink": {
											"name": "hours",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['days']"
										},
										"sink": {
											"name": "days",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['start_date']"
										},
										"sink": {
											"name": "start_date",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['idx']"
										},
										"sink": {
											"name": "idx",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['finish_date']"
										},
										"sink": {
											"name": "finish_date",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['org_unit_id']"
										},
										"sink": {
											"name": "org_unit_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['employment_period_id']"
										},
										"sink": {
											"name": "employment_period_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['colour_coding']"
										},
										"sink": {
											"name": "colour_coding",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['type_of_work_id']"
										},
										"sink": {
											"name": "type_of_work_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['monthly_period_starts_at']"
										},
										"sink": {
											"name": "monthly_period_starts_at",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['weekly_period_starts_at']"
										},
										"sink": {
											"name": "weekly_period_starts_at",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['rolling_period_sequence_length_days']"
										},
										"sink": {
											"name": "rolling_period_sequence_length_days",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['rolling_period_sequence_start']"
										},
										"sink": {
											"name": "rolling_period_sequence_start",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['employment_period_idx']"
										},
										"sink": {
											"name": "employment_period_idx",
											"type": "String"
										}
									}
								],
								"collectionReference": ""
							}
						},
						"inputs": [
							{
								"referenceName": "DS_Sona_Initial_File",
								"type": "DatasetReference",
								"parameters": {
									"Filename": "contracted_hours - All Pages.json"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_AH2_TRANSFORM_DB",
								"type": "DatasetReference",
								"parameters": {
									"Schema": "Sona",
									"Table": "STG_ContractedHours"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Sona/Initial API Files"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Sona_Initial_EmploymentPeriods')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "EmploymentPeriods",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['active']"
										},
										"sink": {
											"name": "active",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['id']"
										},
										"sink": {
											"name": "EmploymentPeriods_id"
										}
									},
									{
										"source": {
											"path": "$['start_date']"
										},
										"sink": {
											"name": "start_date",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['idx']"
										},
										"sink": {
											"name": "idx",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['job_id']"
										},
										"sink": {
											"name": "job_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['organisation_id']"
										},
										"sink": {
											"name": "organisation_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['user_id']"
										},
										"sink": {
											"name": "user_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['finish_date']"
										},
										"sink": {
											"name": "finish_date",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['organisation_user_id']"
										},
										"sink": {
											"name": "organisation_user_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['employment_specs'][0]['id']"
										},
										"sink": {
											"name": "employment_specs_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['employment_specs'][0]['contracted_hours'][0]['id']"
										},
										"sink": {
											"name": "employment_specs_contracted_hours_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['employment_specs'][0]['contracted_hours'][0]['period']"
										},
										"sink": {
											"name": "employment_specs_contracted_hours_period",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['employment_specs'][0]['contracted_hours'][0]['hours']"
										},
										"sink": {
											"name": "employment_specs_contracted_hours_hours",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['employment_specs'][0]['contracted_hours'][0]['days']"
										},
										"sink": {
											"name": "employment_specs_contracted_hours_days",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['employment_specs'][0]['contracted_hours'][0]['start_date']"
										},
										"sink": {
											"name": "employment_specs_contracted_hours_start_date",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['employment_specs'][0]['contracted_hours'][0]['idx']"
										},
										"sink": {
											"name": "employment_specs_contracted_hours_idx",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['employment_specs'][0]['contracted_hours'][0]['org_unit_id']"
										},
										"sink": {
											"name": "employment_specs_contracted_hours_org_unit_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['employment_specs'][0]['contracted_hours'][0]['finish_date']"
										},
										"sink": {
											"name": "employment_specs_contracted_hours_finish_date",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['employment_specs'][0]['contracted_hours'][0]['colour_coding']"
										},
										"sink": {
											"name": "employment_specs_contracted_hours_colour_coding",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['employment_specs'][0]['contracted_hours'][0]['type_of_work_id']"
										},
										"sink": {
											"name": "employment_specs_contracted_hours_type_of_work_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['employment_specs'][0]['contracted_hours'][0]['monthly_period_starts_at']"
										},
										"sink": {
											"name": "employment_specs_contracted_hours_monthly_period_starts_at",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['employment_specs'][0]['contracted_hours'][0]['weekly_period_starts_at']"
										},
										"sink": {
											"name": "employment_specs_contracted_hours_weekly_period_starts_at",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['employment_specs'][0]['contracted_hours'][0]['rolling_period_sequence_length_days']"
										},
										"sink": {
											"name": "employment_specs_contracted_hours_rolling_period_sequence_length_days",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['employment_specs'][0]['contracted_hours'][0]['rolling_period_sequence_start']"
										},
										"sink": {
											"name": "employment_specs_contracted_hours_rolling_period_sequence_start",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['employment_specs'][0]['contract_types'][0]['id']"
										},
										"sink": {
											"name": "employment_specs_contract_types_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['employment_specs'][0]['contract_types'][0]['name']"
										},
										"sink": {
											"name": "employment_specs_contract_types_name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['employment_specs'][0]['contract_types'][0]['employment_type']"
										},
										"sink": {
											"name": "employment_specs_contract_types_employment_type",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['employment_specs'][0]['contract_types'][0]['pay_period_start']"
										},
										"sink": {
											"name": "employment_specs_contract_types_pay_period_start",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['employment_specs'][0]['contract_types'][0]['pay_period_type']"
										},
										"sink": {
											"name": "employment_specs_contract_types_pay_period_type",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['employment_specs'][0]['contract_types'][0]['payroll_rule']"
										},
										"sink": {
											"name": "employment_specs_contract_types_payroll_rule",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['employment_specs'][0]['contract_types'][0]['employment_basis']"
										},
										"sink": {
											"name": "employment_specs_contract_types_employment_basis",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['employment_specs'][0]['rates_of_pay'][0]['id']"
										},
										"sink": {
											"name": "employment_specs_rates_of_pay_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['employment_specs'][0]['rates_of_pay'][0]['start_date']"
										},
										"sink": {
											"name": "employment_specs_rates_of_pay_start_date",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['employment_specs'][0]['rates_of_pay'][0]['idx']"
										},
										"sink": {
											"name": "employment_specs_rates_of_pay_idx",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['employment_specs'][0]['rates_of_pay'][0]['finish_date']"
										},
										"sink": {
											"name": "employment_specs_rates_of_pay_finish_date",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['employment_specs'][0]['rates_of_pay'][0]['rate']"
										},
										"sink": {
											"name": "employment_specs_rates_of_pay_rate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['employment_specs'][0]['rates_of_pay'][0]['pay_type']"
										},
										"sink": {
											"name": "employment_specs_rates_of_pay_pay_type",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['primary_org_unit_id']"
										},
										"sink": {
											"name": "primary_org_unit_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['employee_number']"
										},
										"sink": {
											"name": "employee_number",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['continuous_employment_start_date']"
										},
										"sink": {
											"name": "continuous_employment_start_date",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['level_id']"
										},
										"sink": {
											"name": "level_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['job_grade_id']"
										},
										"sink": {
											"name": "job_grade_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['reports_to_user_id']"
										},
										"sink": {
											"name": "reports_to_user_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['reports_to_org_user_id']"
										},
										"sink": {
											"name": "reports_to_org_user_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['starter_declaration']"
										},
										"sink": {
											"name": "starter_declaration",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['student_loan_plan_four']"
										},
										"sink": {
											"name": "student_loan_plan_four",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['student_loan_plan_one']"
										},
										"sink": {
											"name": "student_loan_plan_one",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['student_loan_plan_two']"
										},
										"sink": {
											"name": "student_loan_plan_two",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['student_loan_post_graduate']"
										},
										"sink": {
											"name": "student_loan_post_graduate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['tupe']"
										},
										"sink": {
											"name": "tupe",
											"type": "String"
										}
									}
								],
								"collectionReference": "",
								"mapComplexValuesToString": false
							}
						},
						"inputs": [
							{
								"referenceName": "DS_Sona_Initial_File",
								"type": "DatasetReference",
								"parameters": {
									"Filename": "Sona All Employment Periods 2026-04-14.json"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_AH2_TRANSFORM_DB",
								"type": "DatasetReference",
								"parameters": {
									"Schema": "Sona",
									"Table": "STG_EmploymentPeriods"
								}
							}
						]
					},
					{
						"name": "EmploymentPeriods_TypesOfWork",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "EmploymentPeriods",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['id']"
										},
										"sink": {
											"name": "employment_period_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['id']"
										},
										"sink": {
											"name": "type_of_work_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['name']"
										},
										"sink": {
											"name": "type_of_work_name",
											"type": "String"
										}
									}
								],
								"collectionReference": "$['types_of_work']",
								"mapComplexValuesToString": false
							}
						},
						"inputs": [
							{
								"referenceName": "DS_Sona_Initial_File",
								"type": "DatasetReference",
								"parameters": {
									"Filename": "Sona All Employment Periods 2026-04-14.json"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_AH2_TRANSFORM_DB",
								"type": "DatasetReference",
								"parameters": {
									"Schema": "Sona",
									"Table": "STG_EmploymentPeriods_TypesOfWork"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Sona/Initial API Files"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Sona_Initial_Jobs')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Jobs",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"Jobs_id"
									]
								},
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['id']"
										},
										"sink": {
											"name": "Jobs_id"
										}
									},
									{
										"source": {
											"path": "$['name']"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['upload_id']"
										},
										"sink": {
											"name": "upload_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['archived_at']"
										},
										"sink": {
											"name": "archived_at",
											"type": "String"
										}
									}
								],
								"collectionReference": "",
								"mapComplexValuesToString": false
							}
						},
						"inputs": [
							{
								"referenceName": "DS_Sona_Initial_File",
								"type": "DatasetReference",
								"parameters": {
									"Filename": "jobs v2.json"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_AH2_TRANSFORM_DB",
								"type": "DatasetReference",
								"parameters": {
									"Schema": "Sona",
									"Table": "STG_Jobs"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Sona/Initial API Files"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Sona_Initial_OrgUnits')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "OrgUnits",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"OrgUnits_id"
									]
								},
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['id']"
										},
										"sink": {
											"name": "OrgUnits_id"
										}
									},
									{
										"source": {
											"path": "$['name']"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['timezone']"
										},
										"sink": {
											"name": "timezone",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['is_base_entity']"
										},
										"sink": {
											"name": "is_base_entity",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['org_unit_type']['id']"
										},
										"sink": {
											"name": "org_unit_type_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['org_unit_type']['name']"
										},
										"sink": {
											"name": "org_unit_type_name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['accounting_cost_code']"
										},
										"sink": {
											"name": "accounting_cost_code",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['average_hourly_rate']"
										},
										"sink": {
											"name": "average_hourly_rate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['paycaptain_company_id']"
										},
										"sink": {
											"name": "paycaptain_company_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['parent_org_unit']['id']"
										},
										"sink": {
											"name": "parent_org_unit_id",
											"type": "String"
										}
									}
								],
								"collectionReference": ""
							}
						},
						"inputs": [
							{
								"referenceName": "DS_Sona_Initial_File",
								"type": "DatasetReference",
								"parameters": {
									"Filename": "Sona All Org_Units 2026-06-24.json"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_AH2_TRANSFORM_DB",
								"type": "DatasetReference",
								"parameters": {
									"Schema": "Sona",
									"Table": "STG_OrgUnits"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Sona/Initial API Files"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Sona_Initial_OrgUnitsTypes')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "OrgUnitsTypes",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['id']"
										},
										"sink": {
											"name": "OrgUnitsTypes_id"
										}
									},
									{
										"source": {
											"path": "$['name']"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['parent_org_unit_type']['id']"
										},
										"sink": {
											"name": "parent_org_unit_type_id",
											"type": "String"
										}
									}
								],
								"collectionReference": ""
							}
						},
						"inputs": [
							{
								"referenceName": "DS_Sona_Initial_File",
								"type": "DatasetReference",
								"parameters": {
									"Filename": "org_unit_types - All Pages.json"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_AH2_TRANSFORM_DB",
								"type": "DatasetReference",
								"parameters": {
									"Schema": "Sona",
									"Table": "STG_OrgUnitsTypes"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Sona/Initial API Files"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Sona_Initial_RatesOfPay')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "RatesOfPay",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['id']"
										},
										"sink": {
											"name": "RatesOfPay_id"
										}
									},
									{
										"source": {
											"path": "$['label']"
										},
										"sink": {
											"name": "label",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['start_date']"
										},
										"sink": {
											"name": "start_date",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['idx']"
										},
										"sink": {
											"name": "idx",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['user_id']"
										},
										"sink": {
											"name": "user_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['finish_date']"
										},
										"sink": {
											"name": "finish_date",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['org_unit_id']"
										},
										"sink": {
											"name": "org_unit_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['organisation_user_id']"
										},
										"sink": {
											"name": "organisation_user_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['employment_period_id']"
										},
										"sink": {
											"name": "employment_period_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['type_of_work_id']"
										},
										"sink": {
											"name": "type_of_work_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['rate']"
										},
										"sink": {
											"name": "rate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['pay_type']"
										},
										"sink": {
											"name": "pay_type",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['employment_period_idx']"
										},
										"sink": {
											"name": "employment_period_idx",
											"type": "String"
										}
									}
								],
								"collectionReference": "",
								"mapComplexValuesToString": false
							}
						},
						"inputs": [
							{
								"referenceName": "DS_Sona_Initial_File",
								"type": "DatasetReference",
								"parameters": {
									"Filename": "rates_of_pay - All Pages.json"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_AH2_TRANSFORM_DB",
								"type": "DatasetReference",
								"parameters": {
									"Schema": "Sona",
									"Table": "STG_RatesOfPay"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Sona/Initial API Files"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Sona_Initial_ShiftTypes')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ShiftTypes",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE Sona.STG_ShiftTypes",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['id']"
										},
										"sink": {
											"name": "ShiftTypes_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['name']"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['description']"
										},
										"sink": {
											"name": "description",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['color']"
										},
										"sink": {
											"name": "color",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['org_unit']['id']"
										},
										"sink": {
											"name": "org_unit_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['type_of_work']['id']"
										},
										"sink": {
											"name": "type_of_work_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['is_sleep']"
										},
										"sink": {
											"name": "is_sleep",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['is_absence']"
										},
										"sink": {
											"name": "is_absence",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['default_end_time']"
										},
										"sink": {
											"name": "default_end_time",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['default_shift_break_duration']"
										},
										"sink": {
											"name": "default_shift_break_duration",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['default_start_time']"
										},
										"sink": {
											"name": "default_start_time",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['is_unpaid_absence_with_shifts']"
										},
										"sink": {
											"name": "is_unpaid_absence_with_shifts",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['night_shift']"
										},
										"sink": {
											"name": "night_shift",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['peak_shift']"
										},
										"sink": {
											"name": "peak_shift",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['timesheet_required']"
										},
										"sink": {
											"name": "timesheet_required",
											"type": "String"
										}
									}
								],
								"collectionReference": "",
								"mapComplexValuesToString": false
							}
						},
						"inputs": [
							{
								"referenceName": "DS_Sona_Initial_File",
								"type": "DatasetReference",
								"parameters": {
									"Filename": "Sona All Shift Types 2026-07-02.json"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_AH2_TRANSFORM_DB",
								"type": "DatasetReference",
								"parameters": {
									"Schema": "Sona",
									"Table": "STG_ShiftTypes"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Sona/Initial API Files"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Sona_Initial_TypesOfWork')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "TypesOfWork",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['id']"
										},
										"sink": {
											"name": "TypesOfWork_id"
										}
									},
									{
										"source": {
											"path": "$['name']"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									}
								],
								"collectionReference": "",
								"mapComplexValuesToString": false
							}
						},
						"inputs": [
							{
								"referenceName": "DS_Sona_Initial_File",
								"type": "DatasetReference",
								"parameters": {
									"Filename": "types_of_work - All Pages.json"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_AH2_TRANSFORM_DB",
								"type": "DatasetReference",
								"parameters": {
									"Schema": "Sona",
									"Table": "STG_TypesOfWork"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Sona/Initial API Files"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Sona_Initial_Users')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Users",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['id']"
										},
										"sink": {
											"name": "user_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['organisation_user_id']"
										},
										"sink": {
											"name": "organisation_user_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['external_id']"
										},
										"sink": {
											"name": "external_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['active']"
										},
										"sink": {
											"name": "active",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['state']"
										},
										"sink": {
											"name": "state",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['first_name']"
										},
										"sink": {
											"name": "first_name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['legal_first_name']"
										},
										"sink": {
											"name": "legal_first_name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['middle_name']"
										},
										"sink": {
											"name": "middle_name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['last_name']"
										},
										"sink": {
											"name": "last_name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['administrative_org_unit']['id']"
										},
										"sink": {
											"name": "administrative_org_unit_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['exclude_from_payroll']"
										},
										"sink": {
											"name": "exclude_from_payroll",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['marital_status']"
										},
										"sink": {
											"name": "marital_status",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['work_email']"
										},
										"sink": {
											"name": "work_email",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['date_of_birth']"
										},
										"sink": {
											"name": "date_of_birth",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['preferred_name']"
										},
										"sink": {
											"name": "preferred_name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['final_date_of_employment']"
										},
										"sink": {
											"name": "final_date_of_employment",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['identifies_as']"
										},
										"sink": {
											"name": "identifies_as",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['title']"
										},
										"sink": {
											"name": "title",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['sex']"
										},
										"sink": {
											"name": "sex",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['agency']['id']"
										},
										"sink": {
											"name": "agency_id",
											"type": "String"
										}
									}
								],
								"collectionReference": ""
							}
						},
						"inputs": [
							{
								"referenceName": "DS_Sona_Initial_File",
								"type": "DatasetReference",
								"parameters": {
									"Filename": "Sona All Users.json"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_AH2_TRANSFORM_DB",
								"type": "DatasetReference",
								"parameters": {
									"Schema": "Sona",
									"Table": "STG_Users"
								}
							}
						]
					},
					{
						"name": "Users_types_of_work",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Users",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['id']"
										},
										"sink": {
											"name": "user_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['organisation_user_id']"
										},
										"sink": {
											"name": "organisation_user_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['id']"
										},
										"sink": {
											"name": "user_types_pf_work_ido",
											"type": "String"
										}
									}
								],
								"collectionReference": "$['types_of_work']"
							}
						},
						"inputs": [
							{
								"referenceName": "DS_Sona_Initial_File",
								"type": "DatasetReference",
								"parameters": {
									"Filename": "Sona All Users.json"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_AH2_TRANSFORM_DB",
								"type": "DatasetReference",
								"parameters": {
									"Schema": "Sona",
									"Table": "STG_Users_Types_Of_work"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Sona/Initial API Files"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Sona_Migration_Sources')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Ucheck Data Dump",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_Sona_Ucheck_dataDump",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_AH2_TRANSFORM_DB",
								"type": "DatasetReference",
								"parameters": {
									"Schema": "SonaMigration",
									"Table": "UcheckDataDump"
								}
							}
						]
					},
					{
						"name": "Copy CB RTW Report",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Home Name ",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "HomeName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Employee",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Employee",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Created",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Created",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Status",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Status",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "Type ",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Type",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Item ",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Item",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Reference ",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Reference",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Review ",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Review",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Requested ",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Requested",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Received ",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Received",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Expires ",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Expires",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_Sona_CB_RTW",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_AH2_TRANSFORM_DB",
								"type": "DatasetReference",
								"parameters": {
									"Schema": "SonaMigration",
									"Table": "CB_RTW"
								}
							}
						]
					},
					{
						"name": "Avery Immigration File",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE SonaMigration.AveryImmigrationData",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Home",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Home",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Surname",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Family Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "First Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "First Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Date of Birth",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Date of Birth",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Nationailty",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Nationailty",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Careblox name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Careblox name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Job Title",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Job Title",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CareBlox ID Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CareBlox ID Number",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CoS Number ",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CoS Number ",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Passport Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Passport Number",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Passport date of issue",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Passport date of issue",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Passport Expiry",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Passport Expiry",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Visa Expiry date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Visa Expiry date",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Contract & Offer",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Contract & Offer",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CoS uploaded",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CoS uploaded",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Right To Work/Visa",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Right To Work/Visa",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Passport",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Passport",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Details of Recruitment",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Details of Recruitment",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Job Description",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Job Description",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DBS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DBS",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "References",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "References",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Old or New Licence",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Old or New Licence",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Notes ",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Notes ",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Zoe Saleem Comments",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Zoe Saleem Comments",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_Sona_Avery_Immigration_file",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_AH2_TRANSFORM_DB",
								"type": "DatasetReference",
								"parameters": {
									"Schema": "SonaMigration",
									"Table": "AveryImmigrationData"
								}
							}
						]
					},
					{
						"name": "Copy Verifle RTW data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE SonaMigration.Verifile_RTWData",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Company Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "companyName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "VF Ref",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Order Number",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "First Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "First Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Last Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Last Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Check Status Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Check Status",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "checkName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Check Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "RtwRecheckDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Re-check Date",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CheckResults",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Check Additional Info",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_Sona_Verifile_RTW_Data",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_AH2_TRANSFORM_DB",
								"type": "DatasetReference",
								"parameters": {
									"Schema": "SonaMigration",
									"Table": "Verifile_RTWData"
								}
							}
						]
					},
					{
						"name": "Copy Verifile DBS Data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE SonaMigration.VerifileDBSData",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "VF Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "VF Number",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Applicant First Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Applicant First Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Applicant Last Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Applicant Last Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Check Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Check Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Criminal Disclosure Application No.",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Criminal Disclosure Application No.",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Check Completion Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Completion Date",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Check Result",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Check Result",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_Sona_Verifile_DBS",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_AH2_TRANSFORM_DB",
								"type": "DatasetReference",
								"parameters": {
									"Schema": "SonaMigration",
									"Table": "VerifileDBSData"
								}
							}
						]
					},
					{
						"name": "Sona RTW Mapping",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_Sona_RTW_Mapping",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_AH2_TRANSFORM_DB",
								"type": "DatasetReference",
								"parameters": {
									"Schema": "SonaMigration",
									"Table": "Sona_RTW_Mapping"
								}
							}
						]
					},
					{
						"name": "Verifile Combined Report",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_Sona_Migration_Excel",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_AH2_TRANSFORM_DB",
								"type": "DatasetReference",
								"parameters": {
									"Schema": "SonaMigration",
									"Table": "VerifileCombinedReport"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Sona"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Sona_Parent_OrgUnits')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Parent OrgUnits",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['org_id']"
										},
										"sink": {
											"name": "OrgUnits_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['data']['name']"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['data']['timezone']"
										},
										"sink": {
											"name": "timezone",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['data']['is_base_entity']"
										},
										"sink": {
											"name": "is_base_entity",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['data']['org_unit_type']['id']"
										},
										"sink": {
											"name": "org_unit_type_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['data']['org_unit_type']['name']"
										},
										"sink": {
											"name": "org_unit_type_name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['data']['accounting_cost_code']"
										},
										"sink": {
											"name": "accounting_cost_code",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['data']['average_hourly_rate']"
										},
										"sink": {
											"name": "average_hourly_rate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['data']['paycaptain_company_id']"
										},
										"sink": {
											"name": "paycaptain_company_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['data']['parent_org_unit']['id']"
										},
										"sink": {
											"name": "parent_org_unit_id",
											"type": "String"
										}
									}
								],
								"collectionReference": ""
							}
						},
						"inputs": [
							{
								"referenceName": "DS_Sona_Initial_File",
								"type": "DatasetReference",
								"parameters": {
									"Filename": "merged_parent_orgs3.json"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_AH2_TRANSFORM_DB",
								"type": "DatasetReference",
								"parameters": {
									"Schema": "Sona",
									"Table": "STG_OrgUnits"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Sona/Initial API Files"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Sona_PayLines')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PayLines",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['id']"
										},
										"sink": {
											"name": "PayLines_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['comment']"
										},
										"sink": {
											"name": "comment",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['entry_type']"
										},
										"sink": {
											"name": "entry_type",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['variant']"
										},
										"sink": {
											"name": "variant",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['user_id']"
										},
										"sink": {
											"name": "user_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['duration_in_minutes']"
										},
										"sink": {
											"name": "duration_in_minutes",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "[['start_datetime']"
										},
										"sink": {
											"name": "start_datetime",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['end_datetime']"
										},
										"sink": {
											"name": "end_datetime",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['is_sleep']"
										},
										"sink": {
											"name": "is_sleep",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"path": "[['shift_id']"
										},
										"sink": {
											"name": "shift_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['pay_type']"
										},
										"sink": {
											"name": "pay_type",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['rate_of_pay']['id']"
										},
										"sink": {
											"name": "rate_of_pay_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['rate_of_pay']['rate']"
										},
										"sink": {
											"name": "rate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['rate_of_pay']['pay_type']"
										},
										"sink": {
											"name": "rate_of_pay_pay_type",
											"type": "String"
										}
									}
								],
								"collectionReference": "$['entries']"
							}
						},
						"inputs": [
							{
								"referenceName": "DS_Sona_Json",
								"type": "DatasetReference",
								"parameters": {
									"Filename": "pay_lines 17-11 to 23-11.json"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_AH2_TRANSFORM_DB",
								"type": "DatasetReference",
								"parameters": {
									"Schema": "Sona",
									"Table": "STG_PayLines"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Sona/Initial API Files"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Sona_Stage_All_Users')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Loads All users from the file created by the Azure App",
				"activities": [
					{
						"name": "Users",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Set Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE Sona.STG_Users",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['work_email']"
										},
										"sink": {
											"name": "work_email",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['last_name']"
										},
										"sink": {
											"name": "last_name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['external_id']"
										},
										"sink": {
											"name": "external_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['marital_status']"
										},
										"sink": {
											"name": "marital_status",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['active']"
										},
										"sink": {
											"name": "active",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['preferred_name']"
										},
										"sink": {
											"name": "preferred_name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['final_date_of_employment']"
										},
										"sink": {
											"name": "final_date_of_employment",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['middle_name']"
										},
										"sink": {
											"name": "middle_name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['exclude_from_payroll']"
										},
										"sink": {
											"name": "exclude_from_payroll",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['administrative_org_unit']['id']"
										},
										"sink": {
											"name": "administrative_org_unit_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['agency']['id']"
										},
										"sink": {
											"name": "agency_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['first_name']"
										},
										"sink": {
											"name": "first_name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['title']"
										},
										"sink": {
											"name": "title",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['legal_first_name']"
										},
										"sink": {
											"name": "legal_first_name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['id']"
										},
										"sink": {
											"name": "user_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['organisation_user_id']"
										},
										"sink": {
											"name": "organisation_user_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['sex']"
										},
										"sink": {
											"name": "sex",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['identifies_as']"
										},
										"sink": {
											"name": "identifies_as",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['date_of_birth']"
										},
										"sink": {
											"name": "date_of_birth",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['state']"
										},
										"sink": {
											"name": "state",
											"type": "String"
										}
									}
								],
								"collectionReference": "$['entries']"
							}
						},
						"inputs": [
							{
								"referenceName": "DS_Sona_Json_WeeklyHrs",
								"type": "DatasetReference",
								"parameters": {
									"FileName": "all_users$",
									"DateString": "@variables('DateString')"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_AH2_TRANSFORM_DB",
								"type": "DatasetReference",
								"parameters": {
									"Schema": "Sona",
									"Table": "STG_Users"
								}
							}
						]
					},
					{
						"name": "Users_types_of_work",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Users",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE Sona.STG_Users_Types_Of_work",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['id']"
										},
										"sink": {
											"name": "user_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['organisation_user_id']"
										},
										"sink": {
											"name": "organisation_user_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['types_of_work'][0]['id']"
										},
										"sink": {
											"name": "user_types_pf_work_ido",
											"type": "String"
										}
									}
								],
								"collectionReference": "$['entries']"
							}
						},
						"inputs": [
							{
								"referenceName": "DS_Sona_Json_WeeklyHrs",
								"type": "DatasetReference",
								"parameters": {
									"FileName": "all_users$",
									"DateString": "@variables('DateString')"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_AH2_TRANSFORM_DB",
								"type": "DatasetReference",
								"parameters": {
									"Schema": "Sona",
									"Table": "STG_Users_Types_Of_work"
								}
							}
						]
					},
					{
						"name": "Upsert Users",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Users_types_of_work",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"user_id"
									]
								},
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "user_id",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "user_id",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "organisation_user_id",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "organisation_user_id",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "external_id",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "external_id",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "active",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "active",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "state",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "state",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "first_name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "first_name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "legal_first_name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "legal_first_name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "middle_name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "middle_name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "last_name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "last_name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "administrative_org_unit_id",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "administrative_org_unit_id",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "exclude_from_payroll",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "exclude_from_payroll",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "marital_status",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "marital_status",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "work_email",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "work_email",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "date_of_birth",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "date_of_birth",
											"type": "Date",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "preferred_name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "preferred_name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "final_date_of_employment",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "final_date_of_employment",
											"type": "Date",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "identifies_as",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "identifies_as",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "title",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "title",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "sex",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "sex",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "agency_id",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "agency_id",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_AH2_TRANSFORM_DB",
								"type": "DatasetReference",
								"parameters": {
									"Schema": "Sona",
									"Table": "STG_Users"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_AH2_TRANSFORM_DB",
								"type": "DatasetReference",
								"parameters": {
									"Schema": "Sona",
									"Table": "Users"
								}
							}
						]
					},
					{
						"name": "Upsert Users_types_of_work",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Upsert Users",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"user_id"
									]
								},
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "user_id",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "user_id",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "organisation_user_id",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "organisation_user_id",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "external_id",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "external_id",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "active",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "active",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "state",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "state",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "first_name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "first_name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "legal_first_name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "legal_first_name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "middle_name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "middle_name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "last_name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "last_name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "administrative_org_unit_id",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "administrative_org_unit_id",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "exclude_from_payroll",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "exclude_from_payroll",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "marital_status",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "marital_status",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "work_email",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "work_email",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "date_of_birth",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "date_of_birth",
											"type": "Date",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "preferred_name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "preferred_name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "final_date_of_employment",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "final_date_of_employment",
											"type": "Date",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "identifies_as",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "identifies_as",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "title",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "title",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "sex",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "sex",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "agency_id",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "agency_id",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_AH2_TRANSFORM_DB",
								"type": "DatasetReference",
								"parameters": {
									"Schema": "Sona",
									"Table": "STG_Users_Types_Of_work"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_AH2_TRANSFORM_DB",
								"type": "DatasetReference",
								"parameters": {
									"Schema": "Sona",
									"Table": "Users_Types_Of_work"
								}
							}
						]
					},
					{
						"name": "Set Date",
						"description": "Sets the date variable used in source dataset",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "DateString",
							"value": {
								"value": "@utcNow('yyyy-MM-dd')",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"DateString": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Sona/Child Pipelines"
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}