Avery-ADF/linkedTemplates/ArmTemplate_9.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "Avery-ADF"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PL_YourHippo_Process_WebHook_Result_files')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Result File List",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_YourHippo_WebHook_Json_Result_File",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "JsonReadSettings"
							}
						}
					},
					{
						"name": "Process File List",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Result File List",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Result File List').output.childItems",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Process Result Files",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"wildcardFileName": "@item().Name",
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "upsert",
											"upsertSettings": {
												"useTempDB": true,
												"keys": [
													"ResultID"
												]
											},
											"sqlWriterUseTableLock": false,
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"path": "$['data']['result']['id']"
													},
													"sink": {
														"name": "ResultID",
														"type": "Int32"
													}
												},
												{
													"source": {
														"path": "$['data']['result']['passed']"
													},
													"sink": {
														"name": "Passed",
														"type": "Boolean"
													}
												},
												{
													"source": {
														"path": "$['data']['result']['grade']"
													},
													"sink": {
														"name": "Grade",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['data']['result']['score']"
													},
													"sink": {
														"name": "Score",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"path": "$['data']['result']['completed_at']"
													},
													"sink": {
														"name": "CompletedAt",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"path": "$['data']['result']['expires_at']"
													},
													"sink": {
														"name": "ExpiresAt",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"path": "$['data']['result']['has_expired']"
													},
													"sink": {
														"name": "HasExpired",
														"type": "Boolean"
													}
												},
												{
													"source": {
														"path": "$['data']['result']['course']['id']"
													},
													"sink": {
														"name": "CourseID",
														"type": "Int32"
													}
												},
												{
													"source": {
														"path": "$['data']['result']['user']['id']"
													},
													"sink": {
														"name": "UserID",
														"type": "String"
													}
												}
											],
											"collectionReference": ""
										}
									},
									"inputs": [
										{
											"referenceName": "DS_YourHippo_WebHook_Json_Result_File",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_AH2_TRANSFORM_DB",
											"type": "DatasetReference",
											"parameters": {
												"Schema": "YourHippo",
												"Table": "Results"
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "Archive Files",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Process File List",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"deleteFilesAfterCompletion": true
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_YourHippo_WebHook_Files",
								"type": "DatasetReference",
								"parameters": {
									"Folder": {
										"value": "@concat('WebhookFiles', '/', 'Result')",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_YourHippo_WebHook_Files",
								"type": "DatasetReference",
								"parameters": {
									"Folder": {
										"value": "@concat('WebhookFiles', '/', 'Result', '/', 'Archive')",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "YourHippo/Child Pipelines"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_AEMS_Export')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute Pipeline1",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Remove CR and LF",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_AEMS_Enquiries_Export",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Pipeline2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute Pipeline1",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_AEMS_Export_PBData",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Remove CR and LF",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[AEMS].[Enquiries$RemoveHiddenCharacters]"
						},
						"linkedServiceName": {
							"referenceName": "AH2_TRANSFORM_DB",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "AEMS"
				},
				"annotations": [],
				"lastPublishTime": "2024-04-29T16:06:59Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Artisan')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Pipeline to move Artisan Data to the Artisan SQL Server",
				"activities": [
					{
						"name": "Home Details",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_Artisan_Homes",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "AEMS Data",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Home Details",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_Artisan_AEMS_Enquiries",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Occupancy Data",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "AEMS Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_Artisan_Occupancy",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Artisan Debt",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Occupancy Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_Artisan_Debt",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Artisan budget",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Artisan Debt",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_Artisan_budget",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Artisan HomeDetails",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Artisan budget",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_Artisan_vHomeDetails",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Artisan RLS",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Artisan HomeDetails",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_Artisan_vRLS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Artisan"
				},
				"annotations": [],
				"lastPublishTime": "2024-07-02T10:33:39Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Bill_Profile_With_FundSource')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Export Profile and Fundsource",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT DISTINCT\r\n\tP.PRO_CODE AS profile_code\r\n\t,P.PRODESC AS profile_description\r\n\t,CONTACT.CONTACT_REF AS oCnta_Det_Ref\r\n\t,CONCAT(RTRIM(CONTACT.FORENAMES), RTRIM(CONTACT.SURNAME)) AS FundSourceName\t\r\nFROM \r\n\tFUNDSRC_HD AS ACC\r\n\r\n\tLEFT JOIN PROFILES AS P\r\n\t\tON P.PRO_REF = ACC.PRO_REF\r\n\r\n\tLEFT JOIN CONTACT_HD AS CONTACT\r\n\t\tON CONTACT.CONTACT_REF = ACC.CNTA_DET_REF\r\n\r\n\tLEFT JOIN CALENDAR_HD AS CALENDAR\r\n\t\tON CALENDAR.CAL_REF = ACC.CAL_REF\r\n\t\t\r\n\tLEFT JOIN RESIDENT AS R\r\n\t\tON R.RES_REF = ACC.RES_REF\r\nWHERE\r\n\tP.FSTYPE = 401\r\n\tAND R.STATUS IN (25028, 25029)",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_OnPrem_CH_IP",
								"type": "DatasetReference",
								"parameters": {
									"Schema": "n/a",
									"Table": "n/a"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_Yardi_CSV",
								"type": "DatasetReference",
								"parameters": {
									"Filename": {
										"value": "@concat('LA Billing Profiles and FundSource - ', utcNow('yyyy-MM-dd'), '.csv')",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Yardi/CHIP"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Broadshield_Download_Data')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Downloads data from Broadshields API each evening @ 11:45",
				"activities": [
					{
						"name": "Download Users",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_BroadShield_Users",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Download Courses",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Download Users",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_BroadShield_Courses",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Download UserCourses",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Download Courses",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_BroadShield_UserCourses",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Broadshield"
				},
				"annotations": [],
				"lastPublishTime": "2024-10-03T15:41:31Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Broadshield_Process_Data')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Uses the daily Json files from Broadshield API to update the Current table with an Upsert operation. And add new/updated records to the History tables.",
				"activities": [
					{
						"name": "Update Current data",
						"description": "Upserts data from the JSON files to the current tables",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_BroadShield_JSON_SQL_Current",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Create History records",
						"description": "Inserts any new or updated records into the history tables.",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Update Current data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_BroadShield_JSON_SQL_History",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Broadshield"
				},
				"annotations": [],
				"lastPublishTime": "2024-10-08T10:01:01Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_CH_Bill_Profile_With_Calendar')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Export billing profiles and Calendars used",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT DISTINCT\n\tP.PRO_CODE AS profile_code,\n\tP.PRODESC AS profile_description,\n\tCALENDAR.CAL_REF AS Cal_Ref,\n\tCALENDAR.CAL_CODE AS calendar_code,\n\tCALENDAR.CAL_DESC AS calendar_description\t\nFROM \n\tFUNDSRC_HD AS ACC\n\n\tLEFT JOIN PROFILES AS P\n\t\tON P.PRO_REF = ACC.PRO_REF\n\n\tLEFT JOIN CONTACT_HD AS CONTACT\n\t\tON CONTACT.CONTACT_REF = ACC.CNTA_DET_REF\n\n\tLEFT JOIN CALENDAR_HD AS CALENDAR\n\t\tON CALENDAR.CAL_REF = ACC.CAL_REF\nWHERE\n\tP.FSTYPE = 401",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_OnPrem_CH_IP",
								"type": "DatasetReference",
								"parameters": {
									"Schema": "n/a",
									"Table": "n/a"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_Yardi_CSV",
								"type": "DatasetReference",
								"parameters": {
									"Filename": {
										"value": "@concat('LA Billing Profile Calendar Usage - ', utcNow('yyyy-MM-dd'), '.csv')",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Yardi/CHIP"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_CH_Billing_Profiles')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Extract Local Auth Profiles",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Clear LocalAuthProfiles Table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT \r\n    Site.SiteId\r\n\t,Site.SiteName\r\n\t,Profiles.Pro_code AS profile_code\r\n    ,Profiles.Prodesc AS profile_description\r\n    ,Chsysdec.Description AS account_type\r\n    ,Profiles.Pro_ref\r\n    ,Profiles.Billdays AS bill_days_or_nights\r\n    ,Profiles.Billdeath AS bill_day_of_death\r\n    ,Profiles.Billdod AS bill_day_of_discharge\r\n    ,Profiles.Billdoa AS bill_day_of_admission\r\n    ,Profiles.Invprint\r\n    ,Profiles.Invdoc\r\n    ,Profiles.Soflag AS standing_order\r\n    ,Profiles.Noticeper AS notice_period\r\n    ,Profiles.Nperanal AS notice_period_analysis_code\r\n    ,Profiles.Npervatr AS notice_period_vat_code\r\n    ,Profiles.Defrate AS default_charge_rate\r\n    ,Profiles.Chgper AS charge_period\r\n    ,Profiles.Feesanal AS analysis_code\r\n    ,Profiles.Feesdesc AS fees_description\r\n    ,Profiles.FeesVatC AS vat_code\r\n    ,Profiles.BillAbs AS bill_while_temp_absent\r\n    ,Profiles.Autocredit AS automatic_credit\r\n    ,Profiles.PenBooks AS attach_pension_books\r\n    ,Profiles.UserMemo\r\n    ,Profiles.NoInvDec\r\n    ,Profiles.sg_BankAcc\r\n    ,Profiles.UseFlag\r\n    ,Profiles.OOSExtraContrib\r\n\r\nFROM \r\n\tProfiles (NOLOCK)\r\n\r\n    JOIN Chsysdec (NOLOCK) -- Lookup table for values?\r\n        ON Chsysdec.Decode_Ref = Profiles.FsType\r\n\r\n    JOIN Site (NOLOCK)\r\n        ON Site.Site_Ref IN (\r\n                                SELECT Site_Ref\r\n                                FROM Site_Join (NOLOCK)\r\n                                WHERE Site_Join.LinkKey = Profiles.Pro_Ref\r\n                                      AND upper(Site_Join.LinkTable) = 'PROFILES'\r\n                            )\r\n           OR Profiles.SiteFilter = 0\r\nWHERE \r\n\tProfiles.FSTYPE = 401 --Local Auth\r\n\tAND Site.SITEID IN (\r\n\t071,\r\n072,\r\n073,\r\n074,\r\n075,\r\n078,\r\n079,\r\n086,\r\n089,\r\n088,\r\n091,\r\n092,\r\n090,\r\n095,\r\n096,\r\n097,\r\n098,\r\n099,\r\n100,\r\n101,\r\n102,\r\n103,\r\n104,\r\n105,\r\n106,\r\n107,\r\n108,\r\n109,\r\n110,\r\n111,\r\n112,\r\n113,\r\n114,\r\n115,\r\n116,\r\n117,\r\n118,\r\n119,\r\n120,\r\n121,\r\n122,\r\n123,\r\n127,\r\n128\r\n)",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_OnPrem_CH_IP",
								"type": "DatasetReference",
								"parameters": {
									"Schema": "n/a",
									"Table": "n/a"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_AH2_YardiStage",
								"type": "DatasetReference",
								"parameters": {
									"Schema": "dbo",
									"Table": "LocalAuthProfiles"
								}
							}
						]
					},
					{
						"name": "Export to CSV file",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Extract Local Auth Profiles",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT \n    H.Home_Ref\n    --,P.SiteId\n    ,SiteName\n    ,profile_code\n    ,profile_description\n    ,account_type\n    ,Pro_ref\n    ,bill_days_or_nights\n    ,bill_day_of_death\n    ,bill_day_of_discharge\n    ,bill_day_of_admission\n    --,Invprint\n    --,Invdoc\n    ,standing_order\n    ,notice_period\n    ,notice_period_analysis_code\n    ,notice_period_vat_code\n    ,default_charge_rate\n    ,charge_period\n    ,analysis_code\n    ,fees_description\n    ,vat_code\n    ,bill_while_temp_absent\n    ,automatic_credit\n    ,attach_pension_books\n    --,UserMemo\n    --,NoInvDec\n    ,sg_BankAcc\n    --,UseFlag\n    --,OOSExtraContrib\nFROM \n    dbo.LocalAuthProfiles AS P\n\n    LEFT JOIN ColdHarbourHomeID AS H\n        ON H.SITEID = P.SiteId",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_AH2_YardiStage",
								"type": "DatasetReference",
								"parameters": {
									"Schema": "n/a",
									"Table": "n/a"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_Yardi_CSV",
								"type": "DatasetReference",
								"parameters": {
									"Filename": {
										"value": "@concat('LA Billing Profiles - ', utcNow('yyyy-MM-dd'), '.csv')",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Clear LocalAuthProfiles Table",
						"type": "Script",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "AH2_YardiStage",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "TRUNCATE TABLE dbo.LocalAuthProfiles"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Yardi/CHIP"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_CH_Calendars')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Extract Calendars",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Clear Calendars table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT DISTINCT\n    Site.SiteName\n    ,Site.SiteId\n    ,Calendar_Hd.Cal_Ref\n    ,Calendar_Hd.Cal_code AS calendar_code\n    ,Calendar_Hd.Cal_desc as calendar_description\n    ,DECGrouping.Description AS calendar_grouping\n    ,Calendar_Hd.Invdtoff\n    ,Calendar_Hd.Invdttype\n    ,Calendar_Hd.BldStartDt AS calendar_start_date\n    ,Calendar_Hd.BldEndDt AS calendar_end_date\n    ,Calendar_Hd.BldFreq AS frequency\n    ,Calendar_Hd.BldDays AS no_of_days\n    ,Calendar_Hd.ProcFlag\n    ,Calendar_Hd.SiteFilter\n    ,Calendar_Hd.Sched_Only\n    ,Calendar_Hd.AutoProc\n    ,Calendar_Hd.ProcOffset\n    ,Calendar_Hd.AutoProcWarn\n    ,Calendar_Hd.InvOffset\n    ,Calendar_Hd.AutoInvWarn\n    ,Calendar_Dt.StartDate AS period_start_date\n    ,Calendar_Dt.EndDate AS period_end_date\n    ,Calendar_Dt.BillDate AS period_bill_date\n    ,Calendar_Dt.SSProcessDate\n    ,Calendar_Dt.SSInvoiceDate\nFROM \n\tCalendar_Hd (NOLOCK)\n    \n\tJOIN ChSysDec AS DECGrouping (NOLOCK)\n        ON DECGrouping.Decode_Ref = Calendar_Hd.Grouping\n    \n\tJOIN Calendar_Dt (NOLOCK)\n        ON Calendar_Dt.Cal_Ref = Calendar_Hd.Cal_Ref\n    \n\tJOIN Site (NOLOCK)\n        ON Site.Site_Ref IN (\n                                SELECT Site_Ref\n                                FROM Site_Join (NOLOCK)\n                                WHERE Site_Join.LinkKey = Calendar_Hd.Cal_Ref\n                                      AND upper(Site_Join.LinkTable) = 'CALENDAR_HD'\n                            )\n           OR Calendar_Hd.SiteFilter = 0\nWHERE \n\tCalendar_Hd.Cal_Code\n    BETWEEN '      ' AND 'ZZZZZZ'\n    AND Calendar_Dt.StartDate\n    BETWEEN '17530101' AND '20991212'\n    AND Calendar_Dt.EndDate\n    BETWEEN '17530101' AND '20991212'\n    AND (\n            Calendar_Dt.BillDate\n    BETWEEN '17530101' AND '20991212'\n            OR Calendar_Dt.BillDate IS NULL\n        )\n    AND Site.SITEID IN (\n\t071,\n\t072,\n\t073,\n\t074,\n\t075,\n\t078,\n\t079,\n\t086,\n\t089,\n\t088,\n\t091,\n\t092,\n\t090,\n\t095,\n\t096,\n\t097,\n\t098,\n\t099,\n\t100,\n\t101,\n\t102,\n\t103,\n\t104,\n\t105,\n\t106,\n\t107,\n\t108,\n\t109,\n\t110,\n\t111,\n\t112,\n\t113,\n\t114,\n\t115,\n\t116,\n\t117,\n\t118,\n\t119,\n\t120,\n\t121,\n\t122,\n\t123,\n\t127,\n\t128\n\t)\nORDER BY \n\tCalendar_Hd.Cal_code",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_OnPrem_CH_IP",
								"type": "DatasetReference",
								"parameters": {
									"Schema": "n/a",
									"Table": "n/a"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_AH2_YardiStage",
								"type": "DatasetReference",
								"parameters": {
									"Schema": "dbo",
									"Table": "Calendars"
								}
							}
						]
					},
					{
						"name": "Export to CSV file",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Extract Calendars",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT \n    H.HOME_REF\n    ,SiteName\n    --,Cal.SiteId\n    ,Cal_Ref\n    ,calendar_code\n    ,calendar_description\n    ,calendar_grouping\n    --,Invdtoff\n    --,Invdttype\n    ,calendar_start_date\n    ,calendar_end_date\n    ,frequency\n    ,no_of_days\n    ,ProcFlag\n    ,SiteFilter\n    ,Sched_Only\n    --,AutoProc\n    --,ProcOffset\n    --,AutoProcWarn\n    --,InvOffset\n    --,AutoInvWarn\n    ,period_start_date\n    ,period_end_date\n    ,period_bill_date\n    ,SSProcessDate\n    ,SSInvoiceDate\nFROM \n    dbo.Calendars AS Cal\n\n    LEFT JOIN dbo.ColdHarbourHomeID AS H\n        ON H.SITEID = Cal.SiteID\n",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_AH2_YardiStage",
								"type": "DatasetReference",
								"parameters": {
									"Schema": "n/a",
									"Table": "n/a"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_Yardi_CSV",
								"type": "DatasetReference",
								"parameters": {
									"Filename": {
										"value": "@concat('Calendars - ', utcNow('yyyy-MM-dd'), '.csv')",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Clear Calendars table",
						"type": "Script",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "AH2_YardiStage",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "TRUNCATE TABLE dbo.Calendars"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Yardi/CHIP"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_CH_Residents')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Resident data from GRG",
				"activities": [
					{
						"name": "Copy Residents data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"RES_CODE"
									]
								},
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_OnPrem_CH_GRG",
								"type": "DatasetReference",
								"parameters": {
									"Schema": "dbo",
									"Table": "Resident"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_AH2_Avery",
								"type": "DatasetReference",
								"parameters": {
									"Schema": "ColdHarbour",
									"Table": "Residents"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Avery"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_CQC_Proces_API_Results')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Runs pipelines to copy files from file share, then process them into SQL tables.",
				"activities": [
					{
						"name": "Copy Files to Azure storage",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_CQC_CopyAPI_Responses",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Process Location Details",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Copy Files to Azure storage",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_CQC_Upsert_Location",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Process Provider details",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Process Location Details",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_CQC_Upsert_Provider",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Update Home ratings",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Process Provider details",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_CQC_Upsert_HomeAssessment",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "CQC"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_CareBlox_Data_Load')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Copies the Parquet files from the Azure file share to Azure blob storage. Then copies data from the files and loads into the TRANSFROM_DB",
				"activities": [
					{
						"name": "Copy Files to Blob Storage",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Clear Stage Tables_copy1",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_CareBlox-parquet-copy",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Import data to Stage tables",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Copy Files to Blob Storage",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_CareBlox-parquet-load-STG",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Upsert to tables",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Import data to Stage tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_CareBlox-SQL-upsert",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Clear Stage Tables",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Upsert to tables",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_CareBlox_Clear_STGTables",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Clear Stage Tables_copy1",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_CareBlox_Clear_STGTables",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Careblox"
				},
				"annotations": [],
				"lastPublishTime": "2024-09-26T11:05:27Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_CareBlox_Download')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Download bak files from FTP",
						"description": "Download the zipped bak files from FTP",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_CareBlox-bak-Files",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Copy Bak files to Fileshare",
						"description": "Copy today's downloaded bak files",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Wait 15",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_CareBlox-Fileshare",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Wait 15",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "Download bak files from FTP",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 15
						}
					},
					{
						"name": "Copy Bak files to Fileshare Failure",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Copy Bak files to Fileshare",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "UT_Send_Email_Param",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"EmailTo": "jon.crockett@averyhealthcare.co.uk",
								"Message": "Pipeline failed",
								"Colour": {
									"value": "Red",
									"type": "Expression"
								},
								"PipelineName": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								},
								"PipelineRunID": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								},
								"pStepFailed": "Copy Bak files to Fileshare"
							}
						}
					},
					{
						"name": "Download bak files from FTP Failure",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Download bak files from FTP",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "UT_Send_Email_Param",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"EmailTo": "jon.crockett@averyhealthcare.co.uk",
								"Message": "Pipeline failed",
								"Colour": {
									"value": "Red",
									"type": "Expression"
								},
								"PipelineName": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								},
								"PipelineRunID": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								},
								"pStepFailed": "Download bak files from FTP"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Careblox"
				},
				"annotations": [],
				"lastPublishTime": "2024-10-01T10:23:31Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Exchequer_CompanyAccessAudit')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Transfer File to Blob Storage",
						"description": "Copies the file generated on the VM from the file share to container in Blob Storage",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_Exchequer_Fileshare",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Load CSV file to DB table",
						"description": "Inserts the records in the csv file to the Avery DB on AH2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Transfer File to Blob Storage",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_Insert_ExchequerCompanyAccess",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Exchequer"
				},
				"annotations": [],
				"lastPublishTime": "2024-06-27T14:27:51Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_GRG_ResidentContacts')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Export Resident Contacts",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": {
									"value": "SELECT\n    Address1\n    ,Address2\n    ,Address3\n    ,Address4\n    ,AmendDateTime\n    ,Cont_SubType\n    ,Cont_SubTypeDec\n    ,CreateDateTime\n    ,Forenames\n    ,GRGApp_GrGsRef\n    ,GRGrep_Cnta_Det_Ref\n    ,Gen_Comments\n    ,PostCode\n    ,RelType\n    ,RelTypeDec\n    ,Res_Ref\n    ,Surname\n    ,Tel_No1\n    ,Tel_No2\n    ,TitleDec\n    ,oCnta_Det_Ref\n    ,Email\n    ,LASTUPDATE\nFROM \n    dbo.RESCONTACTS\nWHERE\n    Res_Ref IN (SELECT ORES_REF FROM RESIDENT WHERE HOME_REF IN (@{variables('Home_Ref_List')}))",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Address1",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Address1",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Address2",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Address2",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Address3",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Address3",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Address4",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Address4",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AmendDateTime",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "AmendDateTime",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "Cont_SubType",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Cont_SubType",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Cont_SubTypeDec",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Cont_SubTypeDec",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CreateDateTime",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "CreateDateTime",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "Forenames",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Forenames",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "GRGApp_GrGsRef",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "GRGApp_GrGsRef",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "GRGrep_Cnta_Det_Ref",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "GRGrep_Cnta_Det_Ref",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Gen_Comments",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "Gen_Comments",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PostCode",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "PostCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "RelType",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "RelType",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "RelTypeDec",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "RelTypeDec",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Res_Ref",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Res_Ref",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Surname",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Surname",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Tel_No1",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Tel_No1",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Tel_No2",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Tel_No2",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TitleDec",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TitleDec",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "oCnta_Det_Ref",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "oCnta_Det_Ref",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Email",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Email",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LASTUPDATE",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "LASTUPDATE",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_OnPrem_CH_GRG",
								"type": "DatasetReference",
								"parameters": {
									"Schema": "n/a",
									"Table": "n/a"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_AH2_YardiStage",
								"type": "DatasetReference",
								"parameters": {
									"Schema": "GRG",
									"Table": "RESIDENTCONTACTS"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"Home_Ref_List": {
						"type": "String",
						"defaultValue": "644,627,637,649,638,603,611,607,655,624,623,633,628,632,641,650,654,618,642,643,629,647,653,660,621,630,620,606,622,631,610,605,634,604,635,645,646,651,636,639,659,652,640,648"
					}
				},
				"folder": {
					"name": "Yardi/YardiStage"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_GRG_Residents')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy GRG Resident data",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ADANAL_DEC",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ADANAL_DEC",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ADDRESS1",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ADDRESS1",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ADDRESS2",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ADDRESS2",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ADDRESS3",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ADDRESS3",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ADDRESS4",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ADDRESS4",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ADMSN_ANAL",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ADMSN_ANAL",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ADMSN_TYPE",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ADMSN_TYPE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ADM_REASON",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ADM_REASON",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ADTYP_DEC",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ADTYP_DEC",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ANAL_GROUP",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ANAL_GROUP",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AUTHORITY",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "AUTHORITY",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AmendDateTime",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "AmendDateTime",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "BIRTHDATE",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "BIRTHDATE",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "CARECAT",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "CARECAT",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CONTSIGNED",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "CONTSIGNED",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "CreateDateTime",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "CreateDateTime",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "DISABILITY",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "DISABILITY",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ENQ_REF",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ENQ_REF",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "HOME",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "HOME",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "HOME_REF",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "HOME_REF",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "LASTADDATE",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "LASTADDATE",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "LASTDIDATE",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "LASTDIDATE",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "LOC_DESC",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "LOC_DESC",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "LOC_REF",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "LOC_REF",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "MARKETING",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MARKETING",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "NINUMBER",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "NINUMBER",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "OCC_IGNORE",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "OCC_IGNORE",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "ORES_REF",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ORES_REF",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ORIGADDATE",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "ORIGADDATE",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "POSTCODE",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "POSTCODE",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "RELIGION",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "RELIGION",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "RESPAYINT",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "RESPAYINT",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "RES_CODE",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "RES_CODE",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "RES_FNAME",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "RES_FNAME",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "RES_REF",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "RES_REF",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "RES_SNAME",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "RES_SNAME",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ROOM",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "ROOM",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "ROOMCAT",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ROOMCAT",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ROOM_DESC",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ROOM_DESC",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ROOM_TYPE",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "ROOM_TYPE",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "SEX",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "SEX",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "STATUS",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "STATUS",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TEL_NO1",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TEL_NO1",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TEL_NO2",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TEL_NO2",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TITLE",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TITLE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "USERDEF",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "USERDEF",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AUTHCODE",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "AUTHCODE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "DOUBLEINS",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "DOUBLEINS",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "FIRSTAWARE",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "FIRSTAWARE",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "FIRSTVISIT",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "FIRSTVISIT",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "REAL_FNAME",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "REAL_FNAME",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "REAL_SNAME",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "REAL_SNAME",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "REAL_TITLE",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "REAL_TITLE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "SIGIND",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "SIGIND",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "THIRDPARTY",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "THIRDPARTY",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "USERFIELD1",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "USERFIELD1",
											"type": "String",
											"physicalType": "text"
										}
									},
									{
										"source": {
											"name": "USERFIELD2",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "USERFIELD2",
											"type": "String",
											"physicalType": "text"
										}
									},
									{
										"source": {
											"name": "USERFIELD3",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "USERFIELD3",
											"type": "String",
											"physicalType": "text"
										}
									},
									{
										"source": {
											"name": "NHSNUMBER",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "NHSNUMBER",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ALTCOMMS",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ALTCOMMS",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ALTCOMMS_REF",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ALTCOMMS_REF",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ASS_ACTBY",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ASS_ACTBY",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ASS_ACTBY_REF",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ASS_ACTBY_REF",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ASS_ACTDT",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "ASS_ACTDT",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "CONNECTION",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "CONNECTION",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CONNECTIONDET",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "CONNECTIONDET",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CONNECTION_REF",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "CONNECTION_REF",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "FUNDERREF",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "FUNDERREF",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "LANGUAGE",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "LANGUAGE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "LANGUAGE_REF",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "LANGUAGE_REF",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "MOVEDINFROM",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MOVEDINFROM",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "MOVEDINFROM_REF",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "MOVEDINFROM_REF",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "PATIENTREF",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "PATIENTREF",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "PICID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "PICID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "PREVCODE",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "PREVCODE",
											"type": "String",
											"physicalType": "char"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_AH2_Polestar",
								"type": "DatasetReference",
								"parameters": {
									"Schema": "dbo",
									"Table": "Resident"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_AH2_YardiStage",
								"type": "DatasetReference",
								"parameters": {
									"Schema": "GRG",
									"Table": "Resident"
								}
							}
						]
					},
					{
						"name": "Export Residents",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": {
									"value": "SELECT \n    ADANAL_DEC\n    ,ADDRESS1\n    ,ADDRESS2\n    ,ADDRESS3\n    ,ADDRESS4\n    ,ADMSN_ANAL\n    ,ADMSN_TYPE\n    ,ADM_REASON\n    ,ADTYP_DEC\n    ,ANAL_GROUP\n    ,AUTHORITY\n    ,AmendDateTime\n    ,BIRTHDATE\n    ,CARECAT\n    ,CONTSIGNED\n    ,CreateDateTime\n    ,DISABILITY\n    ,ENQ_REF\n    ,HOME\n    ,HOME_REF\n    ,LASTADDATE\n    ,LASTDIDATE\n    ,LOC_DESC\n    ,LOC_REF\n    ,MARKETING\n    ,NINUMBER\n    ,OCC_IGNORE\n    ,ORES_REF\n    ,ORIGADDATE\n    ,POSTCODE\n    ,RELIGION\n    ,RESPAYINT\n    ,RES_CODE\n    --,RES_FNAME\n\t,CASE \n\t\tWHEN CHARINDEX('&', RES_FNAME) > 0 THEN RES_FNAME\n\t\tWHEN CHARINDEX('-', RES_FNAME) > 0 THEN RES_FNAME\n\t\tELSE (SUBSTRING(RES_FNAME, 1, CHARINDEX(' ', RES_FNAME + ' ')))\n\tEND AS RES_FNAME\n    ,RES_REF\n    ,RES_SNAME\n    ,ROOM\n    ,ROOMCAT\n    ,ROOM_DESC\n    ,ROOM_TYPE\n    ,SEX\n    ,STATUS\n    ,TEL_NO1\n    ,TEL_NO2\n    ,TITLE\n    ,USERDEF\n    ,AUTHCODE\n    ,DOUBLEINS\n    ,FIRSTAWARE\n    ,FIRSTVISIT\n    ,REAL_FNAME\n    ,REAL_SNAME\n    ,REAL_TITLE\n    ,SIGIND\n    ,THIRDPARTY\n    ,USERFIELD1\n    ,USERFIELD2\n    ,USERFIELD3\n    ,NHSNUMBER\n    ,ALTCOMMS\n    ,ALTCOMMS_REF\n    ,ASS_ACTBY\n    ,ASS_ACTBY_REF\n    ,ASS_ACTDT\n    ,CONNECTION\n    ,CONNECTIONDET\n    ,CONNECTION_REF\n    ,FUNDERREF\n    ,LANGUAGE\n    ,LANGUAGE_REF\n    ,MOVEDINFROM\n    ,MOVEDINFROM_REF\n    ,PATIENTREF\n    ,PICID\n    ,PREVCODE\n\t,CASE \n\t\tWHEN CHARINDEX('\"', RES_FNAME) > 0 THEN\n\t\t\tLTRIM(SUBSTRING(\n\t\t\t\tRES_FNAME, \n\t\t\t\tCHARINDEX('\"',RES_FNAME, 1) + 1,\n\t\t\t\tCHARINDEX('\"', RES_FNAME, CHARINDEX('\"', RES_FNAME) + 1) - CHARINDEX('\"', RES_FNAME) - 1))\n\t\tWHEN CHARINDEX('(', RES_FNAME) > 0 THEN\n\t\t\tLTRIM(SUBSTRING(\n\t\t\t\tRES_FNAME, \n\t\t\t\tCHARINDEX('(',RES_FNAME, 1) + 1,\n\t\t\t\tCHARINDEX(')', RES_FNAME, CHARINDEX('(', RES_FNAME) + 1) - CHARINDEX('(', RES_FNAME) - 1))\n\t\tWHEN CHARINDEX('''', RES_FNAME) > 0 THEN\n\t\t\tLTRIM(SUBSTRING(\n\t\t\t\tRES_FNAME, \n\t\t\t\tCHARINDEX('''',RES_FNAME, 1) + 1,\n\t\t\t\tCHARINDEX('''', RES_FNAME, CHARINDEX('''', RES_FNAME) + 1) - CHARINDEX('''', RES_FNAME) - 1))\n\t\tELSE ''\n\tEND AS Preferred_Name\nFROM \n    dbo.RESIDENT\nWHERE\n    HOME_REF IN (@{variables('Home_Ref_List')})",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ADANAL_DEC",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ADANAL_DEC",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ADDRESS1",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ADDRESS1",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ADDRESS2",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ADDRESS2",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ADDRESS3",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ADDRESS3",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ADDRESS4",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ADDRESS4",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ADMSN_ANAL",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ADMSN_ANAL",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ADMSN_TYPE",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ADMSN_TYPE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ADM_REASON",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ADM_REASON",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ADTYP_DEC",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ADTYP_DEC",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ANAL_GROUP",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ANAL_GROUP",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AUTHORITY",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "AUTHORITY",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AmendDateTime",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "AmendDateTime",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "BIRTHDATE",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "BIRTHDATE",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "CARECAT",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "CARECAT",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CONTSIGNED",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "CONTSIGNED",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "CreateDateTime",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "CreateDateTime",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "DISABILITY",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "DISABILITY",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ENQ_REF",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ENQ_REF",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "HOME",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "HOME",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "HOME_REF",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "HOME_REF",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "LASTADDATE",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "LASTADDATE",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "LASTDIDATE",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "LASTDIDATE",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "LOC_DESC",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "LOC_DESC",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "LOC_REF",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "LOC_REF",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "MARKETING",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MARKETING",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "NINUMBER",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "NINUMBER",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "OCC_IGNORE",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "OCC_IGNORE",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "ORES_REF",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ORES_REF",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ORIGADDATE",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "ORIGADDATE",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "POSTCODE",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "POSTCODE",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "RELIGION",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "RELIGION",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "RESPAYINT",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "RESPAYINT",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "RES_CODE",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "RES_CODE",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "RES_FNAME",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "RES_FNAME",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "RES_REF",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "RES_REF",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "RES_SNAME",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "RES_SNAME",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ROOM",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "ROOM",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "ROOMCAT",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ROOMCAT",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ROOM_DESC",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ROOM_DESC",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ROOM_TYPE",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "ROOM_TYPE",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "SEX",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "SEX",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "STATUS",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "STATUS",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TEL_NO1",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TEL_NO1",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TEL_NO2",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TEL_NO2",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TITLE",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TITLE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "USERDEF",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "USERDEF",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AUTHCODE",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "AUTHCODE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "DOUBLEINS",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "DOUBLEINS",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "FIRSTAWARE",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "FIRSTAWARE",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "FIRSTVISIT",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "FIRSTVISIT",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "REAL_FNAME",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "REAL_FNAME",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "REAL_SNAME",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "REAL_SNAME",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "REAL_TITLE",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "REAL_TITLE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "SIGIND",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "SIGIND",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "THIRDPARTY",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "THIRDPARTY",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "USERFIELD1",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "USERFIELD1",
											"type": "String",
											"physicalType": "text"
										}
									},
									{
										"source": {
											"name": "USERFIELD2",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "USERFIELD2",
											"type": "String",
											"physicalType": "text"
										}
									},
									{
										"source": {
											"name": "USERFIELD3",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "USERFIELD3",
											"type": "String",
											"physicalType": "text"
										}
									},
									{
										"source": {
											"name": "NHSNUMBER",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "NHSNUMBER",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ALTCOMMS",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ALTCOMMS",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ALTCOMMS_REF",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ALTCOMMS_REF",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ASS_ACTBY",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ASS_ACTBY",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ASS_ACTBY_REF",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ASS_ACTBY_REF",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ASS_ACTDT",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "ASS_ACTDT",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "CONNECTION",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "CONNECTION",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CONNECTIONDET",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "CONNECTIONDET",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CONNECTION_REF",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "CONNECTION_REF",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "FUNDERREF",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "FUNDERREF",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "LANGUAGE",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "LANGUAGE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "LANGUAGE_REF",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "LANGUAGE_REF",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "MOVEDINFROM",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MOVEDINFROM",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "MOVEDINFROM_REF",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "MOVEDINFROM_REF",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "PATIENTREF",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "PATIENTREF",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "PICID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "PICID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "PREVCODE",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "PREVCODE",
											"type": "String",
											"physicalType": "char"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_OnPrem_CH_GRG",
								"type": "DatasetReference",
								"parameters": {
									"Schema": "n/a",
									"Table": "n/a"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_AH2_YardiStage",
								"type": "DatasetReference",
								"parameters": {
									"Schema": "GRG",
									"Table": "RESIDENT"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"Home_Ref_List": {
						"type": "String",
						"defaultValue": "644,627,637,649,638,603,611,607,655,624,623,633,628,632,641,650,654,618,642,643,629,647,653,660,621,630,620,606,622,631,610,605,634,604,635,645,646,651,636,639,659,652,640,648"
					}
				},
				"folder": {
					"name": "Yardi/YardiStage"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Homes')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Copies Homes table from AH1 to AH2 and also updates HomesID's in TRANSFORM_DB Avery.HomeID",
				"activities": [
					{
						"name": "Copy AH1 data to AH2",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_AH1_Homes-AH2_Homes",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Update HomeID table",
						"description": "Updates Avery.HomeDetails table in the TRANSFORM_DB with latest data ",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Copy AH1 data to AH2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_Transform_HomeDetails",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Update Occupancy on AH2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Update HomeID table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_AH1_Occupancy",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Avery"
				},
				"annotations": [],
				"lastPublishTime": "2024-10-10T09:35:49Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Pricing')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Pipeline to update Pricing tables outside GRG refresh Window",
				"activities": [
					{
						"name": "Upsert Coldharbour Rooms",
						"description": "Updates the ColdHarbour.Rooms table from the Polestar DB. Polestar DB is a replication of the GRG database (CH reporting suite/DB)",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_ColdHarbour_Rooms",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Update Occupancy",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Upsert Coldharbour Rooms",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_ColdHarbour_RoomsWithInHomeResidents",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Avery"
				},
				"annotations": [],
				"lastPublishTime": "2024-10-10T09:35:49Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Softworks_JSON_SQL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Employee JSON Data to SQL",
						"description": "Copies data from the JSON file exported from the API to the Softworks.Employee_JSON table. All stored as String data.",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Set EmployeeList File",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"additionalColumns": [
									{
										"name": "SourceFileName",
										"value": "$$FILEPATH"
									}
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE SoftWorks.Employee_JSON",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['department']"
										},
										"sink": {
											"name": "department",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['clockNumber']"
										},
										"sink": {
											"name": "clockNumber",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['clocking']"
										},
										"sink": {
											"name": "clocking",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['dateOfBirth']"
										},
										"sink": {
											"name": "dateOfBirth",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['dateStarted']"
										},
										"sink": {
											"name": "dateStarted",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['dateTerminated']"
										},
										"sink": {
											"name": "dateTerminated",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['firstname']"
										},
										"sink": {
											"name": "firstname",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['surname']"
										},
										"sink": {
											"name": "surname",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['employeeName']"
										},
										"sink": {
											"name": "employeeName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['employeeNumber']"
										},
										"sink": {
											"name": "employeeNumber",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['employeeEmail']"
										},
										"sink": {
											"name": "employeeEmail",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['employeeStatus']"
										},
										"sink": {
											"name": "employeeStatus",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['salary']"
										},
										"sink": {
											"name": "salary",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['roster']"
										},
										"sink": {
											"name": "roster",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['hourlyRate']"
										},
										"sink": {
											"name": "hourlyRate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['payType']"
										},
										"sink": {
											"name": "payType",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['payNumber']"
										},
										"sink": {
											"name": "payNumber",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['masterPolicy']"
										},
										"sink": {
											"name": "masterPolicy",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['supervisorName']"
										},
										"sink": {
											"name": "supervisorName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['employeeCostCentre']"
										},
										"sink": {
											"name": "employeeCostCentre",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['allocationGroup']"
										},
										"sink": {
											"name": "allocationGroup",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['shiftlessPattern']"
										},
										"sink": {
											"name": "shiftlessPattern",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['defaultBalanceCategory']"
										},
										"sink": {
											"name": "defaultBalanceCategory",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['employeeGender']"
										},
										"sink": {
											"name": "employeeGender",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['healthcareBankGroup']"
										},
										"sink": {
											"name": "healthcareBankGroup",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['healthcareBankStatus']"
										},
										"sink": {
											"name": "healthcareBankStatus",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['selfRosteringGroup']"
										},
										"sink": {
											"name": "selfRosteringGroup",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['nextofKinContact']"
										},
										"sink": {
											"name": "nextofKinContact",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['nextofKinTel.Number']"
										},
										"sink": {
											"name": "nextofKinTel.Number",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['nextofKinRelationship']"
										},
										"sink": {
											"name": "nextofKinRelationship",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['telephoneNo']"
										},
										"sink": {
											"name": "telephoneNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['username']"
										},
										"sink": {
											"name": "username",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['nameAsSupervisor']"
										},
										"sink": {
											"name": "nameAsSupervisor",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['address1']"
										},
										"sink": {
											"name": "address1",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['address2']"
										},
										"sink": {
											"name": "address2",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['address3']"
										},
										"sink": {
											"name": "address3",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['address4']"
										},
										"sink": {
											"name": "address4",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['postcode']"
										},
										"sink": {
											"name": "postcode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['nINumber']"
										},
										"sink": {
											"name": "nINumber",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['accountName']"
										},
										"sink": {
											"name": "accountName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['sortCode']"
										},
										"sink": {
											"name": "sortCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['accountNumber']"
										},
										"sink": {
											"name": "accountNumber",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['item']"
										},
										"sink": {
											"name": "item",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['notes']"
										},
										"sink": {
											"name": "notes",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['documentReference']"
										},
										"sink": {
											"name": "documentReference",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['documentName']"
										},
										"sink": {
											"name": "documentName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['jobTitle']"
										},
										"sink": {
											"name": "jobTitle",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['sickLeaveEntitlement']"
										},
										"sink": {
											"name": "sickLeaveEntitlement",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['holidayEntitlement']"
										},
										"sink": {
											"name": "holidayEntitlement",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['modeofTransport']"
										},
										"sink": {
											"name": "modeofTransport",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['homeLegalName']"
										},
										"sink": {
											"name": "homeLegalName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['reviewDate']"
										},
										"sink": {
											"name": "reviewDate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['isSupervisor']"
										},
										"sink": {
											"name": "isSupervisor",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['salaried']"
										},
										"sink": {
											"name": "salaried",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['costCentre']"
										},
										"sink": {
											"name": "costCentre",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['deptExportCode']"
										},
										"sink": {
											"name": "deptExportCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['deptImportCode']"
										},
										"sink": {
											"name": "deptImportCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['comments']"
										},
										"sink": {
											"name": "comments",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['softworksID']"
										},
										"sink": {
											"name": "softworksID",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['SourceFileName']"
										},
										"sink": {
											"name": "SourceFileName"
										}
									}
								],
								"collectionReference": "$['Employees']"
							}
						},
						"inputs": [
							{
								"referenceName": "DS_PolestarStorageAcc_Softworks",
								"type": "DatasetReference",
								"parameters": {
									"FileName": {
										"value": "@variables('EmployeeListFile')",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_AH2_TRANSFORM_DB_SoftWorks_Employee_JSON",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Upsert to Tables",
						"description": "Upsert data from Softworks.Employee_JSON table to the Softworks.Employee table, converting several of the data types in the process. Uses the EmployeeNumber as the Key Field.",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Copy Employee JSON Data to SQL",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_SoftWorks_JSON_Employee",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"EmployeeJSONTable": {},
									"ClockingsJSONTable": {},
									"EmployeeTable": {},
									"ClockingsTable": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Copy Clockings JSON data to SQL",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Set Clockings File",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"additionalColumns": [
									{
										"name": "SourceFileName",
										"value": "$$FILEPATH"
									}
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE SoftWorks.Clockings_JSON",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['empNo']"
										},
										"sink": {
											"name": "empNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['clockId']"
										},
										"sink": {
											"name": "clockId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['absId']"
										},
										"sink": {
											"name": "absId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['deptId']"
										},
										"sink": {
											"name": "deptId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['jobId']"
										},
										"sink": {
											"name": "jobId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['projId']"
										},
										"sink": {
											"name": "projId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['absoluteClockTime']"
										},
										"sink": {
											"name": "absoluteClockTime",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['clockType']"
										},
										"sink": {
											"name": "clockType",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['clocDate']"
										},
										"sink": {
											"name": "clocDate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['clockTime']"
										},
										"sink": {
											"name": "clockTime",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['seconds']"
										},
										"sink": {
											"name": "seconds",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['effectiveDate']"
										},
										"sink": {
											"name": "effectiveDate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['clockDuration']"
										},
										"sink": {
											"name": "clockDuration",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['application']"
										},
										"sink": {
											"name": "application",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['sourceType']"
										},
										"sink": {
											"name": "sourceType",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "[['sourceData']"
										},
										"sink": {
											"name": "sourceData",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['sourceEdit']"
										},
										"sink": {
											"name": "sourceEdit",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['sourceClockingType']"
										},
										"sink": {
											"name": "sourceClockingType",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['longitude']"
										},
										"sink": {
											"name": "longitude",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['latitude']"
										},
										"sink": {
											"name": "latitude",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['accuracy']"
										},
										"sink": {
											"name": "accuracy",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['decision']"
										},
										"sink": {
											"name": "decision",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['delCode']"
										},
										"sink": {
											"name": "delCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['userId']"
										},
										"sink": {
											"name": "userId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['dateEntered']"
										},
										"sink": {
											"name": "dateEntered",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['deleted']"
										},
										"sink": {
											"name": "deleted",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['duplicate']"
										},
										"sink": {
											"name": "duplicate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['ignore']"
										},
										"sink": {
											"name": "ignore",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['inOut']"
										},
										"sink": {
											"name": "inOut",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['inClocking']"
										},
										"sink": {
											"name": "inClocking",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['outClocking']"
										},
										"sink": {
											"name": "outClocking",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['isActive']"
										},
										"sink": {
											"name": "isActive",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['new']"
										},
										"sink": {
											"name": "new",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['standard']"
										},
										"sink": {
											"name": "standard",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['overtime']"
										},
										"sink": {
											"name": "overtime",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['callIn']"
										},
										"sink": {
											"name": "callIn",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['clockFlag']"
										},
										"sink": {
											"name": "clockFlag",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['edited']"
										},
										"sink": {
											"name": "edited",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['calcInsert']"
										},
										"sink": {
											"name": "calcInsert",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['infringe']"
										},
										"sink": {
											"name": "infringe",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['previous']"
										},
										"sink": {
											"name": "previous",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['problem']"
										},
										"sink": {
											"name": "problem",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['twUser']"
										},
										"sink": {
											"name": "twUser",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['shiftMove']"
										},
										"sink": {
											"name": "shiftMove",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['showFlags']"
										},
										"sink": {
											"name": "showFlags",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['showLongFlags']"
										},
										"sink": {
											"name": "showLongFlags",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['isOverMidnight']"
										},
										"sink": {
											"name": "isOverMidnight",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['deviceTime']"
										},
										"sink": {
											"name": "deviceTime",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "[['TimeZone']"
										},
										"sink": {
											"name": "TimeZone",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['TimeZoneCod']"
										},
										"sink": {
											"name": "TimeZoneCod",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "[['PrevAbsTime']"
										},
										"sink": {
											"name": "PrevAbsTime",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "[['ReasonId']"
										},
										"sink": {
											"name": "ReasonId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Comments']"
										},
										"sink": {
											"name": "Comments",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['ApprovalState']"
										},
										"sink": {
											"name": "ApprovalState",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['ApprovalStateCaption']"
										},
										"sink": {
											"name": "ApprovalStateCaption",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['PrevApprovalState']"
										},
										"sink": {
											"name": "PrevApprovalState",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['LocationText']"
										},
										"sink": {
											"name": "LocationText",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['LocationEditText']"
										},
										"sink": {
											"name": "LocationEditText",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['LocationTextExtended']"
										},
										"sink": {
											"name": "LocationTextExtended",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Offline']"
										},
										"sink": {
											"name": "Offline",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['AttachedDocumentId']"
										},
										"sink": {
											"name": "AttachedDocumentId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['AssumedId']"
										},
										"sink": {
											"name": "AssumedId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['SourceFileName']"
										},
										"sink": {
											"name": "SourceFileName",
											"type": "String"
										}
									}
								],
								"collectionReference": "$['Clockings']"
							}
						},
						"inputs": [
							{
								"referenceName": "DS_PolestarStorageAcc_Softworks",
								"type": "DatasetReference",
								"parameters": {
									"FileName": {
										"value": "@variables('ClockingsFile')",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_AH2_TRANSFORM_DB_SoftWorks_Clockings_JSON",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Set EmployeeList File",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Copy Clockings JSON data to SQL",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "EmployeeListFile",
							"value": {
								"value": "@concat('EmployeeList$', formatDateTime(utcNow(), 'dd-MM-yyyy'))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Clockings File",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "ClockingsFile",
							"value": {
								"value": "@concat('Clockings$', formatDateTime(subtractFromTime(subtractFromTime(utcNow(), dayOfWeek(utcNow()), 'Day'), 6, 'Day'), 'dd-MM-yyyy'), '$', formatDateTime(subtractFromTime(utcNow(), dayOfWeek(utcNow()), 'Day'), 'dd-MM-yyyy'))",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"EmployeeListFile": {
						"type": "String"
					},
					"ClockingsFile": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Softworks/Children Pipelines"
				},
				"annotations": [],
				"lastPublishTime": "2024-04-10T11:21:25Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Yardi_CH_IP_LedgerDetails')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Export Ledger and comments",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Set SITE_REF",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": {
									"value": "SELECT\t \n\t'@{variables('Home_Ref')}' AS HOME_REF,\n\tSite.SiteId AS siteid,\n\tSite.SiteName as sitename, \n\tRESIDENT.RES_CODE as resident_no,\n\tInvPosting.account_No, \n\tInvPosting.Cre_DateT AS created_date, \n\tInvPosting.Inv_Date AS transaction_date,\n\tCASE \n\t\tWHEN InvPosting.Tran_Type = 'U' THEN 'Receipt'\n\t\tWHEN InvPosting.Tran_Type = 'I' THEN 'Invoice'\n\t\tWHEN InvPosting.Tran_Type = 'C' THEN 'Credit'\n\t\tWHEN InvPosting.Tran_Type = 'J' THEN 'Adjustment'\n\t\tELSE ''\n\tEND AS transaction_type,\n\tInvPosting.Ref1 AS transaction_ref1, \n\tInvPosting.Ref2 AS transaction_ref2, \n\tInvPosting.Value AS transaction_value, \n\tInvPosting.Balance AS transaction_balance, \n\tMemo,\n\tUSERCOMM AS UserComment\nFROM\t\t \n\tInvPosting (NOLOCK) \n\t\n\tJOIN Site (NOLOCK) \n\t\tON Site.Site_Ref = InvPosting.Site_Ref\n\n\tLEFT JOIN RESIDENT (NOLOCK)\n\t\tON RESIDENT.RES_REF = INVPOSTING.RES_REF\nWHERE\t\n\tInvPosting.Site_Ref  = '@{variables('SITE_REF')}'",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_OnPrem_CH_IP",
								"type": "DatasetReference",
								"parameters": {
									"Schema": "n/a",
									"Table": "n/a"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_Yardi_CSV",
								"type": "DatasetReference",
								"parameters": {
									"Filename": {
										"value": "@concat(variables('Home_Ref'), ' - Full Ledger Comments - ', utcNow('yyyy-MM-dd'), '.csv')",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Lookup Home",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT HOME_REF, HomeName, SITE_REF FROM ColdHarbourHomeID WHERE HOME_REF = '@{variables('Home_Ref')}'",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_AH2_YardiStage",
								"type": "DatasetReference",
								"parameters": {
									"Schema": "n/a",
									"Table": "n/a"
								}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "Set SITE_REF",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Lookup Home",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "SITE_REF",
							"value": {
								"value": "@activity('Lookup Home').output.firstRow.SITE_REF",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"Home_Ref": {
						"type": "String"
					},
					"SITE_REF": {
						"type": "Integer"
					}
				},
				"folder": {
					"name": "Yardi/CHIP"
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}