Avery-ADF/linkedTemplates/ArmTemplate_11.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "Avery-ADF"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PL_JobRoles')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT ID\n      ,Job_Code\n      ,ISNULL(Job_Category, '') AS JobCategory\n      ,ISNULL(job_cat2, '') AS JobCategory2\n      ,ISNULL(Description, '') AS JobDesctiption\n      ,ISNULL(SupportType, '') AS SupportType\n  FROM dbo.WeeklyHrs_Cat\n",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "SET IDENTITY_INSERT Avery.JobRole ON ",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 18
										},
										"sink": {
											"name": "JobRoleID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Job_Code",
											"type": "String",
											"physicalType": "nchar"
										},
										"sink": {
											"name": "JobCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "JobCategory",
											"type": "String",
											"physicalType": "nchar"
										},
										"sink": {
											"name": "JobCategory",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "JobCategory2",
											"type": "String",
											"physicalType": "nchar"
										},
										"sink": {
											"name": "JobCategory2",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "JobDesctiption",
											"type": "String",
											"physicalType": "nchar"
										},
										"sink": {
											"name": "JobDescription",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "SupportType",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "SupportType",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_AH1_Avery_Homes",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_AH2_Avery",
								"type": "DatasetReference",
								"parameters": {
									"Schema": "Avery",
									"Table": "JobRole"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Avery/Children Pipelines"
				},
				"annotations": [],
				"lastPublishTime": "2024-08-05T09:36:07Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_MCM_GetData')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Call AZ Function",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Set Az Func Code",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set MCM API Key",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:05:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_MCM_Data_Extract_CommunityId",
								"type": "DatasetReference",
								"parameters": {
									"MCM_endPoint": {
										"value": "@pipeline().parameters.EndPoint",
										"type": "Expression"
									},
									"MCM_api_key": {
										"value": "@variables('MCMAPIKey')",
										"type": "Expression"
									},
									"FunctionCode": {
										"value": "@variables('AzFuncCode')",
										"type": "Expression"
									},
									"CommunityId": {
										"value": "@pipeline().parameters.CommunityID",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_MCM_Json",
								"type": "DatasetReference",
								"parameters": {
									"FileType": {
										"value": "@pipeline().parameters.EndPoint",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Get AZ Func Code",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Set End Point",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": true
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"headers": {},
							"url": "https://avery-adf-keyvault.vault.azure.net/secrets/MCMDataExtractAzFunc/9ad6bb869bce44809b76c700e88d789f?api-version=7.3",
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Set Az Func Code",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Get AZ Func Code",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": true,
							"secureInput": true
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "AzFuncCode",
							"value": {
								"value": "@activity('Get AZ Func Code').output.value",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Get MCM API key",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Set End Point",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": true
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"headers": {},
							"url": "https://avery-adf-keyvault.vault.azure.net/secrets/MCMJonCrockettAPIKey/bde96b82a47a40628426ca459ee044ec?api-version=7.3",
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Set MCM API Key",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Get MCM API key",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": true,
							"secureInput": true
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "MCMAPIKey",
							"value": {
								"value": "@activity('Get MCM API key').output.value",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set End Point",
						"type": "SetVariable",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Set Community Id",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "MCMEndPoint",
							"value": "nutritionreport"
						}
					},
					{
						"name": "Set Community Id",
						"type": "SetVariable",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "CommunityId",
							"value": "04b8b5cb-f680-4aa1-b3ec-12ddb04b8d7d"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"CommunityID": {
						"type": "string"
					},
					"EndPoint": {
						"type": "string"
					}
				},
				"variables": {
					"AzFuncCode": {
						"type": "String"
					},
					"MCMAPIKey": {
						"type": "String"
					},
					"MCMEndPoint": {
						"type": "String"
					},
					"CommunityId": {
						"type": "String"
					}
				},
				"folder": {
					"name": "MCM/Child Pipelines"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_MaintenanceApp_AH1Tables')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach Maintenance App Table",
						"description": "Run a copy activity to copy data from AH1 to AH2",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.item_list",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy Data",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "AzureSqlSink",
											"preCopyScript": {
												"value": "TRUNCATE TABLE\n[@{item().destination.schema}].[@{item().destination.table}]",
												"type": "Expression"
											},
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false,
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_AH1_Avery",
											"type": "DatasetReference",
											"parameters": {
												"Schema": {
													"value": "@item().source.schema",
													"type": "Expression"
												},
												"Table": {
													"value": "@item().source.table",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_AH2_MaintenanceApp",
											"type": "DatasetReference",
											"parameters": {
												"Schema": {
													"value": "@item().destination.schema",
													"type": "Expression"
												},
												"Table": {
													"value": "@item().destination.table",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"item_list": {
						"type": "array",
						"defaultValue": [
							{
								"source": {
									"schema": "dbo",
									"table": "Checks_Master"
								},
								"destination": {
									"schema": "dbo",
									"table": "Checks_Master"
								},
								"copySink": {
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": true
								}
							},
							{
								"source": {
									"schema": "dbo",
									"table": "Checks_NurseCallLocations"
								},
								"destination": {
									"schema": "dbo",
									"table": "Checks_NurseCallLocations"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "dbo",
									"table": "Checks_Result Sets"
								},
								"destination": {
									"schema": "dbo",
									"table": "Checks_Result Sets"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "dbo",
									"table": "Checks_ResultSets"
								},
								"destination": {
									"schema": "dbo",
									"table": "Checks_ResultSets"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "dbo",
									"table": "Checks_Rooms"
								},
								"destination": {
									"schema": "dbo",
									"table": "Checks_Rooms"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "dbo",
									"table": "Checks_Schedule"
								},
								"destination": {
									"schema": "dbo",
									"table": "Checks_Schedule"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "dbo",
									"table": "DailyChecks_ABT_Dropdown"
								},
								"destination": {
									"schema": "dbo",
									"table": "DailyChecks_ABT_Dropdown"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "dbo",
									"table": "DailyChecks_Admins"
								},
								"destination": {
									"schema": "dbo",
									"table": "DailyChecks_Admins"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "dbo",
									"table": "DailyChecks_CVlog"
								},
								"destination": {
									"schema": "dbo",
									"table": "DailyChecks_CVlog"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "dbo",
									"table": "DailyChecks_MAP"
								},
								"destination": {
									"schema": "dbo",
									"table": "DailyChecks_MAP"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "dbo",
									"table": "DailyChecks_Master"
								},
								"destination": {
									"schema": "dbo",
									"table": "DailyChecks_Master"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "dbo",
									"table": "DailyChecks_Mlog"
								},
								"destination": {
									"schema": "dbo",
									"table": "DailyChecks_Mlog"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "dbo",
									"table": "Checks_CallPoints"
								},
								"destination": {
									"schema": "dbo",
									"table": "Checks_CallPoints"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "dbo",
									"table": "Checks_DoorsSensors"
								},
								"destination": {
									"schema": "dbo",
									"table": "Checks_DoorsSensors"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "dbo",
									"table": "Checks_FEBlankets"
								},
								"destination": {
									"schema": "dbo",
									"table": "Checks_FEBlankets"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "dbo",
									"table": "Checks_FireAlarms"
								},
								"destination": {
									"schema": "dbo",
									"table": "Checks_FireAlarms"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "dbo",
									"table": "Checks_Floors"
								},
								"destination": {
									"schema": "dbo",
									"table": "Checks_Floors"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "dbo",
									"table": "Checks_Forms"
								},
								"destination": {
									"schema": "dbo",
									"table": "Checks_Forms"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "dbo",
									"table": "Checks_Hoists"
								},
								"destination": {
									"schema": "dbo",
									"table": "Checks_Hoists"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "dbo",
									"table": "Checks_Inventory_General"
								},
								"destination": {
									"schema": "dbo",
									"table": "Checks_Inventory_General"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							}
						]
					}
				},
				"folder": {
					"name": "Maintenance App/Child Pipelines"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_MaintenanceApp_HomesDetails')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Maintenance Home View",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE dbo.MaintenanceHomeDetails",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_AH2_Avery",
								"type": "DatasetReference",
								"parameters": {
									"Schema": "Avery",
									"Table": "vMaintenanceApp"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_AH2_MaintenanceApp",
								"type": "DatasetReference",
								"parameters": {
									"Schema": "dbo",
									"Table": "MaintenanceHomeDetails"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Maintenance App/Child Pipelines"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Polestar_Occupancy')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy 90 Days Occupancy Data",
						"description": "Copies data from Polestar DB Occupancy table to TRANSFOR_DB OCCUPANCY_INCR table. Only the last 90 days of records",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Set 90DayDate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "Select * from dbo.Occupancy where CAST(CreateDateTime as date)>= '@{variables('DeleteDate')}'",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ABS_BILL",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "ABS_BILL",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "ADANAL_DEC",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ADANAL_DEC",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ADTYPE_DEC",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ADTYPE_DEC",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "AmendDateTime",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "AmendDateTime",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "Cont_Ref",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Cont_Ref",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "CreateDateTime",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "CreateDateTime",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "DATE",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "DATE",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "EXTROOM",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "EXTROOM",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "HOME_REF",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "HOME_REF",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "INHOME",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "INHOME",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "LOC_REF",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "LOC_REF",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "OCC_REF",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "OCC_REF",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "RES_REF",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "RES_REF",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ROOM",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "ROOM",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "RecType",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "RecType",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "TEMPDIS",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "TEMPDIS",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "VoidNo",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "VoidNo",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "GROSSRATE",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 4,
											"precision": 12
										},
										"sink": {
											"name": "GROSSRATE",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 4,
											"precision": 12
										}
									},
									{
										"source": {
											"name": "ROOMRATE",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 12
										},
										"sink": {
											"name": "ROOMRATE",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 12
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_AH2_Polestar",
								"type": "DatasetReference",
								"parameters": {
									"Schema": "n/a",
									"Table": "n/a"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_AH2_TRANSFORM_DB",
								"type": "DatasetReference",
								"parameters": {
									"Schema": "STG",
									"Table": "OCCUPANCY_INCR"
								}
							}
						]
					},
					{
						"name": "Set 90DayDate",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "DeleteDate",
							"value": {
								"value": "@formatDateTime(addDays(utcNow(),-90),'yyyy-MM-dd')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Add new records to Occupancy Table",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "Copy 90 Days Occupancy Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "AH2_TRANSFORM_DB",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": {
										"value": "Delete from Transform_DB.STG.OCCUPANCY\nWHERE CreateDateTime>= '@{variables('DeleteDate')}'\n\nInsert into Transform_DB.STG.OCCUPANCY \nSelect * from Transform_DB.STG.OCCUPANCY_INCR",
										"type": "Expression"
									}
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"DeleteDate": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Polestar ETL Process"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Radar_SQLTables')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "For Each DB Item",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.DBItems",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy Item",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "AzureSqlSink",
											"preCopyScript": {
												"value": "DROP TABLE IF EXISTS \n[@{item().destination.schema}].[@{item().destination.table}]",
												"type": "Expression"
											},
											"writeBehavior": {
												"value": "@item().copySink.writeBehavior",
												"type": "Expression"
											},
											"sqlWriterUseTableLock": {
												"value": "@item().copySink.sqlWriterUseTableLock",
												"type": "Expression"
											},
											"upsertSettings": {
												"useTempDB": true
											},
											"tableOption": "autoCreate",
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "Radar_SQL",
											"type": "DatasetReference",
											"parameters": {
												"Schema": {
													"value": "@item().source.schema",
													"type": "Expression"
												},
												"Table": "@item().source.table"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_AH2_TRANSFORM_DB",
											"type": "DatasetReference",
											"parameters": {
												"Schema": "@item().destination.schema",
												"Table": {
													"value": "@item().destination.table",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "Send Error Message",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "For Each DB Item",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "UT_Send_Email_Param",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"EmailTo": "jon.crockett@averyhealthcare.co.uk",
								"Message": "Pipeline failed",
								"Colour": "Red",
								"PipelineName": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								},
								"PipelineRunID": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								},
								"pStepFailed": "For Each DB Item"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"DBItems": {
						"type": "array",
						"defaultValue": [
							{
								"source": {
									"schema": "Int",
									"table": "V_AccessControl_ObjectRuleSet"
								},
								"destination": {
									"schema": "Radar_AccessControl",
									"table": "ObjectRuleSet"
								},
								"copySink": {
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": true
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_AccessControl_RuleSet"
								},
								"destination": {
									"schema": "Radar_AccessControl",
									"table": "RuleSet"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_AccessControl_RuleSetRule"
								},
								"destination": {
									"schema": "Radar_AccessControl",
									"table": "RuleSetRule"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Actions_Action"
								},
								"destination": {
									"schema": "Radar_Actions",
									"table": "Action"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Actions_ActionObjectLink"
								},
								"destination": {
									"schema": "Radar_Actions",
									"table": "ActionObjectLink"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Actions_ActionPlanItem"
								},
								"destination": {
									"schema": "Radar_Actions",
									"table": "ActionPlanItem"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Actions_ActionPlanTag"
								},
								"destination": {
									"schema": "Radar_Actions",
									"table": "ActionPlanTag"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Actions_ActionPlanTags"
								},
								"destination": {
									"schema": "Radar_Actions",
									"table": "ActionPlanTags"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Actions_Control"
								},
								"destination": {
									"schema": "Radar_Actions",
									"table": "Control"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Actions_ScheduledTask"
								},
								"destination": {
									"schema": "Radar_Actions",
									"table": "ScheduledTask"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Actions_ScheduledTaskCategory"
								},
								"destination": {
									"schema": "Radar_Actions",
									"table": "ScheduledTaskCategory"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Actions_ScheduledTaskTag"
								},
								"destination": {
									"schema": "Radar_Actions",
									"table": "ScheduledTaskTag"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Actions_ScheduledTaskTags"
								},
								"destination": {
									"schema": "Radar_Actions",
									"table": "ScheduledTaskTags"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Actions_Update"
								},
								"destination": {
									"schema": "Radar_Actions",
									"table": "Update"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Analytics_FormTag"
								},
								"destination": {
									"schema": "Radar_Analytics",
									"table": "FormTag"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Audit_Comment"
								},
								"destination": {
									"schema": "Radar_Audit",
									"table": "Comment"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Audit_EvidenceActionPlanItem"
								},
								"destination": {
									"schema": "Radar_Audit",
									"table": "EvidenceActionPlanItem"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Audit_EvidenceAttachment"
								},
								"destination": {
									"schema": "Radar_Audit",
									"table": "EvidenceAttachment"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Audit_EvidenceComment"
								},
								"destination": {
									"schema": "Radar_Audit",
									"table": "EvidenceComment"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Audit_Outcome"
								},
								"destination": {
									"schema": "Radar_Audit",
									"table": "Outcome"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Audit_OutcomeRequirement"
								},
								"destination": {
									"schema": "Radar_Audit",
									"table": "OutcomeRequirement"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Audit_OutcomeRequirementTemplate"
								},
								"destination": {
									"schema": "Radar_Audit",
									"table": "OutcomeRequirementTemplate"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Audit_OutcomeTemplate"
								},
								"destination": {
									"schema": "Radar_Audit",
									"table": "OutcomeTemplate"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Audit_RequirementEvidence"
								},
								"destination": {
									"schema": "Radar_Audit",
									"table": "RequirementEvidence"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Audit_RequirementEvidenceTemplate"
								},
								"destination": {
									"schema": "Radar_Audit",
									"table": "RequirementEvidenceTemplate"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Audit_ScheduledAudit"
								},
								"destination": {
									"schema": "Radar_Audit",
									"table": "ScheduledAudit"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Audit_Template"
								},
								"destination": {
									"schema": "Radar_Audit",
									"table": "Template"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Audit_Type"
								},
								"destination": {
									"schema": "Radar_Audit",
									"table": "Type"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Audit_TypeThreshold"
								},
								"destination": {
									"schema": "Radar_Audit",
									"table": "TypeThreshold"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Audits_Instance"
								},
								"destination": {
									"schema": "Radar_Audits",
									"table": "Instance"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Audits_InstanceSection"
								},
								"destination": {
									"schema": "Radar_Audits",
									"table": "InstanceSection"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Audits_InstanceSectionResponse"
								},
								"destination": {
									"schema": "Radar_Audits",
									"table": "InstanceSectionResponse"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Audits_Schedule"
								},
								"destination": {
									"schema": "Radar_Audits",
									"table": "Schedule"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Audits_ScheduleLocation"
								},
								"destination": {
									"schema": "Radar_Audits",
									"table": "ScheduleLocation"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Audits_ScheduleWorkflow"
								},
								"destination": {
									"schema": "Radar_Audits",
									"table": "ScheduleWorkflow"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Audits_Template"
								},
								"destination": {
									"schema": "Radar_Audits",
									"table": "Template"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Audits_Type"
								},
								"destination": {
									"schema": "Radar_Audits",
									"table": "Type"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Audits_TypeThreshold"
								},
								"destination": {
									"schema": "Radar_Audits",
									"table": "TypeThreshold"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Compliance_RecordRequirement"
								},
								"destination": {
									"schema": "Radar_Compliance",
									"table": "RecordRequirement"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Compliance_RecordVersion"
								},
								"destination": {
									"schema": "Radar_Compliance",
									"table": "RecordVersion"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Compliance_RequirementType"
								},
								"destination": {
									"schema": "Radar_Compliance",
									"table": "RequirementType"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Compliance_RequirementTypeRole"
								},
								"destination": {
									"schema": "Radar_Compliance",
									"table": "RequirementTypeRole"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Compliance_RequirementTypeSchedule"
								},
								"destination": {
									"schema": "Radar_Compliance",
									"table": "RequirementTypeSchedule"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Compliance_RequirementTypeUser"
								},
								"destination": {
									"schema": "Radar_Compliance",
									"table": "RequirementTypeUser"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_DocumentManagement_Document"
								},
								"destination": {
									"schema": "Radar_DocumentManagement",
									"table": "Document"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_DocumentManagement_DocumentTags"
								},
								"destination": {
									"schema": "Radar_DocumentManagement",
									"table": "DocumentTags"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_DocumentManagement_DocumentVersion"
								},
								"destination": {
									"schema": "Radar_DocumentManagement",
									"table": "DocumentVersion"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_DocumentManagement_DocumentVersionDownload"
								},
								"destination": {
									"schema": "Radar_DocumentManagement",
									"table": "DocumentVersionDownload"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_DocumentManagement_DocumentVersionHistory"
								},
								"destination": {
									"schema": "Radar_DocumentManagement",
									"table": "DocumentVersionHistory"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_DocumentManagement_Folder"
								},
								"destination": {
									"schema": "Radar_DocumentManagement",
									"table": "Folder"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_DocumentManagement_Tag"
								},
								"destination": {
									"schema": "Radar_DocumentManagement",
									"table": "Tag"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Radar_Attachment"
								},
								"destination": {
									"schema": "Radar_Radar",
									"table": "Attachment"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Radar_AttachmentDownload"
								},
								"destination": {
									"schema": "Radar_Radar",
									"table": "AttachmentDownload"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Radar_Audit"
								},
								"destination": {
									"schema": "Radar_Radar",
									"table": "Audit"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Radar_CustomDataItem"
								},
								"destination": {
									"schema": "Radar_Radar",
									"table": "CustomDataItem"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Radar_CustomDataItemLocation"
								},
								"destination": {
									"schema": "Radar_Radar",
									"table": "CustomDataItemLocation"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Radar_CustomDataType"
								},
								"destination": {
									"schema": "Radar_Radar",
									"table": "CustomDataType"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Radar_CustomEntityInstanceLocation"
								},
								"destination": {
									"schema": "Radar_Radar",
									"table": "CustomEntityInstanceLocation"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Radar_CustomEntityInstanceValues"
								},
								"destination": {
									"schema": "Radar_Radar",
									"table": "CustomEntityInstanceValues"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Radar_CustomEntityType"
								},
								"destination": {
									"schema": "Radar_Radar",
									"table": "CustomEntityType"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Radar_CustomEntityTypeField"
								},
								"destination": {
									"schema": "Radar_Radar",
									"table": "CustomEntityTypeField"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Radar_Department"
								},
								"destination": {
									"schema": "Radar_Radar",
									"table": "Department"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Radar_DomainObjectAccessControlRule"
								},
								"destination": {
									"schema": "Radar_Radar",
									"table": "DomainObjectAccessControlRule"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Radar_EventAccessGroupRole"
								},
								"destination": {
									"schema": "Radar_Radar",
									"table": "EventAccessGroupRole"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Radar_EventAccessGroups"
								},
								"destination": {
									"schema": "Radar_Radar",
									"table": "EventAccessGroups"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Radar_EventCategory"
								},
								"destination": {
									"schema": "Radar_Radar",
									"table": "EventCategory"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Radar_EventTypeCategoryLink"
								},
								"destination": {
									"schema": "Radar_Radar",
									"table": "EventTypeCategoryLink"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Radar_IntegrationLink"
								},
								"destination": {
									"schema": "Radar_Radar",
									"table": "IntegrationLink"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Radar_ItemReference"
								},
								"destination": {
									"schema": "Radar_Radar",
									"table": "ItemReference"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Radar_Location"
								},
								"destination": {
									"schema": "Radar_Radar",
									"table": "Location"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Radar_LocationLocationType"
								},
								"destination": {
									"schema": "Radar_Radar",
									"table": "LocationLocationType"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Radar_LocationType"
								},
								"destination": {
									"schema": "Radar_Radar",
									"table": "LocationType"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Radar_LocationUser"
								},
								"destination": {
									"schema": "Radar_Radar",
									"table": "LocationUser"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Radar_Module"
								},
								"destination": {
									"schema": "Radar_Radar",
									"table": "Module"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Radar_Notice"
								},
								"destination": {
									"schema": "Radar_Radar",
									"table": "Notice"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Radar_NoticeAttachment"
								},
								"destination": {
									"schema": "Radar_Radar",
									"table": "NoticeAttachment"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Radar_NotificationHistory"
								},
								"destination": {
									"schema": "Radar_Radar",
									"table": "NotificationHistory"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Radar_Organisation"
								},
								"destination": {
									"schema": "Radar_Radar",
									"table": "Organisation"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Radar_PendingItem"
								},
								"destination": {
									"schema": "Radar_Radar",
									"table": "PendingItem"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Radar_Permission"
								},
								"destination": {
									"schema": "Radar_Radar",
									"table": "Permission"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Radar_PsimsSubmission"
								},
								"destination": {
									"schema": "Radar_Radar",
									"table": "PsimsSubmission"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Radar_Region"
								},
								"destination": {
									"schema": "Radar_Radar",
									"table": "Region"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Radar_Role"
								},
								"destination": {
									"schema": "Radar_Radar",
									"table": "Role"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Radar_RoleDashboardPermission"
								},
								"destination": {
									"schema": "Radar_Radar",
									"table": "RoleDashboardPermission"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Radar_RolePermission"
								},
								"destination": {
									"schema": "Radar_Radar",
									"table": "RolePermission"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Radar_ServiceUser"
								},
								"destination": {
									"schema": "Radar_Radar",
									"table": "ServiceUser"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Radar_ServiceUserLocation"
								},
								"destination": {
									"schema": "Radar_Radar",
									"table": "ServiceUserLocation"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Radar_Tag"
								},
								"destination": {
									"schema": "Radar_Radar",
									"table": "Tag"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Radar_TagLink"
								},
								"destination": {
									"schema": "Radar_Radar",
									"table": "TagLink"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Radar_User"
								},
								"destination": {
									"schema": "Radar_Radar",
									"table": "User"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Radar_UserComment"
								},
								"destination": {
									"schema": "Radar_Radar",
									"table": "UserComment"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Radar_UserDepartment"
								},
								"destination": {
									"schema": "Radar_Radar",
									"table": "UserDepartment"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Radar_UserNotice"
								},
								"destination": {
									"schema": "Radar_Radar",
									"table": "UserNotice"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Radar_UserOutOfOffice"
								},
								"destination": {
									"schema": "Radar_Radar",
									"table": "UserOutOfOffice"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Radar_UserPreference"
								},
								"destination": {
									"schema": "Radar_Radar",
									"table": "UserPreference"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Radar_UserRole"
								},
								"destination": {
									"schema": "Radar_Radar",
									"table": "UserRole"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_RiskManagement_ImpactCategory"
								},
								"destination": {
									"schema": "Radar_RiskManagement",
									"table": "ImpactCategory"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_RiskManagement_ImpactDescriptor"
								},
								"destination": {
									"schema": "Radar_RiskManagement",
									"table": "ImpactDescriptor"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_RiskManagement_Incident"
								},
								"destination": {
									"schema": "Radar_RiskManagement",
									"table": "Incident"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_RiskManagement_IncidentRequiredFormTime"
								},
								"destination": {
									"schema": "Radar_RiskManagement",
									"table": "IncidentRequiredFormTime"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_RiskManagement_IncidentSubType"
								},
								"destination": {
									"schema": "Radar_RiskManagement",
									"table": "IncidentSubType"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_RiskManagement_IncidentType"
								},
								"destination": {
									"schema": "Radar_RiskManagement",
									"table": "IncidentType"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_RiskManagement_IncidentTypeLocationType"
								},
								"destination": {
									"schema": "Radar_RiskManagement",
									"table": "IncidentTypeLocationType"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_RiskManagement_LikelihoodCategory"
								},
								"destination": {
									"schema": "Radar_RiskManagement",
									"table": "LikelihoodCategory"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_RiskManagement_LikelihoodDescriptor"
								},
								"destination": {
									"schema": "Radar_RiskManagement",
									"table": "LikelihoodDescriptor"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_RiskManagement_LinkedItem"
								},
								"destination": {
									"schema": "Radar_RiskManagement",
									"table": "LinkedItem"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_RiskManagement_Risk"
								},
								"destination": {
									"schema": "Radar_RiskManagement",
									"table": "Risk"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_RiskManagement_RiskCategory"
								},
								"destination": {
									"schema": "Radar_RiskManagement",
									"table": "RiskCategory"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_RiskManagement_RiskReviewUpdate"
								},
								"destination": {
									"schema": "Radar_RiskManagement",
									"table": "RiskReviewUpdate"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_RiskManagement_ViewExceptionEvent"
								},
								"destination": {
									"schema": "Radar_RiskManagement",
									"table": "ViewExceptionEvent"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_RiskManagement_ViewExceptionEventRole"
								},
								"destination": {
									"schema": "Radar_RiskManagement",
									"table": "ViewExceptionEventRole"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_RootCauseAnalysis_Cause"
								},
								"destination": {
									"schema": "Radar_RootCauseAnalysis",
									"table": "Cause"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_RootCauseAnalysis_ContributingFactor"
								},
								"destination": {
									"schema": "Radar_RootCauseAnalysis",
									"table": "ContributingFactor"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_RootCauseAnalysis_ContributingFactorCategory"
								},
								"destination": {
									"schema": "Radar_RootCauseAnalysis",
									"table": "ContributingFactorCategory"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_RootCauseAnalysis_InvestigationEvent"
								},
								"destination": {
									"schema": "Radar_RootCauseAnalysis",
									"table": "InvestigationEvent"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Templates_Bodymap"
								},
								"destination": {
									"schema": "Radar_Templates",
									"table": "Bodymap"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Templates_FormTemplate"
								},
								"destination": {
									"schema": "Radar_Templates",
									"table": "FormTemplate"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Templates_FormTemplateInstance"
								},
								"destination": {
									"schema": "Radar_Templates",
									"table": "FormTemplateInstance"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Templates_FormTemplateInstanceValue"
								},
								"destination": {
									"schema": "Radar_Templates",
									"table": "FormTemplateInstanceValue"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Templates_FormTemplateInstanceValueExtendedData"
								},
								"destination": {
									"schema": "Radar_Templates",
									"table": "FormTemplateInstanceValueExtendedData"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Templates_FormTemplateTag"
								},
								"destination": {
									"schema": "Radar_Templates",
									"table": "FormTemplateTag"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Workflow_Definition"
								},
								"destination": {
									"schema": "Radar_Workflow",
									"table": "Definition"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Workflow_Dependency"
								},
								"destination": {
									"schema": "Radar_Workflow",
									"table": "Dependency"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Workflow_Instance"
								},
								"destination": {
									"schema": "Radar_Workflow",
									"table": "Instance"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Workflow_Selector"
								},
								"destination": {
									"schema": "Radar_Workflow",
									"table": "Selector"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Workflow_Trigger"
								},
								"destination": {
									"schema": "Radar_Workflow",
									"table": "Trigger"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							},
							{
								"source": {
									"schema": "Int",
									"table": "V_Workflow_UserTask"
								},
								"destination": {
									"schema": "Radar_Workflow",
									"table": "UserTask"
								},
								"copySink": {
									"writeBehavior": null,
									"sqlWriterUseTableLock": null
								}
							}
						]
					}
				},
				"folder": {
					"name": "Radar"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Radar_XML_Form_Labels')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "TemplateName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "FormTemplateName",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FormTitle",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "FormTitle",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Version",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Version",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FieldName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "FieldName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FieldLabel",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "FieldLabel",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_PolestarStorageAcc_Excel",
								"type": "DatasetReference",
								"parameters": {
									"Container": "radar",
									"FileName": "Form_Fields_Output v2.xlsx",
									"WorkSheet": "Sheet1"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_AH2_TRANSFORM_DB",
								"type": "DatasetReference",
								"parameters": {
									"Schema": "Radar_Templates",
									"Table": "FormTemplateLabels"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Radar"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Radar_extract_XML_Forms')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Extract and create xml files for each form in \nRadar_Templates.FormTemplate table",
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Form Records",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Form Records').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "SELECT Definition\nFROM Radar_Templates.FormTemplate\nWHERE Id = @{item().id}",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings",
												"copyBehavior": "PreserveHierarchy"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_AH2_TRANSFORM_DB",
											"type": "DatasetReference",
											"parameters": {
												"Schema": "n/a",
												"Table": "n/a"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_polestarstorageacc_XML_filename",
											"type": "DatasetReference",
											"parameters": {
												"Container": "radar",
												"FileName": {
													"value": "@{concat(item().Name, ' $ID:', item().id, ' $Version-', item().Version, '.xml')}",
													"type": "Expression"
												},
												"Directory": "xmlfiles"
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "Get Form Records",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT id, name, version FROM Radar_Templates.FormTemplate",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_AH2_TRANSFORM_DB",
								"type": "DatasetReference",
								"parameters": {
									"Schema": "n/a",
									"Table": "n/a"
								}
							},
							"firstRowOnly": false
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Radar"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Res_Forms')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Res Forms Data",
						"description": "AH1 Avery - AH2 YardiStage",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "SET IDENTITY_INSERT dbo.Res_Forms ON",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 18
										},
										"sink": {
											"name": "ID",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "res_no",
											"type": "String",
											"physicalType": "nchar"
										},
										"sink": {
											"name": "res_no",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "forename",
											"type": "String",
											"physicalType": "nchar"
										},
										"sink": {
											"name": "forename",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "surname",
											"type": "String",
											"physicalType": "nchar"
										},
										"sink": {
											"name": "surname",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "intranet",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "intranet",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "change_date",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "change_date",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "admitted_from",
											"type": "String",
											"physicalType": "nchar"
										},
										"sink": {
											"name": "admitted_from",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "tested_prior_last",
											"type": "String",
											"physicalType": "nchar"
										},
										"sink": {
											"name": "tested_prior_last",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "tested_date",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "tested_date",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "tested_where",
											"type": "String",
											"physicalType": "nchar"
										},
										"sink": {
											"name": "tested_where",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "tested_result",
											"type": "String",
											"physicalType": "nchar"
										},
										"sink": {
											"name": "tested_result",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "symptomatic",
											"type": "String",
											"physicalType": "nchar"
										},
										"sink": {
											"name": "symptomatic",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "symptomatic_date",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "symptomatic_date",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "isolation_Date",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "isolation_Date",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "isolation_end_date",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "isolation_end_date",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "days_isolated",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "days_isolated",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "protocol_followed",
											"type": "String",
											"physicalType": "nchar"
										},
										"sink": {
											"name": "protocol_followed",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "hospital_prior",
											"type": "String",
											"physicalType": "nchar"
										},
										"sink": {
											"name": "hospital_prior",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "Hospital_lastdate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "Hospital_lastdate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "hospital_duration",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "hospital_duration",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "hospital_tested",
											"type": "String",
											"physicalType": "nchar"
										},
										"sink": {
											"name": "hospital_tested",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "hospital_tested_date",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "hospital_tested_date",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "hospital_rest_result",
											"type": "String",
											"physicalType": "nchar"
										},
										"sink": {
											"name": "hospital_rest_result",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "form_type",
											"type": "String",
											"physicalType": "nchar"
										},
										"sink": {
											"name": "form_type",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "status",
											"type": "String",
											"physicalType": "nchar"
										},
										"sink": {
											"name": "status",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "room_no",
											"type": "String",
											"physicalType": "nchar"
										},
										"sink": {
											"name": "room_no",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "funding_change",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "funding_change",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "dilaps_charge",
											"type": "String",
											"physicalType": "nchar"
										},
										"sink": {
											"name": "dilaps_charge",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "comp_by",
											"type": "String",
											"physicalType": "nchar"
										},
										"sink": {
											"name": "comp_by",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "comp_date",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "comp_date",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "SL_Chk_by",
											"type": "String",
											"physicalType": "nchar"
										},
										"sink": {
											"name": "SL_Chk_by",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "SL_chk_date",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "SL_chk_date",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "discharge_reason",
											"type": "String",
											"physicalType": "nchar"
										},
										"sink": {
											"name": "discharge_reason",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "comments",
											"type": "String",
											"physicalType": "nchar"
										},
										"sink": {
											"name": "comments",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "dob",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "dob",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "SL_comments",
											"type": "String",
											"physicalType": "nchar"
										},
										"sink": {
											"name": "SL_comments",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "NHS_No",
											"type": "String",
											"physicalType": "nchar"
										},
										"sink": {
											"name": "NHS_No",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "Nurs_res",
											"type": "String",
											"physicalType": "nchar"
										},
										"sink": {
											"name": "Nurs_res",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "Resp_Perm",
											"type": "String",
											"physicalType": "nchar"
										},
										"sink": {
											"name": "Resp_Perm",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "disch_date",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "disch_date",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "paymentonadm",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 18
										},
										"sink": {
											"name": "paymentonadm",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "NSHIDno",
											"type": "String",
											"physicalType": "nchar"
										},
										"sink": {
											"name": "NSHIDno",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "fee",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 7
										},
										"sink": {
											"name": "fee",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 7
										}
									},
									{
										"source": {
											"name": "Date_Complete",
											"type": "DateTimeOffset",
											"physicalType": "datetimeoffset"
										},
										"sink": {
											"name": "Date_Complete",
											"type": "DateTimeOffset",
											"physicalType": "datetimeoffset"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_AH1_Avery",
								"type": "DatasetReference",
								"parameters": {
									"Schema": "dbo",
									"Table": "Res_Forms"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_AH2_YardiStage",
								"type": "DatasetReference",
								"parameters": {
									"Schema": "dbo",
									"Table": "Res_Forms"
								}
							}
						]
					},
					{
						"name": "SET IDENTITY INSERT OF",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "Copy Res Forms Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "AH2_YardiStage",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "SET IDENTITY_INSERT dbo.Res_Forms OFF"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Yardi/YardiStage"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_SalariedStaff')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Upserts Avery.SalariedStaff in Transform_DB from csv file. The csv file is an extract of the excel file found on the Y drive (Y:\\Databases\\Uploads\\Weekly_hrs)",
				"activities": [
					{
						"name": "Copy data to Transform_DB",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy file to Azure Blob storage",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"EmployeeNumber"
									]
								},
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "HomeName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "HomeName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "FirstName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "FirstName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Surname",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Surname",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "JobRoleCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "JobRoleCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "JobRole",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "JobRole",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Hours",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Hours",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 5
										}
									},
									{
										"source": {
											"name": "ContractedHours",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ContractedHours",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 5
										}
									},
									{
										"source": {
											"name": "ContractType",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ContractType",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "EmployeeNumber",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EmployeeNumber",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "HomeCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "HomeCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "IntranetID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "IntranetID",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_PolestarStorageAcc_Other_CSV",
								"type": "DatasetReference",
								"parameters": {
									"FileName": "SalariedStaff.csv"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_AH2_TRANSFORM_DB",
								"type": "DatasetReference",
								"parameters": {
									"Schema": "Avery",
									"Table": "SalariedStaff"
								}
							}
						]
					},
					{
						"name": "Delete1",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Copy data to Transform_DB",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_PolestarStorageAcc_Fileshare_CSV",
								"type": "DatasetReference",
								"parameters": {
									"Filename": "SalariedStaff.csv"
								}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureFileStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "Copy file to Azure Blob storage",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "469",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "HomeName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Firstname",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "FirstName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "surname",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Surname",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Role Code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "JobRoleCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Role",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "JobRole",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "hours",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Hours",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 5
										}
									},
									{
										"source": {
											"name": "contracted hours",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ContractedHours",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 5
										}
									},
									{
										"source": {
											"name": "Type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ContractType",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Emp_number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EmployeeNumber",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Home Code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "HomeCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Intranet",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "IntranetID",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_PolestarStorageAcc_Fileshare_CSV",
								"type": "DatasetReference",
								"parameters": {
									"Filename": "SalariedStaff.csv"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_PolestarStorageAcc_Other_CSV",
								"type": "DatasetReference",
								"parameters": {
									"FileName": "SalariedStaff.csv"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Other"
				},
				"annotations": [],
				"lastPublishTime": "2024-05-28T12:27:35Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_SoftWorks_API_Clockings')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Set WeekEndingDate",
						"description": "Set the previous week ending date in the dd-MM-yyyy format for the API",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "WeekEndingDate",
							"value": {
								"value": "@formatDateTime(subtractFromTime(utcNow(), dayOfWeek(utcNow()), 'Day'), 'dd-MM-yyyy')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set WeekBegining Date",
						"description": "Set the previous week Start date in the dd-MM-yyyy format for the API",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Set WeekEndingDate",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "WeekBeginingDate",
							"value": {
								"value": "@formatDateTime(subtractFromTime(subtractFromTime(utcNow(), dayOfWeek(utcNow()), 'Day'), 6, 'Day'), 'dd-MM-yyyy')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Download Clockings data",
						"description": "Start date in the body looks to be irrelevant, it uses the end date to return emp with a start date less than that. ",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Set Clockings File Name",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:03:00",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "POST",
								"requestBody": {
									"value": "@concat('{\n    \"DataExtractType\": 2000,\n    \"StartDate\": \"',variables('WeekBeginingDate'),'\",\n    \"EndDate\": \"',variables('WeekEndingDate'),'\",\n    \"Customer\": \"internal\"\n}')",
									"type": "Expression"
								},
								"additionalHeaders": {
									"Content-Type": "application/json"
								},
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_Softworks_API_Employees",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_PolestarStorageAcc_Softworks",
								"type": "DatasetReference",
								"parameters": {
									"FileName": {
										"value": "@variables('ClockingsFileName')",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Set Clockings File Name",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Set WeekBegining Date",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "ClockingsFileName",
							"value": {
								"value": "@concat('Clockings', '$', variables('WeekBeginingDate'), '$', variables('WeekEndingDate') )",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"TodaysDate": {
						"type": "String"
					},
					"ClockingsFileName": {
						"type": "String"
					},
					"WeekEndingDate": {
						"type": "String"
					},
					"WeekBeginingDate": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Softworks/Children Pipelines"
				},
				"annotations": [],
				"lastPublishTime": "2024-04-10T11:21:25Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_SoftWorks_API_Employee')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Download Employee data",
						"description": "Start date in the body looks to be irrelevant, it uses the end date to return emp with a start date less than that. ",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Set Employee File Name",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:03:00",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "POST",
								"requestBody": {
									"value": "@concat('{\n    \"DataExtractType\": 4000,\n    \"StartDate\": \"',variables('TodaysDate'),'\",\n    \"EndDate\": \"',variables('ThreeMonthsAhead'),'\",\n    \"Customer\": \"internal\"\n}')",
									"type": "Expression"
								},
								"additionalHeaders": {
									"Content-Type": "application/json"
								},
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_Softworks_API_Employees",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_PolestarStorageAcc_Softworks",
								"type": "DatasetReference",
								"parameters": {
									"FileName": {
										"value": "@variables('EmpFileName')",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Set Todays Date",
						"description": "Used in sink to Store the files in folder with todays date",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "TodaysDate",
							"value": {
								"value": "@formatDateTime(utcNow(), 'dd-MM-yyyy')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set One Months Ahead",
						"description": "Set to the end of the month, 1 month ahead. Used in the API call so details of future starters is returned.",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Set Todays Date",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "ThreeMonthsAhead",
							"value": {
								"value": "@formatDateTime(addToTime(utcNow(), 1, 'Month'), 'dd-MM-yyyy')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set WeekEndingDate",
						"description": "Set the previous week ending date in the dd-MM-yyyy format for the API",
						"type": "SetVariable",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "WeekEndingDate",
							"value": {
								"value": "@formatDateTime(subtractFromTime(utcNow(), dayOfWeek(utcNow()), 'Day'), 'dd-MM-yyyy')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set WeekBegining Date",
						"description": "Set the previous week Start date in the dd-MM-yyyy format for the API",
						"type": "SetVariable",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Set WeekEndingDate",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "WeekBeginingDate",
							"value": {
								"value": "@formatDateTime(subtractFromTime(subtractFromTime(utcNow(), dayOfWeek(utcNow()), 'Day'), 6, 'Day'), 'dd-MM-yyyy')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Download Clockings data",
						"description": "Start date in the body looks to be irrelevant, it uses the end date to return emp with a start date less than that. ",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Set Clockings File Name",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:03:00",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "POST",
								"requestBody": {
									"value": "@concat('{\n    \"DataExtractType\": 2000,\n    \"StartDate\": \"',variables('WeekBeginingDate'),'\",\n    \"EndDate\": \"',variables('WeekEndingDate'),'\",\n    \"Customer\": \"internal\"\n}')",
									"type": "Expression"
								},
								"additionalHeaders": {
									"Content-Type": "application/json"
								},
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_Softworks_API_Employees",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_PolestarStorageAcc_Softworks",
								"type": "DatasetReference",
								"parameters": {
									"FileName": {
										"value": "@variables('ClockingsFileName')",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Set Clockings File Name",
						"type": "SetVariable",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Set WeekBegining Date",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "ClockingsFileName",
							"value": {
								"value": "@concat('Clockings', '$', variables('WeekBeginingDate'), '$', variables('WeekEndingDate') )",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Employee File Name",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Set One Months Ahead",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "EmpFileName",
							"value": {
								"value": "@concat('EmployeeList', '$', variables('TodaysDate'))",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"TodaysDate": {
						"type": "String"
					},
					"ThreeMonthsAhead": {
						"type": "String"
					},
					"EmpFileName": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Softworks/Children Pipelines"
				},
				"annotations": [],
				"lastPublishTime": "2024-04-10T11:21:25Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Softworks_EmployeeHoliday')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "For Each File",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get File List",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get File List').output.childItems",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy from file to SQL",
									"description": "the @item().Name variable is key on the source. the .Name provides the childItem Name from the output of the Metadata task",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"wildcardFolderPath": "EmployeeHoliday",
												"wildcardFileName": {
													"value": "@item().Name",
													"type": "Expression"
												},
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "Employee",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Employee",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "EmployeeNumber",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "EmployeeNumber",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "Start Date",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "StartDate",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "End Date",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "EndDate",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "Hours Duration",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "HoursDuration",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "Absence Type",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "AbsenceType",
														"type": "String",
														"physicalType": "varchar"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_PolestarStorageAcc_Softworks_RateSheets",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_AH2_TRANSFORM_DB",
											"type": "DatasetReference",
											"parameters": {
												"Schema": "Softworks",
												"Table": "EmployeeHoliday"
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "Get File List",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_softworks_EmployeeHoliday",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Softworks"
				},
				"annotations": [],
				"lastPublishTime": "2024-08-20T15:53:45Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Softworks_RateSheets')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "For Each File",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get File List",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get File List').output.childItems",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy from file to SQL",
									"description": "the @item().Name variable is key on the source. the .Name provides the childItem Name from the output of the Metadata task",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"wildcardFolderPath": "RateSheets",
												"wildcardFileName": {
													"value": "@item().Name",
													"type": "Expression"
												},
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "Employee Number",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "EmployeeID",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "Employee Name",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "EmployeeName",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "Contract Type",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "ContractType",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "Contract Start Date",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "ContractStartDate",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "Contract End Date",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "ContractEndDate",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "External Reference",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "ExternalReference",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "Is Default",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "IsDefault",
														"type": "String",
														"physicalType": "varchar"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_PolestarStorageAcc_Softworks_RateSheets",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_AH2_TRANSFORM_DB",
											"type": "DatasetReference",
											"parameters": {
												"Schema": "Softworks",
												"Table": "EmployeeRates"
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "Get File List",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_PolestarStorageAcc_Softworks_RateSheets",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Softworks"
				},
				"annotations": [],
				"lastPublishTime": "2024-07-23T14:21:03Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Sona_All_Users')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Loads All users from the file created by the Azure App",
				"activities": [
					{
						"name": "Users",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Set Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE Sona.STG_Users",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['work_email']"
										},
										"sink": {
											"name": "work_email",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['last_name']"
										},
										"sink": {
											"name": "last_name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['external_id']"
										},
										"sink": {
											"name": "external_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['marital_status']"
										},
										"sink": {
											"name": "marital_status",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['active']"
										},
										"sink": {
											"name": "active",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['preferred_name']"
										},
										"sink": {
											"name": "preferred_name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['final_date_of_employment']"
										},
										"sink": {
											"name": "final_date_of_employment",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['middle_name']"
										},
										"sink": {
											"name": "middle_name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['exclude_from_payroll']"
										},
										"sink": {
											"name": "exclude_from_payroll",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['administrative_org_unit']['id']"
										},
										"sink": {
											"name": "administrative_org_unit_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['agency']['id']"
										},
										"sink": {
											"name": "agency_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['first_name']"
										},
										"sink": {
											"name": "first_name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['title']"
										},
										"sink": {
											"name": "title",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['legal_first_name']"
										},
										"sink": {
											"name": "legal_first_name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['id']"
										},
										"sink": {
											"name": "user_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['organisation_user_id']"
										},
										"sink": {
											"name": "organisation_user_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['sex']"
										},
										"sink": {
											"name": "sex",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['identifies_as']"
										},
										"sink": {
											"name": "identifies_as",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['date_of_birth']"
										},
										"sink": {
											"name": "date_of_birth",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['state']"
										},
										"sink": {
											"name": "state",
											"type": "String"
										}
									}
								],
								"collectionReference": "$['entries']"
							}
						},
						"inputs": [
							{
								"referenceName": "DS_Sona_Json_WeeklyHrs",
								"type": "DatasetReference",
								"parameters": {
									"FileName": "all_users$",
									"DateString": "@variables('DateString')"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_AH2_TRANSFORM_DB",
								"type": "DatasetReference",
								"parameters": {
									"Schema": "Sona",
									"Table": "STG_Users"
								}
							}
						]
					},
					{
						"name": "Users_types_of_work",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Users",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE Sona.STG_Users_Types_Of_work",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['id']"
										},
										"sink": {
											"name": "user_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['organisation_user_id']"
										},
										"sink": {
											"name": "organisation_user_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['types_of_work'][0]['id']"
										},
										"sink": {
											"name": "user_types_pf_work_ido",
											"type": "String"
										}
									}
								],
								"collectionReference": "$['entries']"
							}
						},
						"inputs": [
							{
								"referenceName": "DS_Sona_Json_WeeklyHrs",
								"type": "DatasetReference",
								"parameters": {
									"FileName": "all_users$",
									"DateString": "@variables('DateString')"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_AH2_TRANSFORM_DB",
								"type": "DatasetReference",
								"parameters": {
									"Schema": "Sona",
									"Table": "STG_Users_Types_Of_work"
								}
							}
						]
					},
					{
						"name": "Upsert Users",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Users_types_of_work",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"user_id"
									]
								},
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "user_id",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "user_id",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "organisation_user_id",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "organisation_user_id",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "external_id",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "external_id",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "active",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "active",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "state",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "state",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "first_name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "first_name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "legal_first_name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "legal_first_name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "middle_name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "middle_name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "last_name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "last_name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "administrative_org_unit_id",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "administrative_org_unit_id",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "exclude_from_payroll",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "exclude_from_payroll",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "marital_status",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "marital_status",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "work_email",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "work_email",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "date_of_birth",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "date_of_birth",
											"type": "Date",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "preferred_name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "preferred_name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "final_date_of_employment",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "final_date_of_employment",
											"type": "Date",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "identifies_as",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "identifies_as",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "title",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "title",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "sex",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "sex",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "agency_id",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "agency_id",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_AH2_TRANSFORM_DB",
								"type": "DatasetReference",
								"parameters": {
									"Schema": "Sona",
									"Table": "STG_Users"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_AH2_TRANSFORM_DB",
								"type": "DatasetReference",
								"parameters": {
									"Schema": "Sona",
									"Table": "Users"
								}
							}
						]
					},
					{
						"name": "Upsert Users_types_of_work",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Upsert Users",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"user_id"
									]
								},
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "user_id",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "user_id",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "organisation_user_id",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "organisation_user_id",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "external_id",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "external_id",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "active",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "active",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "state",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "state",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "first_name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "first_name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "legal_first_name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "legal_first_name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "middle_name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "middle_name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "last_name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "last_name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "administrative_org_unit_id",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "administrative_org_unit_id",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "exclude_from_payroll",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "exclude_from_payroll",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "marital_status",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "marital_status",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "work_email",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "work_email",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "date_of_birth",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "date_of_birth",
											"type": "Date",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "preferred_name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "preferred_name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "final_date_of_employment",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "final_date_of_employment",
											"type": "Date",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "identifies_as",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "identifies_as",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "title",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "title",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "sex",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "sex",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "agency_id",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "agency_id",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_AH2_TRANSFORM_DB",
								"type": "DatasetReference",
								"parameters": {
									"Schema": "Sona",
									"Table": "STG_Users_Types_Of_work"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_AH2_TRANSFORM_DB",
								"type": "DatasetReference",
								"parameters": {
									"Schema": "Sona",
									"Table": "Users_Types_Of_work"
								}
							}
						]
					},
					{
						"name": "Set Date",
						"description": "Sets the date variable used in source dataset",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "DateString",
							"value": {
								"value": "@utcNow('yyyy-MM-dd')",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"DateString": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Sona/Child Pipelines"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Sona_GetData')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Extract Data Func",
						"description": "Call the azure function to make the api call",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Set FunctionCode",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set APIToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:02:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_Sona_Data_Extract",
								"type": "DatasetReference",
								"parameters": {
									"FunctionCode": {
										"value": "@variables('AzFuncCode')",
										"type": "Expression"
									},
									"API_TOKEN": {
										"value": "@variables('APIToken')",
										"type": "Expression"
									},
									"end_point": "@pipeline().parameters.EndPoint",
									"min_start_date": {
										"value": "@pipeline().parameters.MinStartDate",
										"type": "Expression"
									},
									"max_start_date": {
										"value": "@pipeline().parameters.MaxStartDate",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_Sona_API_Response",
								"type": "DatasetReference",
								"parameters": {
									"FileName": "@pipeline().parameters.EndPoint"
								}
							}
						]
					},
					{
						"name": "Get AZ Func Code",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": true
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"headers": {},
							"url": "https://avery-adf-keyvault.vault.azure.net/secrets/SonaAPICallAzFunc/af4b3d6f9dad4efa936e00727c70829c?api-version=7.3",
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Get Sona API Token",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": true
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"headers": {},
							"url": "https://avery-adf-keyvault.vault.azure.net/secrets/SonaAPIToken/559963575ce3414abe3d756da8dd179f?api-version=7.3",
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Set FunctionCode",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Get AZ Func Code",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "AzFuncCode",
							"value": {
								"value": "@activity('Get AZ Func Code').output.value",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set APIToken",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Get Sona API Token",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "APIToken",
							"value": {
								"value": "@activity('Get Sona API Token').output.value",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"EndPoint": {
						"type": "string"
					},
					"MinStartDate": {
						"type": "string"
					},
					"MaxStartDate": {
						"type": "string"
					}
				},
				"variables": {
					"APIToken": {
						"type": "String"
					},
					"AzFuncCode": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Sona/Child Pipelines"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Sona_Initial_ContractTypes')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ContractTypes",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['id']"
										},
										"sink": {
											"name": "ContractTypes_id"
										}
									},
									{
										"source": {
											"path": "$['name']"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['denomination']"
										},
										"sink": {
											"name": "denomination",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['employment_type']"
										},
										"sink": {
											"name": "employment_type",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['booking_granularity']"
										},
										"sink": {
											"name": "booking_granularity",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['holiday_allowance_rounding']"
										},
										"sink": {
											"name": "holiday_allowance_rounding",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['include_absence_cost']"
										},
										"sink": {
											"name": "include_absence_cost",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['only_worked_days']"
										},
										"sink": {
											"name": "only_worked_days",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['pay_period_start']"
										},
										"sink": {
											"name": "pay_period_start",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['pay_period_type']"
										},
										"sink": {
											"name": "pay_period_type",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['payroll_rule']"
										},
										"sink": {
											"name": "payroll_rule",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['worked_days_in_year']"
										},
										"sink": {
											"name": "worked_days_in_year",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['worked_weeks_in_year']"
										},
										"sink": {
											"name": "worked_weeks_in_year",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['employment_basis']"
										},
										"sink": {
											"name": "employment_basis",
											"type": "String"
										}
									}
								],
								"collectionReference": ""
							}
						},
						"inputs": [
							{
								"referenceName": "DS_Sona_Initial_File",
								"type": "DatasetReference",
								"parameters": {
									"Filename": "contract_types - All Pages.json"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_AH2_TRANSFORM_DB",
								"type": "DatasetReference",
								"parameters": {
									"Schema": "Sona",
									"Table": "STG_ContractTypes"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Sona/Initial API Files"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Sona_Initial_ContractedHours')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ContractedHours",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['id']"
										},
										"sink": {
											"name": "ContractedHours_id"
										}
									},
									{
										"source": {
											"path": "$['period']"
										},
										"sink": {
											"name": "period",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['hours']"
										},
										"sink": {
											"name": "hours",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['days']"
										},
										"sink": {
											"name": "days",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['start_date']"
										},
										"sink": {
											"name": "start_date",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['idx']"
										},
										"sink": {
											"name": "idx",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['finish_date']"
										},
										"sink": {
											"name": "finish_date",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['org_unit_id']"
										},
										"sink": {
											"name": "org_unit_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['employment_period_id']"
										},
										"sink": {
											"name": "employment_period_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['colour_coding']"
										},
										"sink": {
											"name": "colour_coding",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['type_of_work_id']"
										},
										"sink": {
											"name": "type_of_work_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['monthly_period_starts_at']"
										},
										"sink": {
											"name": "monthly_period_starts_at",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['weekly_period_starts_at']"
										},
										"sink": {
											"name": "weekly_period_starts_at",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['rolling_period_sequence_length_days']"
										},
										"sink": {
											"name": "rolling_period_sequence_length_days",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['rolling_period_sequence_start']"
										},
										"sink": {
											"name": "rolling_period_sequence_start",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['employment_period_idx']"
										},
										"sink": {
											"name": "employment_period_idx",
											"type": "String"
										}
									}
								],
								"collectionReference": ""
							}
						},
						"inputs": [
							{
								"referenceName": "DS_Sona_Initial_File",
								"type": "DatasetReference",
								"parameters": {
									"Filename": "contracted_hours - All Pages.json"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_AH2_TRANSFORM_DB",
								"type": "DatasetReference",
								"parameters": {
									"Schema": "Sona",
									"Table": "STG_ContractedHours"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Sona/Initial API Files"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Sona_Initial_EmploymentPeriods')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "EmploymentPeriods",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['active']"
										},
										"sink": {
											"name": "active",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['id']"
										},
										"sink": {
											"name": "EmploymentPeriods_id"
										}
									},
									{
										"source": {
											"path": "$['start_date']"
										},
										"sink": {
											"name": "start_date",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['idx']"
										},
										"sink": {
											"name": "idx",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['job_id']"
										},
										"sink": {
											"name": "job_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['organisation_id']"
										},
										"sink": {
											"name": "organisation_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['user_id']"
										},
										"sink": {
											"name": "user_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['finish_date']"
										},
										"sink": {
											"name": "finish_date",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['organisation_user_id']"
										},
										"sink": {
											"name": "organisation_user_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['employment_specs'][0]['id']"
										},
										"sink": {
											"name": "employment_specs_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['employment_specs'][0]['contracted_hours'][0]['id']"
										},
										"sink": {
											"name": "employment_specs_contracted_hours_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['employment_specs'][0]['contracted_hours'][0]['period']"
										},
										"sink": {
											"name": "employment_specs_contracted_hours_period",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['employment_specs'][0]['contracted_hours'][0]['hours']"
										},
										"sink": {
											"name": "employment_specs_contracted_hours_hours",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['employment_specs'][0]['contracted_hours'][0]['days']"
										},
										"sink": {
											"name": "employment_specs_contracted_hours_days",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['employment_specs'][0]['contracted_hours'][0]['start_date']"
										},
										"sink": {
											"name": "employment_specs_contracted_hours_start_date",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['employment_specs'][0]['contracted_hours'][0]['idx']"
										},
										"sink": {
											"name": "employment_specs_contracted_hours_idx",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['employment_specs'][0]['contracted_hours'][0]['org_unit_id']"
										},
										"sink": {
											"name": "employment_specs_contracted_hours_org_unit_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['employment_specs'][0]['contracted_hours'][0]['finish_date']"
										},
										"sink": {
											"name": "employment_specs_contracted_hours_finish_date",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['employment_specs'][0]['contracted_hours'][0]['colour_coding']"
										},
										"sink": {
											"name": "employment_specs_contracted_hours_colour_coding",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['employment_specs'][0]['contracted_hours'][0]['type_of_work_id']"
										},
										"sink": {
											"name": "employment_specs_contracted_hours_type_of_work_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['employment_specs'][0]['contracted_hours'][0]['monthly_period_starts_at']"
										},
										"sink": {
											"name": "employment_specs_contracted_hours_monthly_period_starts_at",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['employment_specs'][0]['contracted_hours'][0]['weekly_period_starts_at']"
										},
										"sink": {
											"name": "employment_specs_contracted_hours_weekly_period_starts_at",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['employment_specs'][0]['contracted_hours'][0]['rolling_period_sequence_length_days']"
										},
										"sink": {
											"name": "employment_specs_contracted_hours_rolling_period_sequence_length_days",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['employment_specs'][0]['contracted_hours'][0]['rolling_period_sequence_start']"
										},
										"sink": {
											"name": "employment_specs_contracted_hours_rolling_period_sequence_start",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['employment_specs'][0]['contract_types'][0]['id']"
										},
										"sink": {
											"name": "employment_specs_contract_types_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['employment_specs'][0]['contract_types'][0]['name']"
										},
										"sink": {
											"name": "employment_specs_contract_types_name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['employment_specs'][0]['contract_types'][0]['employment_type']"
										},
										"sink": {
											"name": "employment_specs_contract_types_employment_type",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['employment_specs'][0]['contract_types'][0]['pay_period_start']"
										},
										"sink": {
											"name": "employment_specs_contract_types_pay_period_start",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['employment_specs'][0]['contract_types'][0]['pay_period_type']"
										},
										"sink": {
											"name": "employment_specs_contract_types_pay_period_type",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['employment_specs'][0]['contract_types'][0]['payroll_rule']"
										},
										"sink": {
											"name": "employment_specs_contract_types_payroll_rule",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['employment_specs'][0]['contract_types'][0]['employment_basis']"
										},
										"sink": {
											"name": "employment_specs_contract_types_employment_basis",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['employment_specs'][0]['rates_of_pay'][0]['id']"
										},
										"sink": {
											"name": "employment_specs_rates_of_pay_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['employment_specs'][0]['rates_of_pay'][0]['start_date']"
										},
										"sink": {
											"name": "employment_specs_rates_of_pay_start_date",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['employment_specs'][0]['rates_of_pay'][0]['idx']"
										},
										"sink": {
											"name": "employment_specs_rates_of_pay_idx",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['employment_specs'][0]['rates_of_pay'][0]['finish_date']"
										},
										"sink": {
											"name": "employment_specs_rates_of_pay_finish_date",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['employment_specs'][0]['rates_of_pay'][0]['rate']"
										},
										"sink": {
											"name": "employment_specs_rates_of_pay_rate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['employment_specs'][0]['rates_of_pay'][0]['pay_type']"
										},
										"sink": {
											"name": "employment_specs_rates_of_pay_pay_type",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['primary_org_unit_id']"
										},
										"sink": {
											"name": "primary_org_unit_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['employee_number']"
										},
										"sink": {
											"name": "employee_number",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['continuous_employment_start_date']"
										},
										"sink": {
											"name": "continuous_employment_start_date",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['level_id']"
										},
										"sink": {
											"name": "level_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['job_grade_id']"
										},
										"sink": {
											"name": "job_grade_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['reports_to_user_id']"
										},
										"sink": {
											"name": "reports_to_user_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['reports_to_org_user_id']"
										},
										"sink": {
											"name": "reports_to_org_user_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['starter_declaration']"
										},
										"sink": {
											"name": "starter_declaration",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['student_loan_plan_four']"
										},
										"sink": {
											"name": "student_loan_plan_four",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['student_loan_plan_one']"
										},
										"sink": {
											"name": "student_loan_plan_one",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['student_loan_plan_two']"
										},
										"sink": {
											"name": "student_loan_plan_two",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['student_loan_post_graduate']"
										},
										"sink": {
											"name": "student_loan_post_graduate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['tupe']"
										},
										"sink": {
											"name": "tupe",
											"type": "String"
										}
									}
								],
								"collectionReference": "",
								"mapComplexValuesToString": false
							}
						},
						"inputs": [
							{
								"referenceName": "DS_Sona_Initial_File",
								"type": "DatasetReference",
								"parameters": {
									"Filename": "Sona All Employment Periods 2026-04-14.json"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_AH2_TRANSFORM_DB",
								"type": "DatasetReference",
								"parameters": {
									"Schema": "Sona",
									"Table": "STG_EmploymentPeriods"
								}
							}
						]
					},
					{
						"name": "EmploymentPeriods_TypesOfWork",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "EmploymentPeriods",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['id']"
										},
										"sink": {
											"name": "employment_period_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['id']"
										},
										"sink": {
											"name": "type_of_work_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['name']"
										},
										"sink": {
											"name": "type_of_work_name",
											"type": "String"
										}
									}
								],
								"collectionReference": "$['types_of_work']",
								"mapComplexValuesToString": false
							}
						},
						"inputs": [
							{
								"referenceName": "DS_Sona_Initial_File",
								"type": "DatasetReference",
								"parameters": {
									"Filename": "Sona All Employment Periods 2026-04-14.json"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_AH2_TRANSFORM_DB",
								"type": "DatasetReference",
								"parameters": {
									"Schema": "Sona",
									"Table": "STG_EmploymentPeriods_TypesOfWork"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Sona/Initial API Files"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Sona_Initial_Jobs')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Jobs",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"Jobs_id"
									]
								},
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['id']"
										},
										"sink": {
											"name": "Jobs_id"
										}
									},
									{
										"source": {
											"path": "$['name']"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['upload_id']"
										},
										"sink": {
											"name": "upload_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['archived_at']"
										},
										"sink": {
											"name": "archived_at",
											"type": "String"
										}
									}
								],
								"collectionReference": "",
								"mapComplexValuesToString": false
							}
						},
						"inputs": [
							{
								"referenceName": "DS_Sona_Initial_File",
								"type": "DatasetReference",
								"parameters": {
									"Filename": "jobs v2.json"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_AH2_TRANSFORM_DB",
								"type": "DatasetReference",
								"parameters": {
									"Schema": "Sona",
									"Table": "STG_Jobs"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Sona/Initial API Files"
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}