Avery-ADF/linkedTemplates/ArmTemplate_18.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "Avery-ADF"
		},
		"SCH_EveryDay_1am_properties_PL_Radar_SQLTables_parameters_DBItems": {
			"type": "array",
			"defaultValue": [
				{
					"source": {
						"schema": "AccessControl",
						"table": "ObjectRuleSet"
					},
					"destination": {
						"schema": "Radar_AccessControl",
						"table": "ObjectRuleSet"
					},
					"copySink": {
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": true
					}
				},
				{
					"source": {
						"schema": "AccessControl",
						"table": "RuleSet"
					},
					"destination": {
						"schema": "Radar_AccessControl",
						"table": "RuleSet"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "AccessControl",
						"table": "RuleSetRule"
					},
					"destination": {
						"schema": "Radar_AccessControl",
						"table": "RuleSetRule"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Actions",
						"table": "Action"
					},
					"destination": {
						"schema": "Radar_Actions",
						"table": "Action"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Actions",
						"table": "ActionObjectLink"
					},
					"destination": {
						"schema": "Radar_Actions",
						"table": "ActionObjectLink"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Actions",
						"table": "ActionPlanItem"
					},
					"destination": {
						"schema": "Radar_Actions",
						"table": "ActionPlanItem"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Actions",
						"table": "ActionPlanTag"
					},
					"destination": {
						"schema": "Radar_Actions",
						"table": "ActionPlanTag"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Actions",
						"table": "ActionPlanTags"
					},
					"destination": {
						"schema": "Radar_Actions",
						"table": "ActionPlanTags"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Actions",
						"table": "Control"
					},
					"destination": {
						"schema": "Radar_Actions",
						"table": "Control"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Actions",
						"table": "ScheduledTask"
					},
					"destination": {
						"schema": "Radar_Actions",
						"table": "ScheduledTask"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Actions",
						"table": "ScheduledTaskCategory"
					},
					"destination": {
						"schema": "Radar_Actions",
						"table": "ScheduledTaskCategory"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Actions",
						"table": "ScheduledTaskTag"
					},
					"destination": {
						"schema": "Radar_Actions",
						"table": "ScheduledTaskTag"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Actions",
						"table": "ScheduledTaskTags"
					},
					"destination": {
						"schema": "Radar_Actions",
						"table": "ScheduledTaskTags"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Actions",
						"table": "Update"
					},
					"destination": {
						"schema": "Radar_Actions",
						"table": "Update"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Analytics",
						"table": "FormTag"
					},
					"destination": {
						"schema": "Radar_Analytics",
						"table": "FormTag"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Audit",
						"table": "Comment"
					},
					"destination": {
						"schema": "Radar_Audit",
						"table": "Comment"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Audit",
						"table": "DeviceRegistration"
					},
					"destination": {
						"schema": "Radar_Audit",
						"table": "DeviceRegistration"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Audit",
						"table": "EvidenceActionPlanItem"
					},
					"destination": {
						"schema": "Radar_Audit",
						"table": "EvidenceActionPlanItem"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Audit",
						"table": "EvidenceAttachment"
					},
					"destination": {
						"schema": "Radar_Audit",
						"table": "EvidenceAttachment"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Audit",
						"table": "EvidenceComment"
					},
					"destination": {
						"schema": "Radar_Audit",
						"table": "EvidenceComment"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Audit",
						"table": "Outcome"
					},
					"destination": {
						"schema": "Radar_Audit",
						"table": "Outcome"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Audit",
						"table": "OutcomeRequirement"
					},
					"destination": {
						"schema": "Radar_Audit",
						"table": "OutcomeRequirement"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Audit",
						"table": "OutcomeRequirementTemplate"
					},
					"destination": {
						"schema": "Radar_Audit",
						"table": "OutcomeRequirementTemplate"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Audit",
						"table": "OutcomeTemplate"
					},
					"destination": {
						"schema": "Radar_Audit",
						"table": "OutcomeTemplate"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Audit",
						"table": "RequirementEvidence"
					},
					"destination": {
						"schema": "Radar_Audit",
						"table": "RequirementEvidence"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Audit",
						"table": "RequirementEvidenceTemplate"
					},
					"destination": {
						"schema": "Radar_Audit",
						"table": "RequirementEvidenceTemplate"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Audit",
						"table": "ScheduledAudit"
					},
					"destination": {
						"schema": "Radar_Audit",
						"table": "ScheduledAudit"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Audit",
						"table": "Template"
					},
					"destination": {
						"schema": "Radar_Audit",
						"table": "Template"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Audit",
						"table": "Type"
					},
					"destination": {
						"schema": "Radar_Audit",
						"table": "Type"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Audit",
						"table": "TypeThreshold"
					},
					"destination": {
						"schema": "Radar_Audit",
						"table": "TypeThreshold"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Audits",
						"table": "Instance"
					},
					"destination": {
						"schema": "Radar_Audits",
						"table": "Instance"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Audits",
						"table": "InstanceSection"
					},
					"destination": {
						"schema": "Radar_Audits",
						"table": "InstanceSection"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Audits",
						"table": "InstanceSectionResponse"
					},
					"destination": {
						"schema": "Radar_Audits",
						"table": "InstanceSectionResponse"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Audits",
						"table": "Schedule"
					},
					"destination": {
						"schema": "Radar_Audits",
						"table": "Schedule"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Audits",
						"table": "ScheduleLocation"
					},
					"destination": {
						"schema": "Radar_Audits",
						"table": "ScheduleLocation"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Audits",
						"table": "ScheduleWorkflow"
					},
					"destination": {
						"schema": "Radar_Audits",
						"table": "ScheduleWorkflow"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Audits",
						"table": "Template"
					},
					"destination": {
						"schema": "Radar_Audits",
						"table": "Template"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Audits",
						"table": "Type"
					},
					"destination": {
						"schema": "Radar_Audits",
						"table": "Type"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Audits",
						"table": "TypeThreshold"
					},
					"destination": {
						"schema": "Radar_Audits",
						"table": "TypeThreshold"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Compliance",
						"table": "RecordRequirement"
					},
					"destination": {
						"schema": "Radar_Compliance",
						"table": "RecordRequirement"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Compliance",
						"table": "RecordVersion"
					},
					"destination": {
						"schema": "Radar_Compliance",
						"table": "RecordVersion"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Compliance",
						"table": "RequirementType"
					},
					"destination": {
						"schema": "Radar_Compliance",
						"table": "RequirementType"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Compliance",
						"table": "RequirementTypeRole"
					},
					"destination": {
						"schema": "Radar_Compliance",
						"table": "RequirementTypeRole"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Compliance",
						"table": "RequirementTypeSchedule"
					},
					"destination": {
						"schema": "Radar_Compliance",
						"table": "RequirementTypeSchedule"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Compliance",
						"table": "RequirementTypeUser"
					},
					"destination": {
						"schema": "Radar_Compliance",
						"table": "RequirementTypeUser"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "DiscardLogging",
						"table": "Report"
					},
					"destination": {
						"schema": "Radar_DiscardLogging",
						"table": "Report"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "DocumentManagement",
						"table": "Document"
					},
					"destination": {
						"schema": "Radar_DocumentManagement",
						"table": "Document"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "DocumentManagement",
						"table": "DocumentTags"
					},
					"destination": {
						"schema": "Radar_DocumentManagement",
						"table": "DocumentTags"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "DocumentManagement",
						"table": "DocumentVersion"
					},
					"destination": {
						"schema": "Radar_DocumentManagement",
						"table": "DocumentVersion"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "DocumentManagement",
						"table": "DocumentVersionDownload"
					},
					"destination": {
						"schema": "Radar_DocumentManagement",
						"table": "DocumentVersionDownload"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "DocumentManagement",
						"table": "DocumentVersionHistory"
					},
					"destination": {
						"schema": "Radar_DocumentManagement",
						"table": "DocumentVersionHistory"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "DocumentManagement",
						"table": "Folder"
					},
					"destination": {
						"schema": "Radar_DocumentManagement",
						"table": "Folder"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "DocumentManagement",
						"table": "Tag"
					},
					"destination": {
						"schema": "Radar_DocumentManagement",
						"table": "Tag"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "QueryBuilder",
						"table": "SavedQuery"
					},
					"destination": {
						"schema": "Radar_QueryBuilder",
						"table": "SavedQuery"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "QueryBuilder",
						"table": "SavedQueryFolder"
					},
					"destination": {
						"schema": "Radar_QueryBuilder",
						"table": "SavedQueryFolder"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Radar",
						"table": "ActivityLog"
					},
					"destination": {
						"schema": "Radar_Radar",
						"table": "ActivityLog"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Radar",
						"table": "Attachment"
					},
					"destination": {
						"schema": "Radar_Radar",
						"table": "Attachment"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Radar",
						"table": "AttachmentDownload"
					},
					"destination": {
						"schema": "Radar_Radar",
						"table": "AttachmentDownload"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Radar",
						"table": "Audit"
					},
					"destination": {
						"schema": "Radar_Radar",
						"table": "Audit"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Radar",
						"table": "CustomDataItem"
					},
					"destination": {
						"schema": "Radar_Radar",
						"table": "CustomDataItem"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Radar",
						"table": "CustomDataItemLocation"
					},
					"destination": {
						"schema": "Radar_Radar",
						"table": "CustomDataItemLocation"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Radar",
						"table": "CustomDataType"
					},
					"destination": {
						"schema": "Radar_Radar",
						"table": "CustomDataType"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Radar",
						"table": "CustomEntityInstance"
					},
					"destination": {
						"schema": "Radar_Radar",
						"table": "CustomEntityInstance"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Radar",
						"table": "CustomEntityInstanceLocation"
					},
					"destination": {
						"schema": "Radar_Radar",
						"table": "CustomEntityInstanceLocation"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Radar",
						"table": "CustomEntityInstanceValues"
					},
					"destination": {
						"schema": "Radar_Radar",
						"table": "CustomEntityInstanceValues"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Radar",
						"table": "CustomEntityType"
					},
					"destination": {
						"schema": "Radar_Radar",
						"table": "CustomEntityType"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Radar",
						"table": "CustomEntityTypeField"
					},
					"destination": {
						"schema": "Radar_Radar",
						"table": "CustomEntityTypeField"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Radar",
						"table": "Department"
					},
					"destination": {
						"schema": "Radar_Radar",
						"table": "Department"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Radar",
						"table": "DomainObjectAccessControlRule"
					},
					"destination": {
						"schema": "Radar_Radar",
						"table": "DomainObjectAccessControlRule"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Radar",
						"table": "EventAccessGroupRole"
					},
					"destination": {
						"schema": "Radar_Radar",
						"table": "EventAccessGroupRole"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Radar",
						"table": "EventAccessGroups"
					},
					"destination": {
						"schema": "Radar_Radar",
						"table": "EventAccessGroups"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Radar",
						"table": "EventCategory"
					},
					"destination": {
						"schema": "Radar_Radar",
						"table": "EventCategory"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Radar",
						"table": "EventTypeCategoryLink"
					},
					"destination": {
						"schema": "Radar_Radar",
						"table": "EventTypeCategoryLink"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Radar",
						"table": "IntegrationLink"
					},
					"destination": {
						"schema": "Radar_Radar",
						"table": "IntegrationLink"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Radar",
						"table": "ItemReference"
					},
					"destination": {
						"schema": "Radar_Radar",
						"table": "ItemReference"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Radar",
						"table": "JobLog"
					},
					"destination": {
						"schema": "Radar_Radar",
						"table": "JobLog"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Radar",
						"table": "LastUpdated"
					},
					"destination": {
						"schema": "Radar_Radar",
						"table": "LastUpdated"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Radar",
						"table": "Location"
					},
					"destination": {
						"schema": "Radar_Radar",
						"table": "Location"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Radar",
						"table": "LocationLocationType"
					},
					"destination": {
						"schema": "Radar_Radar",
						"table": "LocationLocationType"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Radar",
						"table": "LocationType"
					},
					"destination": {
						"schema": "Radar_Radar",
						"table": "LocationType"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Radar",
						"table": "LocationUser"
					},
					"destination": {
						"schema": "Radar_Radar",
						"table": "LocationUser"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Radar",
						"table": "Lookup"
					},
					"destination": {
						"schema": "Radar_Radar",
						"table": "Lookup"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Radar",
						"table": "Module"
					},
					"destination": {
						"schema": "Radar_Radar",
						"table": "Module"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Radar",
						"table": "Notice"
					},
					"destination": {
						"schema": "Radar_Radar",
						"table": "Notice"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Radar",
						"table": "NoticeAttachment"
					},
					"destination": {
						"schema": "Radar_Radar",
						"table": "NoticeAttachment"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Radar",
						"table": "NotificationHistory"
					},
					"destination": {
						"schema": "Radar_Radar",
						"table": "NotificationHistory"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Radar",
						"table": "NotificationQueue"
					},
					"destination": {
						"schema": "Radar_Radar",
						"table": "NotificationQueue"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Radar",
						"table": "Organisation"
					},
					"destination": {
						"schema": "Radar_Radar",
						"table": "Organisation"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Radar",
						"table": "PendingItem"
					},
					"destination": {
						"schema": "Radar_Radar",
						"table": "PendingItem"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Radar",
						"table": "Permission"
					},
					"destination": {
						"schema": "Radar_Radar",
						"table": "Permission"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Radar",
						"table": "PsimsSubmission"
					},
					"destination": {
						"schema": "Radar_Radar",
						"table": "PsimsSubmission"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Radar",
						"table": "Region"
					},
					"destination": {
						"schema": "Radar_Radar",
						"table": "Region"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Radar",
						"table": "Role"
					},
					"destination": {
						"schema": "Radar_Radar",
						"table": "Role"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Radar",
						"table": "RoleDashboardPermission"
					},
					"destination": {
						"schema": "Radar_Radar",
						"table": "RoleDashboardPermission"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Radar",
						"table": "RolePermission"
					},
					"destination": {
						"schema": "Radar_Radar",
						"table": "RolePermission"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Radar",
						"table": "ServiceUser"
					},
					"destination": {
						"schema": "Radar_Radar",
						"table": "ServiceUser"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Radar",
						"table": "ServiceUserLocation"
					},
					"destination": {
						"schema": "Radar_Radar",
						"table": "ServiceUserLocation"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Radar",
						"table": "Tag"
					},
					"destination": {
						"schema": "Radar_Radar",
						"table": "Tag"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Radar",
						"table": "TagLink"
					},
					"destination": {
						"schema": "Radar_Radar",
						"table": "TagLink"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Radar",
						"table": "User"
					},
					"destination": {
						"schema": "Radar_Radar",
						"table": "User"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Radar",
						"table": "UserComment"
					},
					"destination": {
						"schema": "Radar_Radar",
						"table": "UserComment"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Radar",
						"table": "UserDepartment"
					},
					"destination": {
						"schema": "Radar_Radar",
						"table": "UserDepartment"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Radar",
						"table": "UserNotice"
					},
					"destination": {
						"schema": "Radar_Radar",
						"table": "UserNotice"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Radar",
						"table": "UserOutOfOffice"
					},
					"destination": {
						"schema": "Radar_Radar",
						"table": "UserOutOfOffice"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Radar",
						"table": "UserPreference"
					},
					"destination": {
						"schema": "Radar_Radar",
						"table": "UserPreference"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Radar",
						"table": "UserRole"
					},
					"destination": {
						"schema": "Radar_Radar",
						"table": "UserRole"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "RiskManagement",
						"table": "ImpactCategory"
					},
					"destination": {
						"schema": "Radar_RiskManagement",
						"table": "ImpactCategory"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "RiskManagement",
						"table": "ImpactDescriptor"
					},
					"destination": {
						"schema": "Radar_RiskManagement",
						"table": "ImpactDescriptor"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "RiskManagement",
						"table": "Incident"
					},
					"destination": {
						"schema": "Radar_RiskManagement",
						"table": "Incident"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "RiskManagement",
						"table": "IncidentRequiredFormTime"
					},
					"destination": {
						"schema": "Radar_RiskManagement",
						"table": "IncidentRequiredFormTime"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "RiskManagement",
						"table": "IncidentSubType"
					},
					"destination": {
						"schema": "Radar_RiskManagement",
						"table": "IncidentSubType"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "RiskManagement",
						"table": "IncidentType"
					},
					"destination": {
						"schema": "Radar_RiskManagement",
						"table": "IncidentType"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "RiskManagement",
						"table": "IncidentTypeLocationType"
					},
					"destination": {
						"schema": "Radar_RiskManagement",
						"table": "IncidentTypeLocationType"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "RiskManagement",
						"table": "LikelihoodCategory"
					},
					"destination": {
						"schema": "Radar_RiskManagement",
						"table": "LikelihoodCategory"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "RiskManagement",
						"table": "LikelihoodDescriptor"
					},
					"destination": {
						"schema": "Radar_RiskManagement",
						"table": "LikelihoodDescriptor"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "RiskManagement",
						"table": "LinkedItem"
					},
					"destination": {
						"schema": "Radar_RiskManagement",
						"table": "LinkedItem"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "RiskManagement",
						"table": "Risk"
					},
					"destination": {
						"schema": "Radar_RiskManagement",
						"table": "Risk"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "RiskManagement",
						"table": "RiskCategory"
					},
					"destination": {
						"schema": "Radar_RiskManagement",
						"table": "RiskCategory"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "RiskManagement",
						"table": "RiskReviewUpdate"
					},
					"destination": {
						"schema": "Radar_RiskManagement",
						"table": "RiskReviewUpdate"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "RiskManagement",
						"table": "ViewExceptionEvent"
					},
					"destination": {
						"schema": "Radar_RiskManagement",
						"table": "ViewExceptionEvent"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "RiskManagement",
						"table": "ViewExceptionEventRole"
					},
					"destination": {
						"schema": "Radar_RiskManagement",
						"table": "ViewExceptionEventRole"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "RootCauseAnalysis",
						"table": "Cause"
					},
					"destination": {
						"schema": "Radar_RootCauseAnalysis",
						"table": "Cause"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "RootCauseAnalysis",
						"table": "ContributingFactor"
					},
					"destination": {
						"schema": "Radar_RootCauseAnalysis",
						"table": "ContributingFactor"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "RootCauseAnalysis",
						"table": "ContributingFactorCategory"
					},
					"destination": {
						"schema": "Radar_RootCauseAnalysis",
						"table": "ContributingFactorCategory"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "RootCauseAnalysis",
						"table": "InvestigationEvent"
					},
					"destination": {
						"schema": "Radar_RootCauseAnalysis",
						"table": "InvestigationEvent"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Templates",
						"table": "Bodymap"
					},
					"destination": {
						"schema": "Radar_Templates",
						"table": "Bodymap"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Templates",
						"table": "FormTemplate"
					},
					"destination": {
						"schema": "Radar_Templates",
						"table": "FormTemplate"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Templates",
						"table": "FormTemplateInstance"
					},
					"destination": {
						"schema": "Radar_Templates",
						"table": "FormTemplateInstance"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Templates",
						"table": "FormTemplateInstanceValue"
					},
					"destination": {
						"schema": "Radar_Templates",
						"table": "FormTemplateInstanceValue"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Templates",
						"table": "FormTemplateInstanceValueExtendedData"
					},
					"destination": {
						"schema": "Radar_Templates",
						"table": "FormTemplateInstanceValueExtendedData"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Templates",
						"table": "FormTemplateTag"
					},
					"destination": {
						"schema": "Radar_Templates",
						"table": "FormTemplateTag"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Workflow",
						"table": "Definition"
					},
					"destination": {
						"schema": "Radar_Workflow",
						"table": "Definition"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Workflow",
						"table": "Dependency"
					},
					"destination": {
						"schema": "Radar_Workflow",
						"table": "Dependency"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Workflow",
						"table": "Instance"
					},
					"destination": {
						"schema": "Radar_Workflow",
						"table": "Instance"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Workflow",
						"table": "Selector"
					},
					"destination": {
						"schema": "Radar_Workflow",
						"table": "Selector"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Workflow",
						"table": "Trigger"
					},
					"destination": {
						"schema": "Radar_Workflow",
						"table": "Trigger"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				},
				{
					"source": {
						"schema": "Workflow",
						"table": "UserTask"
					},
					"destination": {
						"schema": "Radar_Workflow",
						"table": "UserTask"
					},
					"copySink": {
						"writeBehavior": null,
						"sqlWriterUseTableLock": null
					}
				}
			]
		},
		"SCH_NurseCall_InterCall_Export_Daily_properties_PL_NurseCall_InterCall_Export_parameters_ExportType": {
			"type": "string",
			"defaultValue": "Daily"
		},
		"SCH_NurseCall_InterCall_Export_Daily_properties_PL_NurseCall_InterCall_Export_parameters_Home": {
			"type": "string",
			"defaultValue": "Silvermere"
		},
		"SCH_NurseCall_InterCall_Export_Monthly_properties_PL_NurseCall_InterCall_Export_parameters_ExportType": {
			"type": "string",
			"defaultValue": "Monthly"
		},
		"SCH_NurseCall_InterCall_Export_Monthly_properties_PL_NurseCall_InterCall_Export_parameters_Home": {
			"type": "string",
			"defaultValue": "Silvermere"
		},
		"SCH_NurseCall_InterCall_Export_Weekly_properties_PL_NurseCall_InterCall_Export_parameters_ExportType": {
			"type": "string",
			"defaultValue": "Weekly"
		},
		"SCH_NurseCall_InterCall_Export_Weekly_properties_PL_NurseCall_InterCall_Export_parameters_Home": {
			"type": "string",
			"defaultValue": "Silvermere"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/xPL_Pricing')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Pipeline to update Pricing tables outside GRG refresh Window",
				"activities": [
					{
						"name": "Upsert Coldharbour Rooms",
						"description": "Updates the ColdHarbour.Rooms table from the Polestar DB. Polestar DB is a replication of the GRG database (CH reporting suite/DB)",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "xPL_ColdHarbour_Rooms",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Update Occupancy",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Upsert Coldharbour Rooms",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "xPL_ColdHarbour_RoomsWithInHomeResidents",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Pricing"
				},
				"annotations": [],
				"lastPublishTime": "2024-10-10T09:35:49Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/xPL_Sona_Full_WeeklyHrs_Data')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Gets the previous week data for Shifts and Paylines",
				"activities": [
					{
						"name": "Set EndDateTime",
						"description": "Find the most recent Sunday and set the time to 23:59:59\nLogic Below:\nGet today's UTC date.\nCalculate the day of the week (Sunday = 0, Monday = 1, ..., Saturday = 6).\nMake that number negative.\nSubtract that many days from today (this gives the most recent Sunday).\nSet the time to 23:59:59 UTC.",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "EndDateTime",
							"value": {
								"value": "@concat(\n    formatDateTime(\n        addDays(utcNow(), mul(-1, dayOfWeek(utcNow()))),\n        'yyyy-MM-dd'\n    ),\n    'T23:59:59Z'\n)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set StartDateTime",
						"description": "Find the Monday six days before the most recent Sunday and set the time to 00:00:00.\nLogic Below:\nGet today's UTC date.\nCalculate the day of the week.\nMake that number negative.\nSubtract that many days from today (this gives the most recent Sunday).\nSubtract another 6 days (this gives the Monday before that Sunday).\nSet the time to 00:00:00 UTC",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "StartDateTime",
							"value": {
								"value": "@concat(\n    formatDateTime(\n        addDays(utcNow(), sub(mul(-1, dayOfWeek(utcNow())), 6)),\n        'yyyy-MM-dd'\n    ),\n    'T00:00:00Z'\n)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Get Shifts Data",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Set EndDateTime",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set StartDateTime",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_Sona_GetFullWeekData",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"EndPoint": "shifts",
								"MinStartDate": {
									"value": "@variables('StartDateTime')",
									"type": "Expression"
								},
								"MaxStartDate": {
									"value": "@variables('EndDateTime')",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Get PayLines Data",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Get Shifts Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_Sona_GetFullWeekData",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"EndPoint": "paylines",
								"MinStartDate": {
									"value": "@variables('StartDateTime')",
									"type": "Expression"
								},
								"MaxStartDate": {
									"value": "@variables('EndDateTime')",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Stage Data and Remove Old Payline Records",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Pre Clear Stage Tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_Sona_Stage_Full_WeeklyHr_data",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Upsert To Final Tables",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Stage Data and Remove Old Payline Records",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_Sona_Upsert_WeeklyHr_data",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Pre Clear Stage Tables",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "Get PayLines Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "AH2_TRANSFORM_DB",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "EXEC Sona.Clear$StageTables"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "Post Clear Stage Tables",
						"type": "Script",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Update AH1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "AH2_TRANSFORM_DB",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "EXEC Sona.Clear$StageTables"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "Update AH1",
						"type": "ExecutePipeline",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Remove Duplicate Paylines",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_Sona_WeeklyHrs_ViewTransfer",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Remove Duplicate Paylines",
						"type": "Script",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Upsert To Final Tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "AH2_TRANSFORM_DB",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "EXEC Sona.Remove$DuplicatePaylines"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"EndDateTime": {
						"type": "String"
					},
					"StartDateTime": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Sona"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AveryblobFileShare')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AveryblobFileShare",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "AveryPrivateNetwork/AveryblobStorageAccount"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureFileStorageLocation"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Averyblob_Fusion')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Files stored in averyblob fusion container. Connected through the Avery virtual network using the private endpoing",
				"linkedServiceName": {
					"referenceName": "AveryblobStorageAccount",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "AveryPrivateNetwork/AveryblobStorageAccount"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "fusion"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Averyblob_Fusion_Archive')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Files stored in averyblob fusion container. Connected through the Avery virtual network using the private endpoing",
				"linkedServiceName": {
					"referenceName": "AveryblobStorageAccount",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "AveryPrivateNetwork/AveryblobStorageAccount"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": {
							"value": "@concat('archive/', formatDateTime(utcNow(), 'yyyy'), '/', formatDateTime(utcNow(), 'MM'), '/', formatDateTime(utcNow(), 'dd'), '/')\n",
							"type": "Expression"
						},
						"container": "fusion"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Averyblob_Tribepad')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AveryblobStorageAccount",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "AveryPrivateNetwork/AveryblobStorageAccount"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Test File.txt",
						"container": "tribepad"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_averyblob_tribepad_binary_dest')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AveryblobStorageAccount",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Directory": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Tribepad"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": {
							"value": "@dataset().Directory",
							"type": "Expression"
						},
						"container": "tribepad"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_averyblob_tribepad_binary_source')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AveryblobStorageAccount",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Tribepad"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "tribepad"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SCH_EveryDay_1am')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PL_Radar_SQLTables",
							"type": "PipelineReference"
						},
						"parameters": {
							"DBItems": "[parameters('SCH_EveryDay_1am_properties_PL_Radar_SQLTables_parameters_DBItems')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2025-09-04T14:29:00",
						"timeZone": "GMT Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								1
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SCH_NurseCall_InterCall_Export_Daily')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Exports data from the InterCall data on Transform for the previous day and triggers the NurseCall-SharePoint-Upload Logic app to execute, passing paramters to it to allow it to retrieve the exported file, created the directory if needed and create a copy of the file there",
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PL_NurseCall_InterCall_Export",
							"type": "PipelineReference"
						},
						"parameters": {
							"ExportType": "[parameters('SCH_NurseCall_InterCall_Export_Daily_properties_PL_NurseCall_InterCall_Export_parameters_ExportType')]",
							"Home": "[parameters('SCH_NurseCall_InterCall_Export_Daily_properties_PL_NurseCall_InterCall_Export_parameters_Home')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2026-07-17T08:12:00",
						"timeZone": "GMT Standard Time",
						"schedule": {
							"minutes": [
								30
							],
							"hours": [
								7
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SCH_NurseCall_InterCall_Export_Monthly')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PL_NurseCall_InterCall_Export",
							"type": "PipelineReference"
						},
						"parameters": {
							"ExportType": "[parameters('SCH_NurseCall_InterCall_Export_Monthly_properties_PL_NurseCall_InterCall_Export_parameters_ExportType')]",
							"Home": "[parameters('SCH_NurseCall_InterCall_Export_Monthly_properties_PL_NurseCall_InterCall_Export_parameters_Home')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Month",
						"interval": 1,
						"startTime": "2026-07-17T08:44:00",
						"timeZone": "GMT Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								8
							],
							"monthDays": [
								1
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SCH_NurseCall_InterCall_Export_Weekly')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PL_NurseCall_InterCall_Export",
							"type": "PipelineReference"
						},
						"parameters": {
							"ExportType": "[parameters('SCH_NurseCall_InterCall_Export_Weekly_properties_PL_NurseCall_InterCall_Export_parameters_ExportType')]",
							"Home": "[parameters('SCH_NurseCall_InterCall_Export_Weekly_properties_PL_NurseCall_InterCall_Export_parameters_Home')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Week",
						"interval": 1,
						"startTime": "2026-07-17T08:43:00",
						"timeZone": "GMT Standard Time",
						"schedule": {
							"minutes": [
								45
							],
							"hours": [
								7
							],
							"weekDays": [
								"Monday"
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SCH_Weekly_Mon_6AM')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Once a week, Monday at 6am",
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "xPL_ColdHarbour_Rooms",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Week",
						"interval": 1,
						"startTime": "2024-09-06T10:38:00",
						"timeZone": "GMT Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								6
							],
							"weekDays": [
								"Monday"
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Sch_EveryDay_10-45pm')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PL_YourHippo_Move_WebHook_Files_Step2",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2025-04-04T09:20:00",
						"timeZone": "GMT Standard Time",
						"schedule": {
							"minutes": [
								45
							],
							"hours": [
								22
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Sch_EveryDay_10pm')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PL_YourHippo_Move_WebHook_Files_Step1",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2025-04-04T09:19:00",
						"timeZone": "GMT Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								22
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Sch_EveryDay_AfterMidnight')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Runs everyday just after midnight (00:05)",
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PL_Hydra_Output_File",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2024-12-17T15:55:00",
						"timeZone": "GMT Standard Time",
						"schedule": {
							"minutes": [
								10
							],
							"hours": [
								0
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Sch_EveryDay_Once_10-15pm')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Scheduled to trigger once at 10:15pm, Everyday",
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PL_AEMS_BackupToAveryTables",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Week",
						"interval": 1,
						"startTime": "2024-05-30T11:15:00",
						"timeZone": "GMT Standard Time",
						"schedule": {
							"minutes": [
								15
							],
							"hours": [
								22
							],
							"weekDays": [
								"Sunday",
								"Monday",
								"Tuesday",
								"Wednesday",
								"Thursday",
								"Friday",
								"Saturday"
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Sch_Monthly_Once_1st_4am')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Once a Month on the 1st",
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PL_CQC_Required_Files",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "PL_CH_Snapshot",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Month",
						"interval": 1,
						"startTime": "2024-10-25T09:23:00",
						"timeZone": "GMT Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								4
							],
							"monthDays": [
								1
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SCH_Florence_Accurall_Import')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PL_Florence_AccuralReport",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2026-07-22T07:59:00",
						"timeZone": "GMT Standard Time",
						"schedule": {
							"minutes": [
								30
							],
							"hours": [
								9,
								12,
								15,
								20
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_CH_TransactionData')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Runs the pipelines to copy across posted transactions and Allocations",
				"activities": [
					{
						"name": "Posted Transactions",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_CH_PostedTransactions",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Allocations",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Posted Transactions",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_CH_Allocation",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Direct Debits",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Allocations",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_CH_DirectDebitData",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Cold Harbour"
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}