pipeline/PL_BroadShield_UAT_UserCourses.json
{
	"name": "PL_BroadShield_UAT_UserCourses",
	"properties": {
		"activities": [
			{
				"name": "Download User Course data",
				"description": "Connects to Myrus API user-course end point and downloads data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set User Courses File Name",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_BroadShield_UAT_API",
						"type": "DatasetReference",
						"parameters": {
							"Date": {
								"value": "@variables('API_Date')",
								"type": "Expression"
							},
							"EndPoint": "user-courses"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_BroadShield_JSON",
						"type": "DatasetReference",
						"parameters": {
							"FileName": {
								"value": "@variables('UsersFileName')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Set User Courses File Name",
				"description": "Sets the name of the file to be used in the sink data set",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set Date for API Call",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "UsersFileName",
					"value": {
						"value": "@concat('UserCourses', '$', formatDateTime(utcNow(), 'dd-MM-yyyy'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Date for API Call",
				"description": "Sets the date to be 30 days prior to today",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "API_Date",
					"value": {
						"value": "@formatDateTime(subtractFromTime(utcNow(), 30, 'Day'), 'yyyyMMddHHmmss')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"UsersFileName": {
				"type": "String"
			},
			"API_Date": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Broadshield/UAT"
		},
		"annotations": [],
		"lastPublishTime": "2024-09-26T09:59:30Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}