pipeline/PL_BroadShield_JSON_SQL_AllData.json
{
	"name": "PL_BroadShield_JSON_SQL_AllData",
	"properties": {
		"activities": [
			{
				"name": "Users JSON data to SQL table",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set Upsert DateTime",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"additionalColumns": [
							{
								"name": "SourceFileName",
								"value": "$$FILEPATH"
							},
							{
								"name": "UpsertDateTime",
								"value": {
									"value": "@variables('Upsert_UTCDateTime')",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"UserID"
							]
						},
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['userID']"
								},
								"sink": {
									"name": "UserID",
									"type": "Int32"
								}
							},
							{
								"source": {
									"path": "['forename']"
								},
								"sink": {
									"name": "Forename",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['surname']"
								},
								"sink": {
									"name": "Surname",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['employeeNumber']"
								},
								"sink": {
									"name": "EmployeeNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['location']"
								},
								"sink": {
									"name": "UserLocation",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['jobRole']"
								},
								"sink": {
									"name": "JobRole",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['status']"
								},
								"sink": {
									"name": "UserStatus",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['createdDateTime']"
								},
								"sink": {
									"name": "CreatedDateTime",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['lastUpdatedDateTime']"
								},
								"sink": {
									"name": "APILastUpdatedDateTime",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['SourceFileName']"
								},
								"sink": {
									"name": "SourceFileName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['UpsertDateTime']"
								},
								"sink": {
									"name": "UpsertDateTime",
									"type": "DateTime"
								}
							}
						],
						"collectionReference": "$['users']"
					}
				},
				"inputs": [
					{
						"referenceName": "DS_BroadShield_JSON_AllData",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "AllUsersData$20241002"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_AH2_TRANSFORM_DB",
						"type": "DatasetReference",
						"parameters": {
							"Schema": "Broadshield",
							"Table": "Users"
						}
					}
				]
			},
			{
				"name": "Courses JSON data to SQL table",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Users JSON data to SQL table",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"additionalColumns": [
							{
								"name": "SourceFileName",
								"value": "$$FILEPATH"
							},
							{
								"name": "UpsertDateTime",
								"value": {
									"value": "@variables('Upsert_UTCDateTime')",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"CourseID"
							]
						},
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['courseID']"
								},
								"sink": {
									"name": "CourseID",
									"type": "Int32"
								}
							},
							{
								"source": {
									"path": "['courseName']"
								},
								"sink": {
									"name": "CourseName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['courseCode']"
								},
								"sink": {
									"name": "CourseCode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['courseMandation']"
								},
								"sink": {
									"name": "CourseMandation",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['courseExpiry']"
								},
								"sink": {
									"name": "CourseExpiry",
									"type": "Int32"
								}
							},
							{
								"source": {
									"path": "['status']"
								},
								"sink": {
									"name": "CourseStatus",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['createdDateTime']"
								},
								"sink": {
									"name": "CreatedDateTime",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['lastUpdatedDateTime']"
								},
								"sink": {
									"name": "APILastUpdatedDateTime",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['SourceFileName']"
								},
								"sink": {
									"name": "SourceFileName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['UpsertDateTime']"
								},
								"sink": {
									"name": "UpsertDateTime",
									"type": "DateTime"
								}
							}
						],
						"collectionReference": "$['courses']"
					}
				},
				"inputs": [
					{
						"referenceName": "DS_BroadShield_JSON_AllData",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "AllCoursesData$20241002"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_AH2_TRANSFORM_DB",
						"type": "DatasetReference",
						"parameters": {
							"Schema": "Broadshield",
							"Table": "Course"
						}
					}
				]
			},
			{
				"name": "UserCourses JSON data to SQL table",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Courses JSON data to SQL table",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"additionalColumns": [
							{
								"name": "SourceFileName",
								"value": "$$FILEPATH"
							},
							{
								"name": "UpsertDateTime",
								"value": {
									"value": "@variables('Upsert_UTCDateTime')",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"AssignmentID"
							]
						},
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['assignmentID']"
								},
								"sink": {
									"name": "AssignmentID",
									"type": "Int32"
								}
							},
							{
								"source": {
									"path": "['userID']"
								},
								"sink": {
									"name": "UserID",
									"type": "Int32"
								}
							},
							{
								"source": {
									"path": "['courseID']"
								},
								"sink": {
									"name": "CourseID",
									"type": "Int32"
								}
							},
							{
								"source": {
									"path": "['assignmentStatus']"
								},
								"sink": {
									"name": "AssignmentStatus",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['assignmentMandation']"
								},
								"sink": {
									"name": "AssignmentMandation",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['startedDate']"
								},
								"sink": {
									"name": "StartedDate",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['assessmentStatus']"
								},
								"sink": {
									"name": "AssessmentStatus",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['completionDate']"
								},
								"sink": {
									"name": "CompletionDate",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['expiryDate']"
								},
								"sink": {
									"name": "ExpiryDate",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['assignedDate']"
								},
								"sink": {
									"name": "AssignedDate",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['lastUpdatedDateTime']"
								},
								"sink": {
									"name": "APILastUpdatedDateTime",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['SourceFileName']"
								},
								"sink": {
									"name": "SourceFileName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['UpsertDateTime']"
								},
								"sink": {
									"name": "UpsertDateTime",
									"type": "DateTime"
								}
							}
						],
						"collectionReference": "$['usercourses']"
					}
				},
				"inputs": [
					{
						"referenceName": "DS_BroadShield_JSON_AllData",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "AllUser-CoursesData$20241002"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_AH2_TRANSFORM_DB",
						"type": "DatasetReference",
						"parameters": {
							"Schema": "Broadshield",
							"Table": "UserCourses"
						}
					}
				]
			},
			{
				"name": "Set Upsert DateTime",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Upsert_UTCDateTime",
					"value": {
						"value": "@utcNow('yyyy-MM-dd hh:mm:ss')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Upsert_UTCDateTime": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Broadshield/Child Pipelines"
		},
		"annotations": [],
		"lastPublishTime": "2024-10-02T15:38:19Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}