pipeline/PL_ColdHarbour_Stage_IP_Tables.json
{
	"name": "PL_ColdHarbour_Stage_IP_Tables",
	"properties": {
		"activities": [
			{
				"name": "Set vDirectory",
				"description": "Todays date used for directory/storage location in storage account",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set vToday",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "vDirectory",
					"value": {
						"value": "@concat(formatDateTime(variables('vToday'), 'yyyy'),'/',formatDateTime(variables('vToday'), 'MM'),'/',formatDateTime(variables('vToday'), 'dd') )",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set vToday",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "vToday",
					"value": {
						"value": "@formatDateTime(utcNow(),'yyyy-MM-dd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach Table Stage Data",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup Tables').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Stage Data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "ParquetReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "ADM_ANAL",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "ADM_ANAL",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "ADM_TYPE",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "ADM_TYPE",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "ALIAS_REF",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "ALIAS_REF",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "AUTHORITY",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "AUTHORITY",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "BELONGINGS",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "BELONGINGS",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "BESPFIELDS",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "BESPFIELDS",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "BIRTHDATE",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "BIRTHDATE",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "CACA_REF",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "CACA_REF",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "CNTA_DET_REF",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "CNTA_DET_REF",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "COLLECTFEE",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "COLLECTFEE",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "CORE",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "CORE",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "DISABILITY",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "DISABILITY",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "ENQ_REF",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "ENQ_REF",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "FUNDDEPLDT",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "FUNDDEPLDT",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "FUNERALARR",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "FUNERALARR",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "ISALIAS",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "ISALIAS",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "LASTADDATE",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "LASTADDATE",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "LASTDIDATE",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "LASTDIDATE",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "MARKETING",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "MARKETING",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "NHSNUMBER",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "NHSNUMBER",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "NINUMBER",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "NINUMBER",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "NOOCCREP",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "NOOCCREP",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "NOTES",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "NOTES",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "OCB_REF",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "OCB_REF",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "ORIGADDATE",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "ORIGADDATE",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "PICTURE",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "PICTURE",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "REAR_REF",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "REAR_REF",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "RELIGION",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "RELIGION",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "RESPAYINT",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "RESPAYINT",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "RES_CODE",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "RES_CODE",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "RES_REF",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "RES_REF",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "ROOM_REF",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "ROOM_REF",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "SEX",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "SEX",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "SOURCE",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "SOURCE",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "STATUS",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "STATUS",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "TRANSFER",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "TRANSFER",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "TYPE",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "TYPE",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "USERDEF",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "USERDEF",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "USERFIELD1",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "USERFIELD1",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "USERFIELD2",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "USERFIELD2",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "USERFIELD3",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "USERFIELD3",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "LASTADTIME",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "LASTADTIME",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "LASTDITIME",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "LASTDITIME",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "ORIGADTIME",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "ORIGADTIME",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "ALTCOMMS",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "ALTCOMMS",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "ASS_ACTBY",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "ASS_ACTBY",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "ASS_ACTDT",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "ASS_ACTDT",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "CONNECTION",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "CONNECTION",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "CONNECTIONDET",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "CONNECTIONDET",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "CONTSIGNED",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "CONTSIGNED",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "LANGUAGE",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "LANGUAGE",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "MOVEDINFROM",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "MOVEDINFROM",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "PICID",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "PICID",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "PREVCODE",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "PREVCODE",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "ANNUALASSMTDATE",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "ANNUALASSMTDATE",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "APP4DATE",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "APP4DATE",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "CONTINENCE",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "CONTINENCE",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "DATEOFASSMT",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "DATEOFASSMT",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "FASTTRACK",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "FASTTRACK",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "INCONTTYPE",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "INCONTTYPE",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "LACCGPAY",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "LACCGPAY",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "LAPAYSTOPUP",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "LAPAYSTOPUP",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "LASTASSMTDATE",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "LASTASSMTDATE",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "OOACCG",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "OOACCG",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "OOALA",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "OOALA",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "OOAPLACE",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "OOAPLACE",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "PADSPERWEEK",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "PADSPERWEEK",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "TOPUPDATE",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "TOPUPDATE",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "TOPUPVALUE",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "TOPUPVALUE",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "TYPEOFFUNDING",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "TYPEOFFUNDING",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "VALUEPERWEEK",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "VALUEPERWEEK",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "CRM_REF",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "CRM_REF",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "STAKEHOLDERFLAG",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "STAKEHOLDERFLAG",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "CONTINENCEFUND",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "CONTINENCEFUND",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "CONTINENCELOOK",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "CONTINENCELOOK",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "CONTINENCETYPE",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "CONTINENCETYPE",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "DDMANDISSUEDATE",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "DDMANDISSUEDATE",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "FNCANNUAL",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "FNCANNUAL",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "ISPROPERTY",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "ISPROPERTY",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "OOAPLACELOOK",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "OOAPLACELOOK",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "PROPERTYVALUE",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "PROPERTYVALUE",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "RESAGREEDATE",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "RESAGREEDATE",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "WEEKDISREGARD",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "WEEKDISREGARD",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "WHOISFINREP",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "WHOISFINREP",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "ETHNICITY",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "ETHNICITY",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "GENDER",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "GENDER",
												"type": "String",
												"physicalType": "nvarchar"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_ColdHarbour_Parquet",
									"type": "DatasetReference",
									"parameters": {
										"Directory": {
											"value": "@variables('vDirectory')",
											"type": "Expression"
										},
										"FileName": {
											"value": "@concat(item().TableName'_Table_',variables('vToday'),'.parquet')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_AH2_TRANSFORM_DB",
									"type": "DatasetReference",
									"parameters": {
										"Schema": "ColdHarbour_Bronze",
										"Table": "Resident"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Lookup Tables",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set vDirectory",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT TOP 3 TableName FROM ColdHarbour.TableExportList",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_AH2_TRANSFORM_DB",
						"type": "DatasetReference",
						"parameters": {
							"Schema": "n/a",
							"Table": "n/a"
						}
					},
					"firstRowOnly": false
				}
			}
		],
		"variables": {
			"vToday": {
				"type": "String"
			},
			"vDirectory": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Cold Harbour"
		},
		"annotations": []
	}
}