pipeline/PL_CQC_Upsert_Location.json
{
	"name": "PL_CQC_Upsert_Location",
	"properties": {
		"description": "Using the location files to add location details.",
		"activities": [
			{
				"name": "Set DateTime",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "DateTime",
					"value": {
						"value": "@utcNow('yyyy-MM-dd hh:mm:ss')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get File List",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Set DateTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_CQC_Merged_Location_File",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "JsonReadSettings"
					}
				}
			},
			{
				"name": "For Each File",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get File List",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get File List').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Upsert to Location",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"additionalColumns": [
										{
											"name": "SourceFileName",
											"value": {
												"value": "@item().Name",
												"type": "Expression"
											}
										},
										{
											"name": "RowTimeStamp",
											"value": {
												"value": "@variables('DateTime')",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFileName": {
											"value": "@item().Name",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "upsert",
									"upsertSettings": {
										"useTempDB": true,
										"keys": [
											"LocationID"
										]
									},
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "$['locationId']"
											},
											"sink": {
												"name": "LocationID",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['providerId']"
											},
											"sink": {
												"name": "ProviderID",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['name']"
											},
											"sink": {
												"name": "LocationName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['registrationStatus']"
											},
											"sink": {
												"name": "RegistrationStatus",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['registrationDate']"
											},
											"sink": {
												"name": "RegistrationDate",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "$['deregistrationDate']"
											},
											"sink": {
												"name": "DeregistrationDate",
												"type": "DateTime"
											}
										}
									],
									"collectionReference": ""
								}
							},
							"inputs": [
								{
									"referenceName": "DS_CQC_Merged_Location_File",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DS_AH2_TRANSFORM_DB",
									"type": "DatasetReference",
									"parameters": {
										"Schema": "cqc",
										"Table": "Location"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Post Upsert proc",
				"description": "Executes a procedure that tidies a few of the columns. Sets them to Null where blank",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "For Each File",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[cqc].[PostUpdate$HomeCurrentRating]"
				},
				"linkedServiceName": {
					"referenceName": "AH2_TRANSFORM_DB",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"DateTime": {
				"type": "String"
			}
		},
		"folder": {
			"name": "CQC/Child Pipelines"
		},
		"annotations": []
	}
}