pipeline/PL_Exchequer_Details.json
{
	"name": "PL_Exchequer_Details",
	"properties": {
		"description": "The Details (Ledger) from Exchequer",
		"activities": [
			{
				"name": "Company List",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT \n\tHomeID, \n    IntranetID,\n\tHomename, \n\tExchCode \nFROM \n\tAvery.HomeDetails\nWHERE\n\tExchCode IS NOT NULL\nORDER BY\n\tHomeId ASC",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_AH2_TRANSFORM_DB",
						"type": "DatasetReference",
						"parameters": {
							"Schema": "n/a",
							"Table": "n/a"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Copy Exchequer Ledger",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "SELECT TOP 100 \n\t[tlFolioNum]\n\t,[tlLineNo]\n\t,[tlRunNo]\n\t,[tlGLCode]\n\t,[tlNominalMode]\n\t,[tlCurrency]\n\t,[tlYear]\n\t,[tlPeriod]\n\t,[tlDepartment]\n\t,[tlCostCentre]\n\t,[tlDocType]\n\t,[tlQty]\n\t,[tlQtyMul]\n\t,[tlNetValue]\n\t,[tlDiscount]\n\t,[tlVATCode]\n\t,[tlVATAmount]\n\t,[tlPaymentCode]\n\t,[tlOldPBal]\n\t,[tlRecStatus]\n\t,[tlDiscFlag]\n\t,[tlQtyWOFF]\n\t,[tlQtyDel]\n\t,[tlCost]\n\t,[tlAcCode]\n\t,[tlLineDate]\n\t,[tlItemNo]\n\t,[tlDescription]\n\t,[tlJobCode]\n\t,[tlAnalysisCode]\n\t,[tlOurRef]\n\t,[tlPreviousBalance]\n\t,[PositionId]\nFROM \n\t@{variables('Exch_Schema')}.DETAILS",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_OnPrem_Exchequer",
						"type": "DatasetReference",
						"parameters": {
							"Schema": "n/a",
							"Table": "n/a"
						}
					}
				]
			},
			{
				"name": "For Each Company",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Company List",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Company List').output.value",
						"type": "Expression"
					},
					"batchCount": 10,
					"activities": [
						{
							"name": "Copy Data to AH2",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "SELECT\n\t'@{item().ExchCode}' AS ExchCompanyCode\n\t,'@{item().HomeID}' AS HomeID\n\t,'@{item().IntranetID}' AS IntranetID\n\t,'@{item().Homename}' AS Homename\n\t,[tlFolioNum]\n\t,[tlLineNo]\n\t,[tlRunNo]\n\t,[tlGLCode]\n\t,[tlNominalMode]\n\t,[tlCurrency]\n\t,[tlYear]\n\t,[tlPeriod]\n\t,[tlDepartment]\n\t,[tlCostCentre]\n\t,[tlDocType]\n\t,[tlQty]\n\t,[tlQtyMul]\n\t,[tlNetValue]\n\t,[tlDiscount]\n\t,[tlVATCode]\n\t,[tlVATAmount]\n\t,[tlPaymentCode]\n\t,[tlOldPBal]\n\t,[tlRecStatus]\n\t,[tlDiscFlag]\n\t,[tlQtyWOFF]\n\t,[tlQtyDel]\n\t,[tlCost]\n\t,[tlAcCode]\n\t,[tlLineDate]\n\t,[tlItemNo]\n\t,[tlDescription]\n\t,[tlJobCode]\n\t,[tlAnalysisCode]\n\t,[tlOurRef]\n\t,[tlPreviousBalance]\n\t,[PositionId]\nFROM \n\t@{item().ExchCode}.DETAILS",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "ExchCompanyCode",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "ExchCompanyCode",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "HomeID",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "HomeID",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "IntranetID",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "IntranetID",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "Homename",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "Homename",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "tlFolioNum",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "tlFolioNum",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "tlLineNo",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "tlLineNo",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "tlRunNo",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "tlRunNo",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "tlGLCode",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "tlGLCode",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "tlNominalMode",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "tlNominalMode",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "tlCurrency",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "tlCurrency",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "tlYear",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "tlYear",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "tlPeriod",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "tlPeriod",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "tlDepartment",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "tlDepartment",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "tlCostCentre",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "tlCostCentre",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "tlDocType",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "tlDocType",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "tlQty",
												"type": "Double",
												"physicalType": "float"
											},
											"sink": {
												"name": "tlQty",
												"type": "Double",
												"physicalType": "float"
											}
										},
										{
											"source": {
												"name": "tlQtyMul",
												"type": "Double",
												"physicalType": "float"
											},
											"sink": {
												"name": "tlQtyMul",
												"type": "Double",
												"physicalType": "float"
											}
										},
										{
											"source": {
												"name": "tlNetValue",
												"type": "Double",
												"physicalType": "float"
											},
											"sink": {
												"name": "tlNetValue",
												"type": "Double",
												"physicalType": "float"
											}
										},
										{
											"source": {
												"name": "tlDiscount",
												"type": "Double",
												"physicalType": "float"
											},
											"sink": {
												"name": "tlDiscount",
												"type": "Double",
												"physicalType": "float"
											}
										},
										{
											"source": {
												"name": "tlVATCode",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "tlVATCode",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "tlVATAmount",
												"type": "Double",
												"physicalType": "float"
											},
											"sink": {
												"name": "tlVATAmount",
												"type": "Double",
												"physicalType": "float"
											}
										},
										{
											"source": {
												"name": "tlPaymentCode",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "tlPaymentCode",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "tlOldPBal",
												"type": "Double",
												"physicalType": "float"
											},
											"sink": {
												"name": "tlOldPBal",
												"type": "Double",
												"physicalType": "float"
											}
										},
										{
											"source": {
												"name": "tlRecStatus",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "tlRecStatus",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "tlDiscFlag",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "tlDiscFlag",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "tlQtyWOFF",
												"type": "Double",
												"physicalType": "float"
											},
											"sink": {
												"name": "tlQtyWOFF",
												"type": "Double",
												"physicalType": "float"
											}
										},
										{
											"source": {
												"name": "tlQtyDel",
												"type": "Double",
												"physicalType": "float"
											},
											"sink": {
												"name": "tlQtyDel",
												"type": "Double",
												"physicalType": "float"
											}
										},
										{
											"source": {
												"name": "tlCost",
												"type": "Double",
												"physicalType": "float"
											},
											"sink": {
												"name": "tlCost",
												"type": "Double",
												"physicalType": "float"
											}
										},
										{
											"source": {
												"name": "tlAcCode",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "tlAcCode",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "tlLineDate",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "tlLineDate",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "tlItemNo",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "tlItemNo",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "tlDescription",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "tlDescription",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "tlJobCode",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "tlJobCode",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "tlAnalysisCode",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "tlAnalysisCode",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "tlOurRef",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "tlOurRef",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "tlPreviousBalance",
												"type": "Double",
												"physicalType": "float"
											},
											"sink": {
												"name": "tlPreviousBalance",
												"type": "Double",
												"physicalType": "float"
											}
										},
										{
											"source": {
												"name": "PositionId",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "PositionId",
												"type": "Int32",
												"physicalType": "int"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_OnPrem_Exchequer",
									"type": "DatasetReference",
									"parameters": {
										"Schema": "n/a",
										"Table": "n/a"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_AH2_TRANSFORM_DB",
									"type": "DatasetReference",
									"parameters": {
										"Schema": "Exchequer",
										"Table": "STG_Details"
									}
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"Exch_Schema": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Exchequer/Child Pipelines"
		},
		"annotations": []
	}
}