pipeline/PL_Exchequer_Bronze_Import.json
{
	"name": "PL_Exchequer_Bronze_Import",
	"properties": {
		"activities": [
			{
				"name": "Set vDirectory",
				"description": "Todays date used for directory/storage location in storage account",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set vToday",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "vDirectory",
					"value": {
						"value": "@concat(formatDateTime(variables('vToday'), 'yyyy'),'/',formatDateTime(variables('vToday'), 'MM'),'/',formatDateTime(variables('vToday'), 'dd'), '/', pipeline().parameters.Exchequer_Table)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set vToday",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "vToday",
					"value": {
						"value": "@formatDateTime(utcNow(),'yyyy-MM-dd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get FileList",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Set vDirectory",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_Polestar_Storage",
						"type": "DatasetReference",
						"parameters": {
							"Container": "exchequer",
							"Directory": {
								"value": "@variables('vDirectory')",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems",
						"itemName"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEach Document File Import Into Document Table",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get FileList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get FileList').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Import Data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"additionalColumns": [
										{
											"name": "ExchCompanyCode",
											"value": {
												"value": "@split(item().name, '_')[0]",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "ParquetReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_Exchequer_Parquet",
									"type": "DatasetReference",
									"parameters": {
										"Directory": {
											"value": "@variables('vDirectory')",
											"type": "Expression"
										},
										"FileName": {
											"value": "@item().Name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_AH2_TRANSFORM_DB",
									"type": "DatasetReference",
									"parameters": {
										"Schema": "Exchequer_Bronze",
										"Table": {
											"value": "@pipeline().parameters.Exchequer_Table",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"Exchequer_Table": {
				"type": "string"
			}
		},
		"variables": {
			"vToday": {
				"type": "String"
			},
			"vDirectory": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Exchequer"
		},
		"annotations": []
	}
}