pipeline/PL_Exchequer_Supplier_Export.json
{
	"name": "PL_Exchequer_Supplier_Export",
	"properties": {
		"activities": [
			{
				"name": "For Each Company Export Supplier Table",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Company List",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Company List').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Export Details Data to csv",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"additionalColumns": [
										{
											"name": "HomeName",
											"value": {
												"value": "@item().HomeName",
												"type": "Expression"
											}
										},
										{
											"name": "ExchCode",
											"value": {
												"value": "@item().ExchCode",
												"type": "Expression"
											}
										}
									],
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "acCode",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "acCode",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acCustSupp",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "acCustSupp",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acCompany",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "acCompany",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acArea",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "acArea",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acAccType",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "acAccType",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acStatementTo",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "acStatementTo",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acVATRegNo",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "acVATRegNo",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acAddressLine1",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "acAddressLine1",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acAddressLine2",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "acAddressLine2",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acAddressLine3",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "acAddressLine3",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acAddressLine4",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "acAddressLine4",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acAddressLine5",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "acAddressLine5",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acDespAddr",
												"type": "Boolean",
												"physicalType": "bit"
											},
											"sink": {
												"name": "acDespAddr",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acDespAddressLine1",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "acDespAddressLine1",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acDespAddressLine2",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "acDespAddressLine2",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acDespAddressLine3",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "acDespAddressLine3",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acDespAddressLine4",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "acDespAddressLine4",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acDespAddressLine5",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "acDespAddressLine5",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acContact",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "acContact",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acPhone",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "acPhone",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acFax",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "acFax",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acTheirAcc",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "acTheirAcc",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acOwnTradTerm",
												"type": "Boolean",
												"physicalType": "bit"
											},
											"sink": {
												"name": "acOwnTradTerm",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acTradeTerms1",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "acTradeTerms1",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acTradeTerms2",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "acTradeTerms2",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acCurrency",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "acCurrency",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acVATCode",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "acVATCode",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acPayTerms",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "acPayTerms",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acCreditLimit",
												"type": "Double",
												"physicalType": "float"
											},
											"sink": {
												"name": "acCreditLimit",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acDiscount",
												"type": "Double",
												"physicalType": "float"
											},
											"sink": {
												"name": "acDiscount",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acCreditStatus",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "acCreditStatus",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acCostCentre",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "acCostCentre",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acDiscountBand",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "acDiscountBand",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acOrderConsolidationMode",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "acOrderConsolidationMode",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acDefSettleDays",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "acDefSettleDays",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acSpare5",
												"type": "Byte[]",
												"physicalType": "varbinary"
											},
											"sink": {
												"name": "acSpare5",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acBalance",
												"type": "Double",
												"physicalType": "float"
											},
											"sink": {
												"name": "acBalance",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acDepartment",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "acDepartment",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acECMember",
												"type": "Boolean",
												"physicalType": "bit"
											},
											"sink": {
												"name": "acECMember",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acNLineCount",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "acNLineCount",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acStatement",
												"type": "Boolean",
												"physicalType": "bit"
											},
											"sink": {
												"name": "acStatement",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acSalesGL",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "acSalesGL",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acLocation",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "acLocation",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acAccStatus",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "acAccStatus",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acPayType",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "acPayType",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acOldBankSort",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "acOldBankSort",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acOldBankAcc",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "acOldBankAcc",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acBankRef",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "acBankRef",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acAvePay",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "acAvePay",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acPhone2",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "acPhone2",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acCOSGL",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "acCOSGL",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acDrCrGL",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "acDrCrGL",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acLastUsed",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "acLastUsed",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acUserDef1",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "acUserDef1",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acUserDef2",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "acUserDef2",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acInvoiceTo",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "acInvoiceTo",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acSOPAutoWOff",
												"type": "Boolean",
												"physicalType": "bit"
											},
											"sink": {
												"name": "acSOPAutoWOff",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acFormSet",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "acFormSet",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acBookOrdVal",
												"type": "Double",
												"physicalType": "float"
											},
											"sink": {
												"name": "acBookOrdVal",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acDirDebMode",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "acDirDebMode",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acCCStart",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "acCCStart",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acCCEnd",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "acCCEnd",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acCCName",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "acCCName",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acCCNumber",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "acCCNumber",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acCCSwitch",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "acCCSwitch",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acDefSettleDisc",
												"type": "Double",
												"physicalType": "float"
											},
											"sink": {
												"name": "acDefSettleDisc",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acStateDeliveryMode",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "acStateDeliveryMode",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acSpare2",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "acSpare2",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acSendReader",
												"type": "Boolean",
												"physicalType": "bit"
											},
											"sink": {
												"name": "acSendReader",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acEBusPword",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "acEBusPword",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acPostCode",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "acPostCode",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acAltCode",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "acAltCode",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acUseForEbus",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "acUseForEbus",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acZIPAttachments",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "acZIPAttachments",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acUserDef3",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "acUserDef3",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acUserDef4",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "acUserDef4",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acWebLiveCatalog",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "acWebLiveCatalog",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acWebPrevCatalog",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "acWebPrevCatalog",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acTimeStamp",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "acTimeStamp",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acVATCountryCode",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "acVATCountryCode",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acSSDDeliveryTerms",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "acSSDDeliveryTerms",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acInclusiveVATCode",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "acInclusiveVATCode",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acSSDModeOfTransport",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "acSSDModeOfTransport",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acPrivateRec",
												"type": "Boolean",
												"physicalType": "bit"
											},
											"sink": {
												"name": "acPrivateRec",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acLastOperator",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "acLastOperator",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acDocDeliveryMode",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "acDocDeliveryMode",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acSendHTML",
												"type": "Boolean",
												"physicalType": "bit"
											},
											"sink": {
												"name": "acSendHTML",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acEmailAddr",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "acEmailAddr",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acOfficeType",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "acOfficeType",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acDefTagNo",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "acDefTagNo",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acUserDef5",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "acUserDef5",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acUserDef6",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "acUserDef6",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acUserDef7",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "acUserDef7",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acUserDef8",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "acUserDef8",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acUserDef9",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "acUserDef9",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acUserDef10",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "acUserDef10",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acBankSortCode",
												"type": "Byte[]",
												"physicalType": "varbinary"
											},
											"sink": {
												"name": "acBankSortCode",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acBankAccountCode",
												"type": "Byte[]",
												"physicalType": "varbinary"
											},
											"sink": {
												"name": "acBankAccountCode",
												"type": "Byte[]",
												"physicalType": "varbinary"
											}
										},
										{
											"source": {
												"name": "acMandateID",
												"type": "Byte[]",
												"physicalType": "varbinary"
											},
											"sink": {
												"name": "acMandateID",
												"type": "Byte[]",
												"physicalType": "varbinary"
											}
										},
										{
											"source": {
												"name": "acMandateDate",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "acMandateDate",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acDeliveryPostCode",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "acDeliveryPostCode",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acSubType",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "acSubType",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acLongAcCode",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "acLongAcCode",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acAllowOrderPayments",
												"type": "Boolean",
												"physicalType": "bit"
											},
											"sink": {
												"name": "acAllowOrderPayments",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acOrderPaymentsGLCode",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "acOrderPaymentsGLCode",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acCountry",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "acCountry",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acDeliveryCountry",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "acDeliveryCountry",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acPPDMode",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "acPPDMode",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acDefaultToQR",
												"type": "Boolean",
												"physicalType": "bit"
											},
											"sink": {
												"name": "acDefaultToQR",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acTaxRegion",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "acTaxRegion",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acAnonymisationStatus",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "acAnonymisationStatus",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acAnonymisedDate",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "acAnonymisedDate",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acAnonymisedTime",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "acAnonymisedTime",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "PositionId",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "PositionId",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "acRCEndUser",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "acRCEndUser",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "HomeName",
												"type": "String"
											},
											"sink": {
												"name": "HomeName",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "ExchCode",
												"type": "String"
											},
											"sink": {
												"name": "ExchCode",
												"type": "String",
												"physicalType": "nvarchar"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_OnPrem_Exchequer",
									"type": "DatasetReference",
									"parameters": {
										"Schema": {
											"value": "@item().ExchCode",
											"type": "Expression"
										},
										"Table": "CUSTSUPP"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_AH2_TRANSFORM_DB",
									"type": "DatasetReference",
									"parameters": {
										"Schema": "Exchequer_Bronze",
										"Table": "CUSTSUPP"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Company List",
				"description": "List company codes to export Supplier/Vendor data ",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT\n\tHomeID, \n\tHomename, \n\tExchCode\nFROM \n\tAvery.HomeDetails\nWHERE\n\tExchCode IS NOT NULL\n\tAND ExchCode != 'KETT01' --Doesnt exist in Exchequer\nORDER BY\n\tHomeId ASC",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_AH2_TRANSFORM_DB",
						"type": "DatasetReference",
						"parameters": {
							"Schema": "n/a",
							"Table": "n/a"
						}
					},
					"firstRowOnly": false
				}
			}
		],
		"variables": {
			"vToday": {
				"type": "String"
			},
			"vDirectory": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Exchequer"
		},
		"annotations": []
	}
}