pipeline/PL_Florence_AccuralReport.json
{
	"name": "PL_Florence_AccuralReport",
	"properties": {
		"activities": [
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Directory Info",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Get Directory Info').output.exists",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFolderPath": {
											"value": "@variables('Today')",
											"type": "Expression"
										},
										"wildcardFileName": {
											"value": "@concat('*report*',variables('Today'),'*csv')",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "Location Name",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "LocationName",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Unit Name",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "UnitName",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Shift ID",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ShiftID",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Shift Worker Type",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ShiftWorkerType",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Shift Start Week",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ShiftStartWeek",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Shift Start Date",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ShiftStartDate",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Shift Start Time of Day",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ShiftStartTimeofDay",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Shift End Date",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ShiftEndDate",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Shift End Time of Day",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ShiftEndTimeofDay",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Shift Time Period (Day/Night)",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ShiftTimePeriod",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "One To One?",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "OneToOne",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Shift Reason",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ShiftReason",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Status",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Status",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Worked By Tier",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "WorkedByTier",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Approved Application Cost",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ApprovedApplicationCost",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Posted Shift Hours",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "PostedShiftHours",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Approved Lowest Cost (Yes / No)",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ApprovedLowestCost",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Timesheet ID",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "TimesheetID",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Timesheeted Hours",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "TimesheetedHours",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Timesheeted Hours minus Posted Shift Hours",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "TimesheetedHoursminusPostedShiftHours",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Invoiced",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Invoiced",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Released By",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ReleasedBy",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Total Cost Including Expenses",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "TotalCostIncludingExpenses",
												"type": "String",
												"physicalType": "varchar"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_Florence_AccuralFile",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DS_AH2_TRANSFORM_DB",
									"type": "DatasetReference",
									"parameters": {
										"Schema": "florence",
										"Table": "STG_Accural"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Get Directory Info",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Set Today variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_Polestar_Storage_CheckFileExistence",
						"type": "DatasetReference",
						"parameters": {
							"Container": "florence",
							"Directory": {
								"value": "@variables('Today')",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists",
						"itemName",
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "Set Today variable",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Today",
					"value": {
						"value": "@concat(formatDateTime(utcNow(), 'yyyy'),'-',formatDateTime(utcNow(), 'MM'),'-22' )",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Today": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Florence"
		},
		"annotations": []
	}
}