pipeline/PL_Florence_AccuralReport.json
{
	"name": "PL_Florence_AccuralReport",
	"properties": {
		"description": "Checks to see if a file was received today, if it was, stage and upsert the data",
		"activities": [
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Directory Info",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Get Directory Info').output.exists",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Stage Data",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Pre Clear STage",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFolderPath": {
											"value": "@variables('Today')",
											"type": "Expression"
										},
										"wildcardFileName": {
											"value": "@concat('*report*',variables('Today'),'*csv')",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "Location Name",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "LocationName",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Unit Name",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "UnitName",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Shift ID",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ShiftID",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Shift Worker Type",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ShiftWorkerType",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Shift Start Week",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ShiftStartWeek",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Shift Start Date",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ShiftStartDate",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Shift Start Time of Day",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ShiftStartTimeofDay",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Shift End Date",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ShiftEndDate",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Shift End Time of Day",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ShiftEndTimeofDay",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Shift Time Period (Day/Night)",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ShiftTimePeriod",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "One To One?",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "OneToOne",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Shift Reason",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ShiftReason",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Status",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Status",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Worked By Tier",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "WorkedByTier",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Approved Application Cost",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ApprovedApplicationCost",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Posted Shift Hours",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "PostedShiftHours",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Approved Lowest Cost (Yes / No)",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ApprovedLowestCost",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Timesheet ID",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "TimesheetID",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Timesheeted Hours",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "TimesheetedHours",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Timesheeted Hours minus Posted Shift Hours",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "TimesheetedHoursminusPostedShiftHours",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Invoiced",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Invoiced",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Released By",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ReleasedBy",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Total Cost Including Expenses",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "TotalCostIncludingExpenses",
												"type": "String",
												"physicalType": "varchar"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_Florence_AccuralFile",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DS_AH2_TRANSFORM_DB",
									"type": "DatasetReference",
									"parameters": {
										"Schema": "florence",
										"Table": "STG_Accural"
									}
								}
							]
						},
						{
							"name": "Upsert Data",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Stage Data",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"additionalColumns": [
										{
											"name": "DateLoaded",
											"value": {
												"value": "@variables('Today')",
												"type": "Expression"
											}
										}
									],
									"sqlReaderQuery": "SELECT\n    M.HomeID\n    ,M.Homename\n    ,A.[LocationName]\n    ,[UnitName]\n    ,[ShiftID]\n    ,[ShiftWorkerType]\n    ,TRY_CONVERT(DATE, [ShiftStartWeek], 103) AS [ShiftStartWeek]\n    ,TRY_CONVERT(DATE, [ShiftStartDate], 103) AS [ShiftStartDate]\n    ,TRY_CAST([ShiftStartTimeofDay] AS TIME) AS [ShiftStartTimeofDay]\n    ,TRY_CONVERT(DATE, [ShiftEndDate], 103) AS [ShiftEndDate]\n    ,TRY_CAST([ShiftEndTimeofDay] AS TIME) AS [ShiftEndTimeofDay]\n    ,[ShiftTimePeriod]\n    ,TRY_CAST(ShiftBreakLength AS NUMERIC(6,2)) AS ShiftBreakLength --NEW\n    ,CASE WHEN BreaksPaid = 'Yes' THEN 'TRUE' ELSE 'FALSE' END AS BreaksPaid --NEW\n    ,CASE WHEN [OneToOne] = 'Yes' THEN 'TRUE' ELSE 'FALSE' END AS [OneToOne]\n    ,ShiftPostedBy  --NEW\n    ,TRY_CONVERT(DATE, ShiftPostedDate, 103) AS  ShiftPostedDate --NEW\n    ,TRY_CAST(ShiftPostedTimeofDay AS TIME) AS ShiftPostedTimeofDay  --NEW\n    ,CASE WHEN PreArrangedShift = 'Yes' THEN 'TRUE' ELSE 'FALSE' END AS PreArrangedShift  --NEW\n    ,[ShiftReason]\n    ,[Status]\n    ,NULLIF(WorkerName, '') AS WorkerName --NEW\n    ,TRY_CAST(WorkerRating AS NUMERIC(6,2)) AS WorkerRating --NEW\n    ,NULLIF(WorkedByName, '') AS WorkedByName --NEW\n    ,NULLIF(WorkedByTradingAs, '') AS WorkedByTradingAs --NEW\n    ,NULLIF([WorkedByTier], '') AS [WorkedByTier]\n    ,TRY_CAST([ApprovedApplicationCost] AS NUMERIC(6,2)) AS [ApprovedApplicationCost]\n    ,TRY_CAST([PostedShiftHours] AS NUMERIC(6,2)) AS [PostedShiftHours]\n    ,CASE WHEN [ApprovedLowestCost] = 'Yes' THEN 'TRUE' ELSE 'FALSE' END AS [ApprovedLowestCost]\n    ,TRY_CAST(TotalLowerCostApplications AS NUMERIC(6,2)) AS TotalLowerCostApplications --NEW\n    ,TRY_CAST(TotalApplicationsReceived AS INT) AS TotalApplicationsReceived --NEW\n    ,[TimesheetID]\n    ,TimesheetStatus --NEW\n    ,TRY_CONVERT(DATE, NULLIF(TimesheetSubmittedDate, ''), 103) AS TimesheetSubmittedDate --NEW\n    ,TimesheetSubmittedTime --NEW\n    ,NULLIF(TimesheetApprovedBy, '') AS TimesheetApprovedBy --NEW\n    ,TRY_CONVERT(DATE, NULLIF(TimesheetApprovedDate, ''), 103) AS TimesheetApprovedDate --NEW\n    ,TRY_CAST(TimesheetApprovedTime AS TIME) AS TimesheetApprovedTime --NEW\n    ,TRY_CAST([TimesheetedHours] AS NUMERIC(6,2)) AS TimesheetedHours --NEW\n    ,TRY_CAST([TimesheetedHoursminusPostedShiftHours] AS NUMERIC(6,2)) AS TimesheetedHoursminusPostedShiftHours\n    ,CASE WHEN [Invoiced] = 'Yes' THEN 'TRUE' ELSE 'FALSE' END AS [Invoiced]\n    ,InvoiceID --NEW\n    ,TRY_CONVERT(DATE, InvoiceDate, 103) AS  InvoiceDate--NEW\n    ,TRY_CAST(CostSubtotal AS NUMERIC(6,2)) AS CostSubtotal --NEW\n    ,TRY_CAST(CostVAT AS NUMERIC(6,2)) AS CostVAT --NEW\n    ,TRY_CAST(TotalCost AS NUMERIC(6,2)) AS TotalCost --NEW\n    ,[ReleasedBy]\n    ,TRY_CONVERT(DATE, ReleasedDate, 103) AS  ReleasedDate--NEW\n    ,TRY_CAST(ReleasedTime AS TIME) AS ReleasedTime --NEW\n    ,TRY_CAST([TotalCostIncludingExpenses] AS NUMERIC(6,2)) AS [TotalCostIncludingExpenses]\n    ,A.[RowID]\nFROM \n    [Florence].[STG_Accural] AS A\n\n    LEFT JOIN Florence.LocationMapping AS M\n        ON M.LocationName = A.LocationName\nWHERE\n    A.ShiftID IS NOT NULL",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "upsert",
									"upsertSettings": {
										"useTempDB": true,
										"keys": [
											"ShiftID"
										]
									},
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "HomeID",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "HomeID",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "Homename",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "HomeName",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "LocationName",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "LocationName",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "UnitName",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "UnitName",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "ShiftID",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "ShiftID",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "ShiftWorkerType",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "ShiftWorkerType",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "ShiftStartWeek",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "ShiftStartWeek",
												"type": "Date",
												"physicalType": "date"
											}
										},
										{
											"source": {
												"name": "ShiftStartDate",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "ShiftStartDate",
												"type": "Date",
												"physicalType": "date"
											}
										},
										{
											"source": {
												"name": "ShiftStartTimeofDay",
												"type": "TimeSpan",
												"physicalType": "time"
											},
											"sink": {
												"name": "ShiftStartTimeofDay",
												"type": "TimeSpan",
												"physicalType": "time"
											}
										},
										{
											"source": {
												"name": "ShiftEndDate",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "ShiftEndDate",
												"type": "Date",
												"physicalType": "date"
											}
										},
										{
											"source": {
												"name": "ShiftEndTimeofDay",
												"type": "TimeSpan",
												"physicalType": "time"
											},
											"sink": {
												"name": "ShiftEndTimeofDay",
												"type": "TimeSpan",
												"physicalType": "time"
											}
										},
										{
											"source": {
												"name": "ShiftTimePeriod",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "ShiftTimePeriod",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "ShiftBreakLength",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 2,
												"precision": 6
											},
											"sink": {
												"name": "ShiftBreakLength",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 2,
												"precision": 6
											}
										},
										{
											"source": {
												"name": "BreaksPaid",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "BreaksPaid",
												"type": "Boolean",
												"physicalType": "bit"
											}
										},
										{
											"source": {
												"name": "OneToOne",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "OneToOne",
												"type": "Boolean",
												"physicalType": "bit"
											}
										},
										{
											"source": {
												"name": "ShiftPostedBy",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "ShiftPostedBy",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "ShiftPostedDate",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "ShiftPostedDate",
												"type": "Date",
												"physicalType": "date"
											}
										},
										{
											"source": {
												"name": "ShiftPostedTimeofDay",
												"type": "TimeSpan",
												"physicalType": "time"
											},
											"sink": {
												"name": "ShiftPostedTimeofDay",
												"type": "TimeSpan",
												"physicalType": "time"
											}
										},
										{
											"source": {
												"name": "PreArrangedShift",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "PreArrangedShift",
												"type": "Boolean",
												"physicalType": "bit"
											}
										},
										{
											"source": {
												"name": "ShiftReason",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "ShiftReason",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Status",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "Status",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "WorkerName",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "WorkerName",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "WorkerRating",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 2,
												"precision": 6
											},
											"sink": {
												"name": "WorkerRating",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 2,
												"precision": 6
											}
										},
										{
											"source": {
												"name": "WorkedByName",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "WorkedByName",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "WorkedByTradingAs",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "WorkedByTradingAs",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "WorkedByTier",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "WorkedByTier",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "ApprovedApplicationCost",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 2,
												"precision": 6
											},
											"sink": {
												"name": "ApprovedApplicationCost",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 2,
												"precision": 6
											}
										},
										{
											"source": {
												"name": "PostedShiftHours",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 2,
												"precision": 6
											},
											"sink": {
												"name": "PostedShiftHours",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 2,
												"precision": 6
											}
										},
										{
											"source": {
												"name": "ApprovedLowestCost",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "ApprovedLowestCost",
												"type": "Boolean",
												"physicalType": "bit"
											}
										},
										{
											"source": {
												"name": "TotalLowerCostApplications",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 2,
												"precision": 6
											},
											"sink": {
												"name": "TotalLowerCostApplications",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 2,
												"precision": 6
											}
										},
										{
											"source": {
												"name": "TotalApplicationsReceived",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "TotalApplicationsReceived",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "TimesheetID",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "TimesheetID",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "TimesheetStatus",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "TimesheetStatus",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "TimesheetSubmittedDate",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "TimesheetSubmittedDate",
												"type": "Date",
												"physicalType": "date"
											}
										},
										{
											"source": {
												"name": "TimesheetSubmittedTime",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "TimesheetSubmittedTime",
												"type": "TimeSpan",
												"physicalType": "time"
											}
										},
										{
											"source": {
												"name": "TimesheetApprovedBy",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "TimesheetApprovedBy",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "TimesheetApprovedDate",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "TimesheetApprovedDate",
												"type": "Date",
												"physicalType": "date"
											}
										},
										{
											"source": {
												"name": "TimesheetApprovedTime",
												"type": "TimeSpan",
												"physicalType": "time"
											},
											"sink": {
												"name": "TimesheetApprovedTime",
												"type": "TimeSpan",
												"physicalType": "time"
											}
										},
										{
											"source": {
												"name": "TimesheetedHours",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 2,
												"precision": 6
											},
											"sink": {
												"name": "TimesheetedHours",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 2,
												"precision": 6
											}
										},
										{
											"source": {
												"name": "TimesheetedHoursminusPostedShiftHours",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 2,
												"precision": 6
											},
											"sink": {
												"name": "TimesheetedHoursminusPostedShiftHours",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 2,
												"precision": 6
											}
										},
										{
											"source": {
												"name": "Invoiced",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "Invoiced",
												"type": "Boolean",
												"physicalType": "bit"
											}
										},
										{
											"source": {
												"name": "InvoiceID",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "InvoiceID",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "InvoiceDate",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "InvoiceDate",
												"type": "Date",
												"physicalType": "date"
											}
										},
										{
											"source": {
												"name": "CostSubtotal",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 2,
												"precision": 6
											},
											"sink": {
												"name": "CostSubtotal",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 2,
												"precision": 6
											}
										},
										{
											"source": {
												"name": "CostVAT",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 2,
												"precision": 6
											},
											"sink": {
												"name": "CostVAT",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 2,
												"precision": 6
											}
										},
										{
											"source": {
												"name": "TotalCost",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 2,
												"precision": 6
											},
											"sink": {
												"name": "TotalCost",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 2,
												"precision": 6
											}
										},
										{
											"source": {
												"name": "ReleasedBy",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "ReleasedBy",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "ReleasedDate",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "ReleasedDate",
												"type": "Date",
												"physicalType": "date"
											}
										},
										{
											"source": {
												"name": "ReleasedTime",
												"type": "TimeSpan",
												"physicalType": "time"
											},
											"sink": {
												"name": "ReleasedTime",
												"type": "TimeSpan",
												"physicalType": "time"
											}
										},
										{
											"source": {
												"name": "TotalCostIncludingExpenses",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 2,
												"precision": 6
											},
											"sink": {
												"name": "TotalCostIncludingExpenses",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 2,
												"precision": 6
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_AH2_TRANSFORM_DB",
									"type": "DatasetReference",
									"parameters": {
										"Schema": "n/a",
										"Table": "n/a"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_AH2_TRANSFORM_DB",
									"type": "DatasetReference",
									"parameters": {
										"Schema": "Florence",
										"Table": "Accural"
									}
								}
							]
						},
						{
							"name": "Clear STage",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Upsert Data",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "AH2_TRANSFORM_DB",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": "TRUNCATE TABLE [Florence].[STG_Accural]"
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "Pre Clear STage",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "AH2_TRANSFORM_DB",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": "TRUNCATE TABLE [Florence].[STG_Accural]"
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			},
			{
				"name": "Get Directory Info",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Set Today variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_Polestar_Storage_CheckFileExistence",
						"type": "DatasetReference",
						"parameters": {
							"Container": "florence",
							"Directory": {
								"value": "@variables('Today')",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists",
						"itemName",
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "Set Today variable",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Today",
					"value": {
						"value": "@concat(formatDateTime(utcNow(), 'yyyy'),'-',formatDateTime(utcNow(), 'MM'),'-',formatDateTime(utcNow(), 'dd') )",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Today": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Florence"
		},
		"annotations": []
	}
}