pipeline/PL_Fusion_DataImportCheck.json
{
	"name": "PL_Fusion_DataImportCheck",
	"properties": {
		"description": "Checks the data load from Fusion to our own instance of the Fusion MySQL DB",
		"activities": [
			{
				"name": "Latest Assessment DateTime",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "MySqlSource",
						"query": "SELECT completed_completed FROM fusion_avery.cp_assessment_completed ORDER BY completed_completed DESC LIMIT 1"
					},
					"dataset": {
						"referenceName": "FusionMySQL",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "n/a"
						}
					}
				}
			},
			{
				"name": "Assessment Record Count",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "MySqlSource",
						"query": "SELECT COUNT(*) AS AssessmentCount FROM fusion_avery.cp_assessment_completed;"
					},
					"dataset": {
						"referenceName": "FusionMySQL",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "n/a"
						}
					}
				}
			},
			{
				"name": "Resident Record Count",
				"description": "",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Assessment Table Details",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "MySqlSource",
						"query": "SELECT COUNT(*) AS ResidentCount FROM fusion_avery.serviceuser;"
					},
					"dataset": {
						"referenceName": "FusionMySQL",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "n/a"
						}
					}
				}
			},
			{
				"name": "Assessment Table Details",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Latest Assessment DateTime",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Assessment Record Count",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Fusion].[Insert$DataTransferCheck]",
					"storedProcedureParameters": {
						"ColumnName": {
							"value": "completed_completed ",
							"type": "String"
						},
						"LatestDateTime": {
							"value": {
								"value": "@activity('Latest Assessment DateTime').output.firstRow.completed_completed ",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"RecordCount": {
							"value": {
								"value": "@activity('Assessment Record Count').output.firstRow.AssessmentCount ",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"TableName": {
							"value": "cp_assessment_completed",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AH2_TRANSFORM_DB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Latest Resident In",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Assessment Table Details",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "MySqlSource",
						"query": "SELECT DateIn FROM fusion_avery.serviceuser ORDER BY ServiceUser_ID DESC LIMIT 1;"
					},
					"dataset": {
						"referenceName": "FusionMySQL",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "n/a"
						}
					}
				}
			},
			{
				"name": "ServiceUser Table Details",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Resident Record Count",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Latest Resident In",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Fusion].[Insert$DataTransferCheck]",
					"storedProcedureParameters": {
						"ColumnName": {
							"value": "DateIn",
							"type": "String"
						},
						"LatestDateTime": {
							"value": {
								"value": "@activity('Latest Resident In').output.firstRow.DateIn",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"RecordCount": {
							"value": {
								"value": "@activity('Resident Record Count').output.firstRow.ResidentCount",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"TableName": {
							"value": "serviceuser",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AH2_TRANSFORM_DB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ServiceUser Table Details",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT *\r\nFROM\r\n    Fusion.DataTransferCheck",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_AH2_TRANSFORM_DB",
						"type": "DatasetReference",
						"parameters": {
							"Schema": "n/a",
							"Table": "n/a"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "UT_Send_Email_Param",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"EmailTo": "jon.crockett@averyhealthcare.co.uk",
						"Message": "Fusion Data Transfer Message",
						"Colour": "Yellow",
						"PipelineName": "@pipeline().Pipeline",
						"PipelineRunID": "@pipeline().RunId",
						"pStepFailed": {
							"value": "\"\"",
							"type": "Expression"
						},
						"Subject": "Fusion Data Transfer"
					}
				}
			}
		],
		"folder": {
			"name": "Fusion"
		},
		"annotations": []
	}
}