pipeline/PL_GRG_ADMIN_DISCHARGE.json
{
	"name": "PL_GRG_ADMIN_DISCHARGE",
	"properties": {
		"activities": [
			{
				"name": "Copy Movement Data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set HOME_REF_LIST",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT  \r\n\t[ACTDEATHDT]\r\n\t,[ADANAL_DEC]\r\n\t,[ADTYP_DEC]\r\n\t,[AD_REF]\r\n\t,[AmendDateTime]\r\n\t,[CAUSE]\r\n\t,[CAUSEDEATH]\r\n\t,[CreateDateTime]\r\n\t,[DATE]\r\n\t,[DISCHDECEAS]\r\n\t,[DISDEST]\r\n\t,[DISREASON]\r\n\t,[DISTYPE]\r\n\t,[DOCTOR]\r\n\t,[FINALDISCH]\r\n\t,[HOME_REF]\r\n\t,[INITIALADM]\r\n\t,[INOUT]\r\n\t,[LOC_REF]\r\n\t,[MOVE_REF]\r\n\t,[PLACE]\r\n\t,[REASON]\r\n\t,[RES_REF]\r\n\t,[ROOM]\r\n\t,[ROOM_TYPE]\r\n\t,[TIME]\r\n\t,[MOVE_TIME]\r\n\t,[ANALCHANGE]\r\n\t,[COMPOSITE]\r\n\t,[MOVESUB_REF]\r\n\t,[PREVDISDEST]\r\n\t,[PREVDISTYPE]\r\nFROM \r\n\t[AHC_GRG_FBWIN].[dbo].[ADMIN_DISCHARGE] AS M\r\nWHERE\r\n\tM.HOME_REF IN (@{variables('HOME_REF_LIST')})\r\nORDER BY \r\n\tAD_REF ASC\r\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE GRG.ADMIN_DISCHARGE",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ACTDEATHDT",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ACTDEATHDT",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "ADANAL_DEC",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ADANAL_DEC",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "ADTYP_DEC",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ADTYP_DEC",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "AD_REF",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "AD_REF",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "AmendDateTime",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "AmendDateTime",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "CAUSE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CAUSE",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CAUSEDEATH",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CAUSEDEATH",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CreateDateTime",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "CreateDateTime",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "DATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "DATE",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "DISCHDECEAS",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "DISCHDECEAS",
									"type": "String",
									"physicalType": "char"
								}
							},
							{
								"source": {
									"name": "DISDEST",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DISDEST",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "DISREASON",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DISREASON",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "DISTYPE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DISTYPE",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "DOCTOR",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DOCTOR",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "FINALDISCH",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "FINALDISCH",
									"type": "String",
									"physicalType": "char"
								}
							},
							{
								"source": {
									"name": "HOME_REF",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "HOME_REF",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "INITIALADM",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "INITIALADM",
									"type": "String",
									"physicalType": "char"
								}
							},
							{
								"source": {
									"name": "INOUT",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "INOUT",
									"type": "String",
									"physicalType": "char"
								}
							},
							{
								"source": {
									"name": "LOC_REF",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "LOC_REF",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "MOVE_REF",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "MOVE_REF",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "PLACE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PLACE",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "REASON",
									"type": "String",
									"physicalType": "text"
								},
								"sink": {
									"name": "REASON",
									"type": "String",
									"physicalType": "text"
								}
							},
							{
								"source": {
									"name": "RES_REF",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "RES_REF",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "ROOM",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "ROOM",
									"type": "String",
									"physicalType": "char"
								}
							},
							{
								"source": {
									"name": "ROOM_TYPE",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "ROOM_TYPE",
									"type": "String",
									"physicalType": "char"
								}
							},
							{
								"source": {
									"name": "TIME",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "TIME",
									"type": "String",
									"physicalType": "char"
								}
							},
							{
								"source": {
									"name": "MOVE_TIME",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "MOVE_TIME",
									"type": "String",
									"physicalType": "char"
								}
							},
							{
								"source": {
									"name": "ANALCHANGE",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "ANALCHANGE",
									"type": "String",
									"physicalType": "char"
								}
							},
							{
								"source": {
									"name": "COMPOSITE",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "COMPOSITE",
									"type": "String",
									"physicalType": "char"
								}
							},
							{
								"source": {
									"name": "MOVESUB_REF",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "MOVESUB_REF",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "PREVDISDEST",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PREVDISDEST",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "PREVDISTYPE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PREVDISTYPE",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_OnPrem_CH_GRG",
						"type": "DatasetReference",
						"parameters": {
							"Schema": "n/a",
							"Table": "n/a"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_AH2_TRANSFORM_DB",
						"type": "DatasetReference",
						"parameters": {
							"Schema": "GRG",
							"Table": "ADMIN_DISCHARGE"
						}
					}
				]
			},
			{
				"name": "Lookup HOME_REF",
				"description": "Get all the HOME_REF values from Avery.Home",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT STRING_AGG(ColdHarbourHOME_REF, ',') AS HOME_REF_LIST FROM Avery.Home WHERE ColdHarbourHOME_REF IS NOT NULL",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_AH2_Avery",
						"type": "DatasetReference",
						"parameters": {
							"Schema": "n/a",
							"Table": "n/a"
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Set HOME_REF_LIST",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup HOME_REF",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "HOME_REF_LIST",
					"value": {
						"value": "@activity('Lookup HOME_REF').output.firstRow.HOME_REF_LIST",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"HOME_REF_LIST": {
				"type": "String"
			}
		},
		"folder": {
			"name": "GRG/Child Pipelines"
		},
		"annotations": []
	}
}