pipeline/PL_GRG_RESIDENT.json
{
	"name": "PL_GRG_RESIDENT",
	"properties": {
		"activities": [
			{
				"name": "Copy Resident Data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set HOME_REF_LIST",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "SELECT \n[ADANAL_DEC]\n      ,[ADDRESS1]\n      ,[ADDRESS2]\n      ,[ADDRESS3]\n      ,[ADDRESS4]\n      ,[ADMSN_ANAL]\n      ,[ADMSN_TYPE]\n      ,[ADM_REASON]\n      ,[ADTYP_DEC]\n      ,[ANAL_GROUP]\n      ,[AUTHORITY]\n      ,R.[AmendDateTime]\n      ,[BIRTHDATE]\n      ,[CARECAT]\n      ,[CONTSIGNED]\n      ,R.[CreateDateTime]\n      ,[DISABILITY]\n      ,[ENQ_REF]\n      ,[HOME]\n      ,R.[HOME_REF]\n      ,[LASTADDATE]\n      ,[LASTDIDATE]\n      ,[LOC_DESC]\n      ,[LOC_REF]\n      ,[MARKETING]\n      ,[NINUMBER]\n      ,[OCC_IGNORE]\n      ,[ORES_REF]\n      ,[ORIGADDATE]\n      ,[POSTCODE]\n      ,[RELIGION]\n      ,[RESPAYINT]\n      ,[RES_CODE]\n      ,[RES_FNAME]\n      ,[RES_REF]\n      ,[RES_SNAME]\n      ,[ROOM]\n      ,[ROOMCAT]\n      ,[ROOM_DESC]\n      ,[ROOM_TYPE]\n      ,[SEX]\n      ,[STATUS]\n      ,[TEL_NO1]\n      ,[TEL_NO2]\n      ,[TITLE]\n      ,[USERDEF]\n      ,[AUTHCODE]\n      ,[DOUBLEINS]\n      ,[FIRSTAWARE]\n      ,[FIRSTVISIT]\n      ,[REAL_FNAME]\n      ,[REAL_SNAME]\n      ,[REAL_TITLE]\n      ,[SIGIND]\n      ,[THIRDPARTY]\n      ,[USERFIELD1]\n      ,[USERFIELD2]\n      ,[USERFIELD3]\n      ,[NHSNUMBER]\n      ,[ALTCOMMS]\n      ,[ALTCOMMS_REF]\n      ,[ASS_ACTBY]\n      ,[ASS_ACTBY_REF]\n      ,[ASS_ACTDT]\n      ,[CONNECTION]\n      ,[CONNECTIONDET]\n      ,[CONNECTION_REF]\n      ,[FUNDERREF]\n      ,[LANGUAGE]\n      ,[LANGUAGE_REF]\n      ,[MOVEDINFROM]\n      ,[MOVEDINFROM_REF]\n      ,[PATIENTREF]\n      ,[PICID]\n      ,[PREVCODE]\n  FROM [AHC_GRG_FBWIN].[dbo].[RESIDENT] AS R\n\n  WHERE\n\tR.HOME_REF IN (@{variables('HOME_REF_LIST')}) --Home_ref List of homes being used in CH. Excludes any old ones being brought in\n    AND RES_CODE NOT IN ('HH0048', 'HH0051', 'HH0055', 'HH0060', 'HH0063', 'HH0064', 'HH0066') --Orphaned records in GRG for residents not present in CH\n  ORDER BY\n\t  R.RES_REF ASC",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE GRG.RESIDENT",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ADANAL_DEC",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ADANAL_DEC",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "ADDRESS1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ADDRESS1",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ADDRESS2",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ADDRESS2",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ADDRESS3",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ADDRESS3",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ADDRESS4",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ADDRESS4",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ADMSN_ANAL",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ADMSN_ANAL",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ADMSN_TYPE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ADMSN_TYPE",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ADM_REASON",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ADM_REASON",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ADTYP_DEC",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ADTYP_DEC",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "ANAL_GROUP",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ANAL_GROUP",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "AUTHORITY",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AUTHORITY",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "AmendDateTime",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "AmendDateTime",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "BIRTHDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "BIRTHDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "CARECAT",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CARECAT",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CONTSIGNED",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "CONTSIGNED",
									"type": "String",
									"physicalType": "char"
								}
							},
							{
								"source": {
									"name": "CreateDateTime",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "CreateDateTime",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "DISABILITY",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DISABILITY",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ENQ_REF",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ENQ_REF",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "HOME",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "HOME",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "HOME_REF",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "HOME_REF",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "LASTADDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "LASTADDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "LASTDIDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "LASTDIDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "LOC_DESC",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "LOC_DESC",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "LOC_REF",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "LOC_REF",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "MARKETING",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "MARKETING",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "NINUMBER",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "NINUMBER",
									"type": "String",
									"physicalType": "char"
								}
							},
							{
								"source": {
									"name": "OCC_IGNORE",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "OCC_IGNORE",
									"type": "String",
									"physicalType": "char"
								}
							},
							{
								"source": {
									"name": "ORES_REF",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ORES_REF",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "ORIGADDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ORIGADDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "POSTCODE",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "POSTCODE",
									"type": "String",
									"physicalType": "char"
								}
							},
							{
								"source": {
									"name": "RELIGION",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "RELIGION",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "RESPAYINT",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "RESPAYINT",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "RES_CODE",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "RES_CODE",
									"type": "String",
									"physicalType": "char"
								}
							},
							{
								"source": {
									"name": "RES_FNAME",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "RES_FNAME",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "RES_REF",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "RES_REF",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "RES_SNAME",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "RES_SNAME",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ROOM",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "ROOM",
									"type": "String",
									"physicalType": "char"
								}
							},
							{
								"source": {
									"name": "ROOMCAT",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ROOMCAT",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ROOM_DESC",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ROOM_DESC",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ROOM_TYPE",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "ROOM_TYPE",
									"type": "String",
									"physicalType": "char"
								}
							},
							{
								"source": {
									"name": "SEX",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "SEX",
									"type": "String",
									"physicalType": "char"
								}
							},
							{
								"source": {
									"name": "STATUS",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "STATUS",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TEL_NO1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TEL_NO1",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TEL_NO2",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TEL_NO2",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TITLE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TITLE",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "USERDEF",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "USERDEF",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "AUTHCODE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AUTHCODE",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "DOUBLEINS",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "DOUBLEINS",
									"type": "String",
									"physicalType": "char"
								}
							},
							{
								"source": {
									"name": "FIRSTAWARE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "FIRSTAWARE",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "FIRSTVISIT",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "FIRSTVISIT",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "REAL_FNAME",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "REAL_FNAME",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "REAL_SNAME",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "REAL_SNAME",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "REAL_TITLE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "REAL_TITLE",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "SIGIND",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "SIGIND",
									"type": "String",
									"physicalType": "char"
								}
							},
							{
								"source": {
									"name": "THIRDPARTY",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "THIRDPARTY",
									"type": "String",
									"physicalType": "char"
								}
							},
							{
								"source": {
									"name": "USERFIELD1",
									"type": "String",
									"physicalType": "text"
								},
								"sink": {
									"name": "USERFIELD1",
									"type": "String",
									"physicalType": "text"
								}
							},
							{
								"source": {
									"name": "USERFIELD2",
									"type": "String",
									"physicalType": "text"
								},
								"sink": {
									"name": "USERFIELD2",
									"type": "String",
									"physicalType": "text"
								}
							},
							{
								"source": {
									"name": "USERFIELD3",
									"type": "String",
									"physicalType": "text"
								},
								"sink": {
									"name": "USERFIELD3",
									"type": "String",
									"physicalType": "text"
								}
							},
							{
								"source": {
									"name": "NHSNUMBER",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "NHSNUMBER",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ALTCOMMS",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ALTCOMMS",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ALTCOMMS_REF",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ALTCOMMS_REF",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "ASS_ACTBY",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ASS_ACTBY",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASS_ACTBY_REF",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASS_ACTBY_REF",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "ASS_ACTDT",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASS_ACTDT",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "CONNECTION",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CONNECTION",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CONNECTIONDET",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CONNECTIONDET",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CONNECTION_REF",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "CONNECTION_REF",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "FUNDERREF",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FUNDERREF",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "LANGUAGE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "LANGUAGE",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "LANGUAGE_REF",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "LANGUAGE_REF",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "MOVEDINFROM",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "MOVEDINFROM",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "MOVEDINFROM_REF",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "MOVEDINFROM_REF",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "PATIENTREF",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PATIENTREF",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "PICID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PICID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "PREVCODE",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "PREVCODE",
									"type": "String",
									"physicalType": "char"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_OnPrem_CH_GRG",
						"type": "DatasetReference",
						"parameters": {
							"Schema": "n/a",
							"Table": "n/a"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_AH2_TRANSFORM_DB",
						"type": "DatasetReference",
						"parameters": {
							"Schema": "GRG",
							"Table": "RESIDENT"
						}
					}
				]
			},
			{
				"name": "Lookup HOME_REF",
				"description": "Get all the HOME_REF values from Avery.Home",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT STRING_AGG(ColdHarbourHOME_REF, ',') AS HOME_REF_LIST FROM Avery.Home WHERE ColdHarbourHOME_REF IS NOT NULL",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_AH2_Avery",
						"type": "DatasetReference",
						"parameters": {
							"Schema": "n/a",
							"Table": "n/a"
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Set HOME_REF_LIST",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup HOME_REF",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "HOME_REF_LIST",
					"value": {
						"value": "@activity('Lookup HOME_REF').output.firstRow.HOME_REF_LIST",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"HOME_REF_LIST": {
				"type": "String"
			}
		},
		"folder": {
			"name": "GRG/Child Pipelines"
		},
		"annotations": []
	}
}