pipeline/PL_MCM_Get_Generic.json
{
	"name": "PL_MCM_Get_Generic",
	"properties": {
		"description": "Get data from the supplied endpoint (query/report) for the supplied community ID",
		"activities": [
			{
				"name": "Download Data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set Query",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_MCM_Get_Generic",
						"type": "DatasetReference",
						"parameters": {
							"APIKey": "93ec8bc7-159f4e-1045a6-209d40-2491100be4f6e2",
							"Query": {
								"value": "@variables('Query')",
								"type": "Expression"
							},
							"CommunityID": {
								"value": "@variables('CommunityID')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_MCM_Json",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "IndivReport"
						}
					}
				]
			},
			{
				"name": "Set Query",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set CommunityID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Query",
					"value": "/ReportsAndChartsApi/Get/IndividualReport"
				}
			},
			{
				"name": "Set CommunityID",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "CommunityID",
					"value": "69395740-69ba-4b84-a18c-fa3b8521a2d2"
				}
			}
		],
		"variables": {
			"Query": {
				"type": "String"
			},
			"CommunityID": {
				"type": "String"
			}
		},
		"folder": {
			"name": "MCM"
		},
		"annotations": []
	}
}