pipeline/PL_NurseCall_StageData_InterCall.json
{
	"name": "PL_NurseCall_StageData_InterCall",
	"properties": {
		"activities": [
			{
				"name": "Stage Data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set vDirectory",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set vFilename",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_NurseCall_Csv",
						"type": "DatasetReference",
						"parameters": {
							"Directory": {
								"value": "@variables('vDirectory')",
								"type": "Expression"
							},
							"Filename": {
								"value": "@variables('vFilename')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_AH2_TRANSFORM_DB",
						"type": "DatasetReference",
						"parameters": {
							"Schema": "InterCall",
							"Table": "STG_InterCall"
						}
					}
				]
			},
			{
				"name": "Set vDirectory",
				"description": "Sets directory save location in azure storage account used in sink of copy",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set vYesterday",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "vDirectory",
					"value": {
						"value": "@concat(formatDateTime(variables('vYesterday'), 'yyyy'),'/',formatDateTime(variables('vYesterday'), 'MM'),'/',formatDateTime(variables('vYesterday'), 'dd') )",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set vYesterday",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "vYesterday",
					"value": {
						"value": "@addDays(utcNow(), -1)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set vFilename",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set vYesterday",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "vFilename",
					"value": {
						"value": "@concat('intercall_download_',formatDateTime(variables('vYesterday'), 'yyyyMMdd'),'.csv')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"vDirectory": {
				"type": "String"
			},
			"vYesterday": {
				"type": "String"
			},
			"vFilename": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Nurse Calls/Child Pipelines"
		},
		"annotations": []
	}
}