pipeline/PL_NurseCall_Intercall.json
{
	"name": "PL_NurseCall_Intercall",
	"properties": {
		"activities": [
			{
				"name": "Copy Files",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set vDirectory",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureFileStorageReadSettings",
							"recursive": false,
							"wildcardFileName": "intercall_download_*.csv",
							"deleteFilesAfterCompletion": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_polestar_storage_fileshare_binary",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_Polestar_Storage",
						"type": "DatasetReference",
						"parameters": {
							"Container": "nursecalls",
							"Directory": {
								"value": "@variables('vDirecotry')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Set vDirectory",
				"description": "Sets directory save location in azure storage account used in sink of copy",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set vYesterday",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "vDirecotry",
					"value": {
						"value": "@concat(formatDateTime(variables('vYesterday'), 'yyyy'),'/',formatDateTime(variables('vYesterday'), 'MM'),'/',formatDateTime(variables('vYesterday'), 'dd') )",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set vYesterday",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "vYesterday",
					"value": {
						"value": "@addDays(utcNow(), -1)",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"vDirecotry": {
				"type": "String"
			},
			"vYesterday": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Nurse Calls"
		},
		"annotations": []
	}
}