pipeline/PL_Polestar_Occupancy.json
{
	"name": "PL_Polestar_Occupancy",
	"properties": {
		"activities": [
			{
				"name": "Copy 90 Days Occupancy Data",
				"description": "Copies data from Polestar DB Occupancy table to TRANSFOR_DB OCCUPANCY_INCR table. Only the last 90 days of records",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set 90DayDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "Select * from dbo.Occupancy where CAST(CreateDateTime as date)>= '@{variables('DeleteDate')}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ABS_BILL",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "ABS_BILL",
									"type": "String",
									"physicalType": "char"
								}
							},
							{
								"source": {
									"name": "ADANAL_DEC",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ADANAL_DEC",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "ADTYPE_DEC",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ADTYPE_DEC",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "AmendDateTime",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "AmendDateTime",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "Cont_Ref",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "Cont_Ref",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "CreateDateTime",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "CreateDateTime",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "DATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "DATE",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "EXTROOM",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "EXTROOM",
									"type": "String",
									"physicalType": "char"
								}
							},
							{
								"source": {
									"name": "HOME_REF",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "HOME_REF",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "INHOME",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "INHOME",
									"type": "String",
									"physicalType": "char"
								}
							},
							{
								"source": {
									"name": "LOC_REF",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "LOC_REF",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "OCC_REF",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "OCC_REF",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "RES_REF",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "RES_REF",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "ROOM",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "ROOM",
									"type": "String",
									"physicalType": "char"
								}
							},
							{
								"source": {
									"name": "RecType",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "RecType",
									"type": "String",
									"physicalType": "char"
								}
							},
							{
								"source": {
									"name": "TEMPDIS",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "TEMPDIS",
									"type": "String",
									"physicalType": "char"
								}
							},
							{
								"source": {
									"name": "VoidNo",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "VoidNo",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "GROSSRATE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 12
								},
								"sink": {
									"name": "GROSSRATE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 12
								}
							},
							{
								"source": {
									"name": "ROOMRATE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 12
								},
								"sink": {
									"name": "ROOMRATE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 12
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_AH2_Polestar",
						"type": "DatasetReference",
						"parameters": {
							"Schema": "n/a",
							"Table": "n/a"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_AH2_TRANSFORM_DB",
						"type": "DatasetReference",
						"parameters": {
							"Schema": "STG",
							"Table": "OCCUPANCY_INCR"
						}
					}
				]
			},
			{
				"name": "Set 90DayDate",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "DeleteDate",
					"value": {
						"value": "@formatDateTime(addDays(utcNow(),-90),'yyyy-MM-dd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Add new records to Occupancy Table",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Copy 90 Days Occupancy Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AH2_TRANSFORM_DB",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "Delete from Transform_DB.STG.OCCUPANCY\nWHERE CreateDateTime>= '@{variables('DeleteDate')}'\n\nInsert into Transform_DB.STG.OCCUPANCY \nSelect * from Transform_DB.STG.OCCUPANCY_INCR"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"variables": {
			"DeleteDate": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Polestar ETL Process"
		},
		"annotations": []
	}
}