pipeline/PL_ResidentForms.json
{
	"name": "PL_ResidentForms",
	"properties": {
		"activities": [
			{
				"name": "Lookup Home",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT HOME_REF, HomeName, SITE_REF FROM ColdHarbourHomeID WHERE HOME_REF = '@{variables('Home_Ref')}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_AH2_YardiStage",
						"type": "DatasetReference",
						"parameters": {
							"Schema": "n/a",
							"Table": "n/a"
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Set HomeName",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup Home",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "HomeName",
					"value": {
						"value": "@activity('Lookup Home').output.firstRow.HomeName",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Home_Ref": {
				"type": "String",
				"defaultValue": "611"
			},
			"HomeName": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Yardi/Resident Forms"
		},
		"annotations": []
	}
}