pipeline/PL_Radar_extract_XML_Forms.json
{
	"name": "PL_Radar_extract_XML_Forms",
	"properties": {
		"description": "Extract and create xml files for each form in \nRadar_Templates.FormTemplate table",
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Form Records",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Form Records').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT Definition\nFROM Radar_Templates.FormTemplate\nWHERE Id = @{item().id}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings",
										"copyBehavior": "PreserveHierarchy"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_AH2_TRANSFORM_DB",
									"type": "DatasetReference",
									"parameters": {
										"Schema": "n/a",
										"Table": "n/a"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_polestarstorageacc_XML_filename",
									"type": "DatasetReference",
									"parameters": {
										"Container": "radar",
										"FileName": {
											"value": "@{concat(item().Name, ' $ID:', item().id, ' $Version-', item().Version, '.xml')}",
											"type": "Expression"
										},
										"Directory": "xmlfiles"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Get Form Records",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT id, name, version FROM Radar_Templates.FormTemplate",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_AH2_TRANSFORM_DB",
						"type": "DatasetReference",
						"parameters": {
							"Schema": "n/a",
							"Table": "n/a"
						}
					},
					"firstRowOnly": false
				}
			}
		],
		"folder": {
			"name": "Radar"
		},
		"annotations": []
	}
}