pipeline/PL_Sona_WeeklyHrs_Data.json
{
	"name": "PL_Sona_WeeklyHrs_Data",
	"properties": {
		"description": "Gets the past 7 days of Shifts and Paylines",
		"activities": [
			{
				"name": "Set EndDateTime",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "EndDateTime",
					"value": "@concat(\n    formatDateTime(utcNow(), 'yyyy-MM-dd'),\n    'T23:59:59Z'\n)"
				}
			},
			{
				"name": "Set StartDateTime",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "StartDateTime",
					"value": "@concat(\n    formatDateTime(addDays(utcNow(), -7), 'yyyy-MM-dd'),\n    'T00:00:00Z'\n)"
				}
			},
			{
				"name": "Get Shifts Data",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set EndDateTime",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set StartDateTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_Sona_GetData",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"EndPoint": "shifts",
						"MinStartDate": {
							"value": "@variables('StartDateTime')",
							"type": "Expression"
						},
						"MaxStartDate": {
							"value": "@variables('EndDateTime')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Get PayLines Data",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Get Shifts Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_Sona_GetData",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"EndPoint": "paylines",
						"MinStartDate": {
							"value": "@variables('StartDateTime')",
							"type": "Expression"
						},
						"MaxStartDate": {
							"value": "@variables('EndDateTime')",
							"type": "Expression"
						}
					}
				}
			}
		],
		"variables": {
			"EndDateTime": {
				"type": "String"
			},
			"StartDateTime": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Sona"
		},
		"annotations": []
	}
}