pipeline/PL_Softworks_EmployeeHoliday.json
{
	"name": "PL_Softworks_EmployeeHoliday",
	"properties": {
		"activities": [
			{
				"name": "For Each File",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get File List",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get File List').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy from file to SQL",
							"description": "the @item().Name variable is key on the source. the .Name provides the childItem Name from the output of the Metadata task",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFolderPath": "EmployeeHoliday",
										"wildcardFileName": {
											"value": "@item().Name",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "Employee",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Employee",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "EmployeeNumber",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "EmployeeNumber",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Start Date",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "StartDate",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "End Date",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "EndDate",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Hours Duration",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "HoursDuration",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Absence Type",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "AbsenceType",
												"type": "String",
												"physicalType": "varchar"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_PolestarStorageAcc_Softworks_RateSheets",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DS_AH2_TRANSFORM_DB",
									"type": "DatasetReference",
									"parameters": {
										"Schema": "Softworks",
										"Table": "EmployeeHoliday"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Get File List",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_softworks_EmployeeHoliday",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			}
		],
		"folder": {
			"name": "Softworks"
		},
		"annotations": [],
		"lastPublishTime": "2024-08-20T15:53:45Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}