pipeline/PL_Sona_Stage_Emp_Periods.json
{
	"name": "PL_Sona_Stage_Emp_Periods",
	"properties": {
		"description": "Inserts the Emp_Periods data to stage tables",
		"activities": [
			{
				"name": "Stage Emp Periods",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set DateString",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_Sona_Json_WeeklyHrs",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "emp_periods$",
							"DateString": {
								"value": "@variables('DateString')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_AH2_TRANSFORM_DB",
						"type": "DatasetReference",
						"parameters": {
							"Schema": "Sona",
							"Table": "STG_EmploymentPeriods"
						}
					}
				]
			},
			{
				"name": "Set DateString",
				"description": "Sets the date string used for Dataset property",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "DateString",
					"value": {
						"value": "@utcNow('yyyy-MM-dd')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"DateString": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Sona/Child Pipelines"
		},
		"annotations": []
	}
}