pipeline/PL_SoftWorks_API_Employee.json
{
	"name": "PL_SoftWorks_API_Employee",
	"properties": {
		"activities": [
			{
				"name": "Download Employee data",
				"description": "Start date in the body looks to be irrelevant, it uses the end date to return emp with a start date less than that. ",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set Employee File Name",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:03:00",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "POST",
						"requestBody": {
							"value": "@concat('{\n    \"DataExtractType\": 4000,\n    \"StartDate\": \"',variables('TodaysDate'),'\",\n    \"EndDate\": \"',variables('ThreeMonthsAhead'),'\",\n    \"Customer\": \"internal\"\n}')",
							"type": "Expression"
						},
						"additionalHeaders": {
							"Content-Type": "application/json"
						},
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_Softworks_API_Employees",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_PolestarStorageAcc_Softworks",
						"type": "DatasetReference",
						"parameters": {
							"FileName": {
								"value": "@variables('EmpFileName')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Set Todays Date",
				"description": "Used in sink to Store the files in folder with todays date",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "TodaysDate",
					"value": {
						"value": "@formatDateTime(utcNow(), 'dd-MM-yyyy')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set One Months Ahead",
				"description": "Set to the end of the month, 1 month ahead. Used in the API call so details of future starters is returned.",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set Todays Date",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "ThreeMonthsAhead",
					"value": {
						"value": "@formatDateTime(addToTime(utcNow(), 1, 'Month'), 'dd-MM-yyyy')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set WeekEndingDate",
				"description": "Set the previous week ending date in the dd-MM-yyyy format for the API",
				"type": "SetVariable",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "WeekEndingDate",
					"value": {
						"value": "@formatDateTime(subtractFromTime(utcNow(), dayOfWeek(utcNow()), 'Day'), 'dd-MM-yyyy')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set WeekBegining Date",
				"description": "Set the previous week Start date in the dd-MM-yyyy format for the API",
				"type": "SetVariable",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Set WeekEndingDate",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "WeekBeginingDate",
					"value": {
						"value": "@formatDateTime(subtractFromTime(subtractFromTime(utcNow(), dayOfWeek(utcNow()), 'Day'), 6, 'Day'), 'dd-MM-yyyy')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Download Clockings data",
				"description": "Start date in the body looks to be irrelevant, it uses the end date to return emp with a start date less than that. ",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Set Clockings File Name",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:03:00",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "POST",
						"requestBody": {
							"value": "@concat('{\n    \"DataExtractType\": 2000,\n    \"StartDate\": \"',variables('WeekBeginingDate'),'\",\n    \"EndDate\": \"',variables('WeekEndingDate'),'\",\n    \"Customer\": \"internal\"\n}')",
							"type": "Expression"
						},
						"additionalHeaders": {
							"Content-Type": "application/json"
						},
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_Softworks_API_Employees",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_PolestarStorageAcc_Softworks",
						"type": "DatasetReference",
						"parameters": {
							"FileName": {
								"value": "@variables('ClockingsFileName')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Set Clockings File Name",
				"type": "SetVariable",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Set WeekBegining Date",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "ClockingsFileName",
					"value": {
						"value": "@concat('Clockings', '$', variables('WeekBeginingDate'), '$', variables('WeekEndingDate') )",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Employee File Name",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set One Months Ahead",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "EmpFileName",
					"value": {
						"value": "@concat('EmployeeList', '$', variables('TodaysDate'))",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"TodaysDate": {
				"type": "String"
			},
			"ThreeMonthsAhead": {
				"type": "String"
			},
			"EmpFileName": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Softworks/Children Pipelines"
		},
		"annotations": [],
		"lastPublishTime": "2024-04-10T11:21:25Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}