pipeline/PL_Sona_Stage_Emp_Periods.json
{
	"name": "PL_Sona_Stage_Emp_Periods",
	"properties": {
		"description": "Inserts the Emp_Periods data to stage tables",
		"activities": [
			{
				"name": "Stage Emp Periods",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set DateString",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['end_point']"
								}
							},
							{
								"source": {
									"path": "$['success']"
								}
							},
							{
								"source": {
									"path": "['active']"
								},
								"sink": {
									"name": "active",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['id']"
								}
							},
							{
								"source": {
									"path": "['start_date']"
								},
								"sink": {
									"name": "start_date",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['idx']"
								},
								"sink": {
									"name": "idx",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['user_id']"
								},
								"sink": {
									"name": "user_id",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['job_id']"
								},
								"sink": {
									"name": "job_id",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['organisation_id']"
								},
								"sink": {
									"name": "organisation_id",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['employment_specs'][0]['id']"
								}
							},
							{
								"source": {
									"path": "['employment_specs'][0]['contracted_hours'][0]['id']"
								}
							},
							{
								"source": {
									"path": "['employment_specs'][0]['contracted_hours'][0]['period']"
								}
							},
							{
								"source": {
									"path": "['employment_specs'][0]['contracted_hours'][0]['hours']"
								}
							},
							{
								"source": {
									"path": "['employment_specs'][0]['contracted_hours'][0]['days']"
								}
							},
							{
								"source": {
									"path": "['employment_specs'][0]['contracted_hours'][0]['start_date']"
								},
								"sink": {
									"name": "start_date",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['employment_specs'][0]['contracted_hours'][0]['idx']"
								},
								"sink": {
									"name": "idx",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['employment_specs'][0]['contracted_hours'][0]['finish_date']"
								},
								"sink": {
									"name": "finish_date",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['employment_specs'][0]['contracted_hours'][0]['org_unit_id']"
								}
							},
							{
								"source": {
									"path": "['employment_specs'][0]['contracted_hours'][0]['colour_coding']"
								}
							},
							{
								"source": {
									"path": "['employment_specs'][0]['contracted_hours'][0]['type_of_work_id']"
								}
							},
							{
								"source": {
									"path": "['employment_specs'][0]['contracted_hours'][0]['weekly_period_starts_at']"
								}
							},
							{
								"source": {
									"path": "['employment_specs'][0]['contracted_hours'][0]['monthly_period_starts_at']"
								}
							},
							{
								"source": {
									"path": "['employment_specs'][0]['contracted_hours'][0]['rolling_period_sequence_length_days']"
								}
							},
							{
								"source": {
									"path": "['employment_specs'][0]['contracted_hours'][0]['rolling_period_sequence_start']"
								}
							},
							{
								"source": {
									"path": "['employment_specs'][0]['contract_types'][0]['id']"
								}
							},
							{
								"source": {
									"path": "['employment_specs'][0]['contract_types'][0]['name']"
								}
							},
							{
								"source": {
									"path": "['employment_specs'][0]['contract_types'][0]['employment_type']"
								}
							},
							{
								"source": {
									"path": "['employment_specs'][0]['contract_types'][0]['pay_period_type']"
								}
							},
							{
								"source": {
									"path": "['employment_specs'][0]['contract_types'][0]['payroll_rule']"
								}
							},
							{
								"source": {
									"path": "['employment_specs'][0]['contract_types'][0]['pay_period_start']"
								}
							},
							{
								"source": {
									"path": "['employment_specs'][0]['contract_types'][0]['employment_basis']"
								}
							},
							{
								"source": {
									"path": "['employment_specs'][0]['rates_of_pay'][0]['id']"
								}
							},
							{
								"source": {
									"path": "['employment_specs'][0]['rates_of_pay'][0]['label']"
								}
							},
							{
								"source": {
									"path": "['employment_specs'][0]['rates_of_pay'][0]['start_date']"
								},
								"sink": {
									"name": "start_date",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['employment_specs'][0]['rates_of_pay'][0]['idx']"
								},
								"sink": {
									"name": "idx",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['employment_specs'][0]['rates_of_pay'][0]['rate']"
								}
							},
							{
								"source": {
									"path": "['employment_specs'][0]['rates_of_pay'][0]['is_default']"
								}
							},
							{
								"source": {
									"path": "['employment_specs'][0]['rates_of_pay'][0]['finish_date']"
								},
								"sink": {
									"name": "finish_date",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['employment_specs'][0]['rates_of_pay'][0]['org_unit_id']"
								}
							},
							{
								"source": {
									"path": "['employment_specs'][0]['rates_of_pay'][0]['type_of_work_id']"
								}
							},
							{
								"source": {
									"path": "['employment_specs'][0]['rates_of_pay'][0]['pay_type']"
								}
							},
							{
								"source": {
									"path": "['finish_date']"
								},
								"sink": {
									"name": "finish_date",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['organisation_user_id']"
								},
								"sink": {
									"name": "organisation_user_id",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['permission_roles'][0]"
								}
							},
							{
								"source": {
									"path": "['types_of_work'][0]['id']"
								}
							},
							{
								"source": {
									"path": "['types_of_work'][0]['name']"
								}
							},
							{
								"source": {
									"path": "['employee_number']"
								},
								"sink": {
									"name": "employee_number",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['primary_org_unit_id']"
								},
								"sink": {
									"name": "primary_org_unit_id",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['continuous_employment_start_date']"
								},
								"sink": {
									"name": "continuous_employment_start_date",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['level_id']"
								},
								"sink": {
									"name": "level_id",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['job_grade_id']"
								},
								"sink": {
									"name": "job_grade_id",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['reports_to_user_id']"
								},
								"sink": {
									"name": "reports_to_user_id",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['starter_declaration']"
								},
								"sink": {
									"name": "starter_declaration",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['student_loan_plan_five']"
								}
							},
							{
								"source": {
									"path": "['student_loan_plan_four']"
								},
								"sink": {
									"name": "student_loan_plan_four",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['student_loan_plan_one']"
								},
								"sink": {
									"name": "student_loan_plan_one",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['student_loan_plan_two']"
								},
								"sink": {
									"name": "student_loan_plan_two",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['student_loan_post_graduate']"
								},
								"sink": {
									"name": "student_loan_post_graduate",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['termination_would_rehire']"
								}
							},
							{
								"source": {
									"path": "['tupe']"
								},
								"sink": {
									"name": "tupe",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['reports_to_org_user_id']"
								},
								"sink": {
									"name": "reports_to_org_user_id",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['termination_reason']"
								}
							},
							{
								"source": {
									"path": "['permission_roles_locations'][0]"
								}
							},
							{
								"source": {
									"path": "['updated_at_utc']"
								}
							},
							{
								"source": {
									"path": "$['count']"
								}
							}
						],
						"collectionReference": "$['entries']"
					}
				},
				"inputs": [
					{
						"referenceName": "DS_Sona_Json_WeeklyHrs",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "emp_periods$",
							"DateString": {
								"value": "@variables('DateString')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_AH2_TRANSFORM_DB",
						"type": "DatasetReference",
						"parameters": {
							"Schema": "Sona",
							"Table": "STG_EmploymentPeriods"
						}
					}
				]
			},
			{
				"name": "Set DateString",
				"description": "Sets the date string used for Dataset property",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "DateString",
					"value": {
						"value": "@utcNow('yyyy-MM-dd')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"DateString": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Sona/Child Pipelines"
		},
		"annotations": []
	}
}