pipeline/PL_Sona_Upsert_All_Users.json
{
	"name": "PL_Sona_All_Users",
	"properties": {
		"description": "Loads All users from the file created by the Azure App",
		"activities": [
			{
				"name": "Users",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE Sona.STG_Users",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['work_email']"
								},
								"sink": {
									"name": "work_email",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['last_name']"
								},
								"sink": {
									"name": "last_name",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['external_id']"
								},
								"sink": {
									"name": "external_id",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['marital_status']"
								},
								"sink": {
									"name": "marital_status",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['active']"
								},
								"sink": {
									"name": "active",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['preferred_name']"
								},
								"sink": {
									"name": "preferred_name",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['final_date_of_employment']"
								},
								"sink": {
									"name": "final_date_of_employment",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['middle_name']"
								},
								"sink": {
									"name": "middle_name",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['exclude_from_payroll']"
								},
								"sink": {
									"name": "exclude_from_payroll",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['administrative_org_unit']['id']"
								},
								"sink": {
									"name": "administrative_org_unit_id",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['agency']['id']"
								},
								"sink": {
									"name": "agency_id",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['first_name']"
								},
								"sink": {
									"name": "first_name",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['title']"
								},
								"sink": {
									"name": "title",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['legal_first_name']"
								},
								"sink": {
									"name": "legal_first_name",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['id']"
								},
								"sink": {
									"name": "user_id",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['organisation_user_id']"
								},
								"sink": {
									"name": "organisation_user_id",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['sex']"
								},
								"sink": {
									"name": "sex",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['identifies_as']"
								},
								"sink": {
									"name": "identifies_as",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['date_of_birth']"
								},
								"sink": {
									"name": "date_of_birth",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['state']"
								},
								"sink": {
									"name": "state",
									"type": "String"
								}
							}
						],
						"collectionReference": "$['entries']"
					}
				},
				"inputs": [
					{
						"referenceName": "DS_Sona_Json_WeeklyHrs",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "all_users$",
							"DateString": "@variables('DateString')"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_AH2_TRANSFORM_DB",
						"type": "DatasetReference",
						"parameters": {
							"Schema": "Sona",
							"Table": "STG_Users"
						}
					}
				]
			},
			{
				"name": "Users_types_of_work",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Users",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE Sona.STG_Users_Types_Of_work",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['id']"
								},
								"sink": {
									"name": "user_id",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['organisation_user_id']"
								},
								"sink": {
									"name": "organisation_user_id",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['types_of_work'][0]['id']"
								},
								"sink": {
									"name": "user_types_pf_work_ido",
									"type": "String"
								}
							}
						],
						"collectionReference": "$['entries']"
					}
				},
				"inputs": [
					{
						"referenceName": "DS_Sona_Json_WeeklyHrs",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "all_users$",
							"DateString": "@variables('DateString')"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_AH2_TRANSFORM_DB",
						"type": "DatasetReference",
						"parameters": {
							"Schema": "Sona",
							"Table": "STG_Users_Types_Of_work"
						}
					}
				]
			},
			{
				"name": "Upsert Users",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Users_types_of_work",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"user_id"
							]
						},
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "user_id",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "user_id",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "organisation_user_id",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "organisation_user_id",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "external_id",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "external_id",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "active",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "active",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "state",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "state",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "first_name",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "first_name",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "legal_first_name",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "legal_first_name",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "middle_name",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "middle_name",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "last_name",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "last_name",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "administrative_org_unit_id",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "administrative_org_unit_id",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "exclude_from_payroll",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "exclude_from_payroll",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "marital_status",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "marital_status",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "work_email",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "work_email",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "date_of_birth",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "date_of_birth",
									"type": "Date",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "preferred_name",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "preferred_name",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "final_date_of_employment",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "final_date_of_employment",
									"type": "Date",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "identifies_as",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "identifies_as",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "title",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "title",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "sex",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "sex",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "agency_id",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "agency_id",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_AH2_TRANSFORM_DB",
						"type": "DatasetReference",
						"parameters": {
							"Schema": "Sona",
							"Table": "STG_Users"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_AH2_TRANSFORM_DB",
						"type": "DatasetReference",
						"parameters": {
							"Schema": "Sona",
							"Table": "Users"
						}
					}
				]
			},
			{
				"name": "Upsert Users_types_of_work",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Upsert Users",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"user_id"
							]
						},
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "user_id",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "user_id",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "organisation_user_id",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "organisation_user_id",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "external_id",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "external_id",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "active",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "active",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "state",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "state",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "first_name",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "first_name",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "legal_first_name",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "legal_first_name",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "middle_name",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "middle_name",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "last_name",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "last_name",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "administrative_org_unit_id",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "administrative_org_unit_id",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "exclude_from_payroll",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "exclude_from_payroll",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "marital_status",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "marital_status",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "work_email",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "work_email",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "date_of_birth",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "date_of_birth",
									"type": "Date",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "preferred_name",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "preferred_name",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "final_date_of_employment",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "final_date_of_employment",
									"type": "Date",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "identifies_as",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "identifies_as",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "title",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "title",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "sex",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "sex",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "agency_id",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "agency_id",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_AH2_TRANSFORM_DB",
						"type": "DatasetReference",
						"parameters": {
							"Schema": "Sona",
							"Table": "STG_Users_Types_Of_work"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_AH2_TRANSFORM_DB",
						"type": "DatasetReference",
						"parameters": {
							"Schema": "Sona",
							"Table": "Users_Types_Of_work"
						}
					}
				]
			},
			{
				"name": "Set Date",
				"description": "Sets the date variable used in source dataset",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "DateString",
					"value": "@utcNow('yyyy-MM-dd')"
				}
			}
		],
		"variables": {
			"DateString": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Sona/Child Pipelines"
		},
		"annotations": []
	}
}