pipeline/PL_Tribepad_MoveFiles.json
{
	"name": "PL_Tribepad_MoveFiles",
	"properties": {
		"description": "Moves files to sub folders",
		"activities": [
			{
				"name": "Move Files",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set Today Var",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": false,
							"wildcardFileName": {
								"value": "@concat('*',variables('Today'),'*.csv')",
								"type": "Expression"
							},
							"deleteFilesAfterCompletion": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_averyblob_tribepad_binary_source",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_averyblob_tribepad_binary_dest",
						"type": "DatasetReference",
						"parameters": {
							"Directory": {
								"value": "@concat(formatDateTime(utcNow(), 'yyyy'),'/',formatDateTime(utcNow(), 'MM'),'/',formatDateTime(utcNow(), 'dd') )",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Set Today Var",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Today",
					"value": {
						"value": "@formatDateTime(utcNow(), 'yyyyMMdd')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Today": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Tribepad"
		},
		"annotations": []
	}
}