pipeline/PL_Yardi_MCM_ServiceUsers_MultiHome.json
{
	"name": "PL_Yardi_MCM_ServiceUsers_MultiHome",
	"properties": {
		"activities": [
			{
				"name": "For Community",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup Community Ids",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup Community Ids').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Call AZ Function",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_MCM_Data_Extract_CommunityId",
									"type": "DatasetReference",
									"parameters": {
										"MCM_endPoint": {
											"value": "@variables('MCMEndPoint')",
											"type": "Expression"
										},
										"MCM_api_key": {
											"value": "@variables('MCMAPIKey')",
											"type": "Expression"
										},
										"FunctionCode": {
											"value": "@variables('AzFuncCode')",
											"type": "Expression"
										},
										"CommunityId": {
											"value": "@item().MCM_CommunityID",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_Yardi_Json",
									"type": "DatasetReference",
									"parameters": {
										"FileType": {
											"value": "@concat(item().HomeName, ' ', variables('MCMEndPoint'))",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Lookup Community Ids",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set Az Func Code",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set MCM API Key",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT\n    HOME_REF,\n    MCM_CommunityID,\n    HomeName\nFROM \n    [dbo].[ColdHarbourHomeID]\nWHERE\n    MCM_CommunityID IS NOT NULL\n    AND HOME_REF IN (@{variables('Home_Ref_List')})",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_AH2_YardiStage",
						"type": "DatasetReference",
						"parameters": {
							"Schema": "n/a",
							"Table": "n/a"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Get AZ Func Code",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://avery-adf-keyvault.vault.azure.net/secrets/MCMDataExtractAzFunc/9ad6bb869bce44809b76c700e88d789f?api-version=7.3",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Set Az Func Code",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get AZ Func Code",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "AzFuncCode",
					"value": {
						"value": "@activity('Get AZ Func Code').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get MCM API key",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://avery-adf-keyvault.vault.azure.net/secrets/MCMJonCrockettAPIKey/bde96b82a47a40628426ca459ee044ec?api-version=7.3",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Set MCM API Key",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get MCM API key",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "MCMAPIKey",
					"value": {
						"value": "@activity('Get MCM API key').output.value",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"AzFuncCode": {
				"type": "String"
			},
			"MCMAPIKey": {
				"type": "String"
			},
			"MCMEndPoint": {
				"type": "String",
				"defaultValue": "serviceusers"
			},
			"Home_Ref_List": {
				"type": "String",
				"defaultValue": "610,632,651,639"
			}
		},
		"folder": {
			"name": "Yardi/MCM"
		},
		"annotations": []
	}
}