pipeline/PL_Yardi_AEMS_BackUp.json
{
	"name": "PL_Yardi_AEMS_BackUp",
	"properties": {
		"activities": [
			{
				"name": "AEMS_Enquiries",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set BackUpDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"additionalColumns": [
							{
								"name": "BackUpDate",
								"value": {
									"value": "@variables('BackUpDate')",
									"type": "Expression"
								}
							}
						],
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "BackUpDate",
									"type": "String"
								},
								"sink": {
									"name": "BackUpDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "AEMS_ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "AEMS_ID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "aems_version",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "aems_version",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "homeID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "homeID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "uploadedBy",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "uploadedBy",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "managerEmailed",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "managerEmailed",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "enquiryStatus",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "enquiryStatus",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "enquiryID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "enquiryID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "initialEnquiry",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "initialEnquiry",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "enquirerSalutation",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "enquirerSalutation",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "enquirerFirstName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "enquirerFirstName",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "enquirerLastName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "enquirerLastName",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "enquirerSalutationTwo",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "enquirerSalutationTwo",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "enquirerLastNameTwo",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "enquirerLastNameTwo",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "enquirerFirstNameTwo",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "enquirerFirstNameTwo",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "enquiryDate",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "enquiryDate",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "enquirerRelationshipToResident",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "enquirerRelationshipToResident",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "en_areacode",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "en_areacode",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "enquirerTelephone",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "enquirerTelephone",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "enquiry_mobile",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "enquiry_mobile",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "enquirerEmail",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "enquirerEmail",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "enquirerAddress",
									"type": "String",
									"physicalType": "text"
								},
								"sink": {
									"name": "enquirerAddress",
									"type": "String",
									"physicalType": "text"
								}
							},
							{
								"source": {
									"name": "enquirerAddressOne",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "enquirerAddressOne",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "enquirerAddressTwo",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "enquirerAddressTwo",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "enquirerAddressThree",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "enquirerAddressThree",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "enquiry_postcode",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "enquiry_postcode",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "enquiry_postcode_two",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "enquiry_postcode_two",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "residentSalutation",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "residentSalutation",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "residentFirstName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "residentFirstName",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "residentLastName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "residentLastName",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "residentDOB",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "residentDOB",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "residentSalutationTwo",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "residentSalutationTwo",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "residentFirstNameTwo",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "residentFirstNameTwo",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "residentLastNameTwo",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "residentLastNameTwo",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "residentDOBTwo",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "residentDOBTwo",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "residentNOK",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "residentNOK",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "residentAddress",
									"type": "String",
									"physicalType": "text"
								},
								"sink": {
									"name": "residentAddress",
									"type": "String",
									"physicalType": "text"
								}
							},
							{
								"source": {
									"name": "residentAddressOne",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "residentAddressOne",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "residentAddressTwo",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "residentAddressTwo",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "residentAddressThree",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "residentAddressThree",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "residentPostcode",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "residentPostcode",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "residentTelephone",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "residentTelephone",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "residentCareCategory",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "residentCareCategory",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "residentFundingCategory",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "residentFundingCategory",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "residentCareCategoryTwo",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "residentCareCategoryTwo",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "funding_total",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "funding_total",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "residentFunding",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "residentFunding",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "residentFundingTwo",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "residentFundingTwo",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "enquiryDetails",
									"type": "String",
									"physicalType": "text"
								},
								"sink": {
									"name": "enquiryDetails",
									"type": "String",
									"physicalType": "text"
								}
							},
							{
								"source": {
									"name": "enquiryType",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "enquiryType",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "responseTime",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "responseTime",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "responseCurrentStatus",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "responseCurrentStatus",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "responseNeeded",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "responseNeeded",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "responseAmountTried",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "responseAmountTried",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "followUpDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "followUpDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "followUpReason",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "followUpReason",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "uploadToCH",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "uploadToCH",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "admissionDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "admissionDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "enquiryClosed",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "enquiryClosed",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "managerContacted",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "managerContacted",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "homeVisit",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "homeVisit",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "assessmentBooked",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "assessmentBooked",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "assesmentComplete",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "assesmentComplete",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "admission",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "admission",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "homeVisitBooked",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "homeVisitBooked",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "admissionBooked",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "admissionBooked",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "video_booked",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "video_booked",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "video_complete",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "video_complete",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "homeVisitRequested",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "homeVisitRequested",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "assesmentRequested",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "assesmentRequested",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "newEnquiry",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "newEnquiry",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "cameFrom",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "cameFrom",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "enquirer_address",
									"type": "String",
									"physicalType": "text"
								},
								"sink": {
									"name": "enquirer_address",
									"type": "String",
									"physicalType": "text"
								}
							},
							{
								"source": {
									"name": "enquirer_postcode",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "enquirer_postcode",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "lng",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "lng",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "lat",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "lat",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "enquirer_area",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "enquirer_area",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "enquirer_county",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "enquirer_county",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "nok_name",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "nok_name",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "nok_surname",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "nok_surname",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "nok_county",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "nok_county",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "nok_relation",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "nok_relation",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "nok_telephone",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "nok_telephone",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "nok_mobile",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "nok_mobile",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "nok_address",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "nok_address",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "resident_county",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "resident_county",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "nok_Salutation",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "nok_Salutation",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "newsletter_receive",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "newsletter_receive",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "newsletter_email",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "newsletter_email",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "enquiry_urgent",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "enquiry_urgent",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "optOut",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "optOut",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "type_news",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "type_news",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "type_mag",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "type_mag",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "type_other",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "type_other",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "gp_name",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "gp_name",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "gp_address",
									"type": "String",
									"physicalType": "text"
								},
								"sink": {
									"name": "gp_address",
									"type": "String",
									"physicalType": "text"
								}
							},
							{
								"source": {
									"name": "gp_telephone",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "gp_telephone",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "gp_requested",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "gp_requested",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "gp_received",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "gp_received",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "website",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "website",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "brochure",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "brochure",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "brochure_requestID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "brochure_requestID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "entryMethod",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "entryMethod",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "current_action_id",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "current_action_id",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "column_hash",
									"type": "String",
									"physicalType": "text"
								},
								"sink": {
									"name": "column_hash",
									"type": "String",
									"physicalType": "text"
								}
							},
							{
								"source": {
									"name": "receiveMarketing",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "receiveMarketing",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "willTopUp",
									"type": "String",
									"physicalType": "text"
								},
								"sink": {
									"name": "willTopUp",
									"type": "String",
									"physicalType": "text"
								}
							},
							{
								"source": {
									"name": "enquiry_entered_from",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "enquiry_entered_from",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "enquiry_closed_reason",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "enquiry_closed_reason",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "enquiry_deleted",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "enquiry_deleted",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "enquiry_weight",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "enquiry_weight",
									"type": "Int32",
									"physicalType": "int"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_AH2_TRANSFORM_DB",
						"type": "DatasetReference",
						"parameters": {
							"Schema": "AEMS",
							"Table": "AEMS_Enquiries"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_AH2_YardiStage",
						"type": "DatasetReference",
						"parameters": {
							"Schema": "AEMS",
							"Table": "AEMS_Enquiries_YardiBackup"
						}
					}
				]
			},
			{
				"name": "Set BackUpDate",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "BackUpDate",
					"value": {
						"value": "@formatDateTime(utcNow(), 'yyyy-MM-dd HH:mm:ss')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "AEMS_Enquiries_Actions",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "AEMS_Enquiries",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"additionalColumns": [
							{
								"name": "BackUpDate",
								"value": {
									"value": "@variables('BackUpDate')",
									"type": "Expression"
								}
							}
						],
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "BackUpDate",
									"type": "String"
								},
								"sink": {
									"name": "BackUpDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "AEMS_ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "AEMS_ID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "enquiry_setBy",
									"type": "String",
									"physicalType": "text"
								},
								"sink": {
									"name": "enquiry_setBy",
									"type": "String",
									"physicalType": "text"
								}
							},
							{
								"source": {
									"name": "enquiry_id",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "enquiry_id",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "enquiry_dateRequired",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "enquiry_dateRequired",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "enquiry_reason",
									"type": "String",
									"physicalType": "text"
								},
								"sink": {
									"name": "enquiry_reason",
									"type": "String",
									"physicalType": "text"
								}
							},
							{
								"source": {
									"name": "enquiry_contact",
									"type": "String",
									"physicalType": "text"
								},
								"sink": {
									"name": "enquiry_contact",
									"type": "String",
									"physicalType": "text"
								}
							},
							{
								"source": {
									"name": "enquiry_actionComplete",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "enquiry_actionComplete",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "enquiry_actionInserted",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "enquiry_actionInserted",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "enquiry_actionCompleteDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "enquiry_actionCompleteDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "enquiry_actionCompleteBy",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "enquiry_actionCompleteBy",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "enquiry_homeID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "enquiry_homeID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "enquiry_missed",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "enquiry_missed",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "enquiry_missedEmail",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "enquiry_missedEmail",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "enquiry_missedEmailDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "enquiry_missedEmailDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "enquiry_initialContact",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "enquiry_initialContact",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "enquiry_flag",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "enquiry_flag",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "enquiry_critical",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "enquiry_critical",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "enquiry_details",
									"type": "String",
									"physicalType": "text"
								},
								"sink": {
									"name": "enquiry_details",
									"type": "String",
									"physicalType": "text"
								}
							},
							{
								"source": {
									"name": "enquiry_picked_up",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "enquiry_picked_up",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "enquiry_assigned_to",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "enquiry_assigned_to",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "enquiry_assigned_when",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "enquiry_assigned_when",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "enquiry_action_call_handler",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "enquiry_action_call_handler",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "enquiry_new",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "enquiry_new",
									"type": "Int32",
									"physicalType": "int"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_AH2_TRANSFORM_DB",
						"type": "DatasetReference",
						"parameters": {
							"Schema": "AEMS",
							"Table": "AEMS_Enquiries_Actions"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_AH2_YardiStage",
						"type": "DatasetReference",
						"parameters": {
							"Schema": "AEMS",
							"Table": "AEMS_Enquiries_Actions_YardiBackup"
						}
					}
				]
			}
		],
		"variables": {
			"BackUpDate": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Yardi/AEMS"
		},
		"annotations": []
	}
}