pipeline/XPL_Yardi_Actuals.json
{
	"name": "PL_Yardi_Actuals",
	"properties": {
		"description": "Exports the current monthh actuals/TB/Journel Entries from the Actuals table from TRANSFORM_DB. This table is loaded by the excel file macro on 192.168.1.165 (also hosted on the S drive). Taking data from Exchequer using the OLE links.",
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set FileName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "\r\nSELECT\r\n    ExchCode,\r\n    GLCODE,\r\n    actual_desc,\r\n    CAST(Period AS DATE) AS Period,\r\n    amount * -1 AS amount\r\nFROM \r\n    Exchequer.Actuals \r\nWHERE \r\n    Period = '2025-04-01'\r\n    AND ExchCode IN \r\n    (   \r\n    SELECT\r\n        ExchCode\r\n    FROM \r\n        Avery.HomeDetails\r\n    WHERE\r\n        ColdHarbourHOME_REF IN (\r\n        644,\r\n        627,\r\n        637,\r\n        649,\r\n        638,\r\n        655,\r\n        633,\r\n        628,\r\n        632,\r\n        641,\r\n        650,\r\n        654,\r\n        642,\r\n        643,\r\n        629,\r\n        647,\r\n        653,\r\n        630,\r\n        631,\r\n        610,\r\n        634,\r\n        635,\r\n        645,\r\n        646,\r\n        651,\r\n        636,\r\n        639,\r\n        652,\r\n        640,\r\n        648)\r\n    )\r\n    AND GLCODE \r\nIN (\r\n20000,\r\n20010,\r\n20020,\r\n21000,\r\n21010,\r\n21020,\r\n29000,\r\n29010,\r\n29020,\r\n29030,\r\n29040,\r\n29050,\r\n29900,\r\n29910,\r\n29920,\r\n29930,\r\n29931,\r\n29932,\r\n29940,\r\n29950,\r\n29955,\r\n29960,\r\n29965,\r\n29970,\r\n29975,\r\n29980,\r\n29990,\r\n29991,\r\n30000,\r\n30010,\r\n30020,\r\n30030,\r\n31000,\r\n31010,\r\n31020,\r\n31030,\r\n32000,\r\n32010,\r\n32020,\r\n32021,\r\n32025,\r\n32026,\r\n32030,\r\n32040,\r\n39000,\r\n39005,\r\n39006,\r\n39010,\r\n39011,\r\n39012,\r\n40000,\r\n40500,\r\n41000,\r\n41010,\r\n41020,\r\n41030,\r\n41500,\r\n41510,\r\n42000,\r\n42001,\r\n42002,\r\n42003,\r\n42010,\r\n42020,\r\n42030,\r\n42040,\r\n42050,\r\n42500,\r\n42510,\r\n42520,\r\n42530,\r\n42540,\r\n42550,\r\n43000,\r\n43010,\r\n43020,\r\n43500,\r\n43510,\r\n43520,\r\n43530,\r\n44000,\r\n44010,\r\n44020,\r\n44030,\r\n44040,\r\n44050,\r\n44060,\r\n44070,\r\n44080,\r\n44090,\r\n44100,\r\n44110,\r\n44500,\r\n44510,\r\n44520,\r\n44530,\r\n44540,\r\n44550,\r\n45000,\r\n45010,\r\n45020,\r\n45030,\r\n45500,\r\n45505,\r\n45510,\r\n45515,\r\n45520,\r\n45525,\r\n45530,\r\n45531,\r\n45535,\r\n45536,\r\n45540,\r\n45545,\r\n45550,\r\n45555,\r\n45560,\r\n45565,\r\n45570,\r\n45575,\r\n45580,\r\n45585,\r\n45599,\r\n49000,\r\n49005,\r\n49010,\r\n49015,\r\n49020,\r\n49025,\r\n49030,\r\n49035,\r\n49040,\r\n49045,\r\n49050,\r\n49055,\r\n49056,\r\n49060,\r\n49065,\r\n49070,\r\n49075,\r\n49080,\r\n50000,\r\n50010,\r\n50020,\r\n50030,\r\n50040,\r\n50050,\r\n50060,\r\n50070,\r\n50080,\r\n60000,\r\n60010,\r\n61000,\r\n62000,\r\n62001,\r\n62002,\r\n62010,\r\n62020,\r\n63000,\r\n63001,\r\n63002,\r\n63003,\r\n63004,\r\n63005,\r\n63006,\r\n63007,\r\n63008,\r\n63009,\r\n63100,\r\n63101,\r\n63102,\r\n63103,\r\n63104,\r\n63105,\r\n63106,\r\n63107,\r\n63108,\r\n63109,\r\n63200,\r\n63201,\r\n63202,\r\n63203,\r\n63204,\r\n63205,\r\n63206,\r\n63207,\r\n63208,\r\n63209,\r\n64000,\r\n64001,\r\n64002,\r\n64003,\r\n64004,\r\n64005,\r\n64006,\r\n64007,\r\n64008,\r\n64009,\r\n64100,\r\n64101,\r\n64102,\r\n64103,\r\n64104,\r\n64105,\r\n64106,\r\n64107,\r\n64108,\r\n64109,\r\n64200,\r\n64201,\r\n64202,\r\n64203,\r\n64204,\r\n64205,\r\n64206,\r\n64207,\r\n64208,\r\n64209,\r\n70000,\r\n70010,\r\n70011,\r\n70012,\r\n70020,\r\n71000,\r\n71010,\r\n71020,\r\n71030,\r\n71040,\r\n71050,\r\n72000,\r\n72010,\r\n72020,\r\n72030,\r\n73000,\r\n73001,\r\n73010,\r\n73020,\r\n73030,\r\n80000,\r\n80010,\r\n80020,\r\n81000,\r\n81005,\r\n81010,\r\n81015,\r\n81020,\r\n81030,\r\n81040,\r\n81050,\r\n81060,\r\n81070,\r\n81075,\r\n82000,\r\n82010,\r\n82015,\r\n82020,\r\n82030,\r\n82040,\r\n82050,\r\n82060,\r\n82070,\r\n82080,\r\n82090,\r\n82091,\r\n82100,\r\n82101,\r\n82102,\r\n82103,\r\n82104,\r\n82105,\r\n82106,\r\n82107,\r\n82108,\r\n82109,\r\n82110,\r\n82111,\r\n82112,\r\n82113,\r\n82114,\r\n82115,\r\n82116,\r\n82117,\r\n82118,\r\n82119,\r\n82120,\r\n82121,\r\n82122,\r\n82123,\r\n82124,\r\n82125,\r\n82126,\r\n82127,\r\n82128,\r\n82129,\r\n83000,\r\n83005,\r\n83010,\r\n83015,\r\n83020,\r\n83025,\r\n83030,\r\n83031,\r\n83035,\r\n83040,\r\n83042,\r\n83045,\r\n83050,\r\n83055,\r\n83060,\r\n83065,\r\n83070,\r\n83075,\r\n83080,\r\n83085,\r\n83086,\r\n83087,\r\n83090,\r\n83095,\r\n83100,\r\n83105,\r\n84000,\r\n84010,\r\n84011,\r\n84012,\r\n84020,\r\n84030,\r\n90000,\r\n90010,\r\n90020,\r\n90030,\r\n90031,\r\n90032,\r\n90040,\r\n90050\r\n)\r\nORDER BY\r\n    ExchCode ASC,\r\n    GLCODE ASC",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_AH2_TRANSFORM_DB",
						"type": "DatasetReference",
						"parameters": {
							"Schema": "Exchequer",
							"Table": "Actuals"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_Yardi_CSV",
						"type": "DatasetReference",
						"parameters": {
							"Filename": {
								"value": "@variables('FileName')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Set PeriodDate",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "PeriodDate",
					"value": {
						"value": "@formatDateTime(startOfMonth(utcNow()), 'yyyy-MM-dd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set FileName",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set PeriodDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "FileName",
					"value": {
						"value": "@concat('Avery Actuals - ',formatDateTime(variables('PeriodDate'), 'MMMM'), ' - ', variables('PeriodDate'), '.csv')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"PeriodDate": {
				"type": "String"
			},
			"FileName": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Yardi/Exchequer"
		},
		"annotations": []
	}
}