pipeline/xPL_MCM_GetData.json
{
	"name": "xPL_MCM_GetData",
	"properties": {
		"activities": [
			{
				"name": "Get MCM Data",
				"description": "Get the MCM data via Azure function",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "www.test.co.uk"
				}
			},
			{
				"name": "AZ Func Results",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get MCM Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "MCM_Json_Data",
					"value": {
						"value": "@activity('Get MCM Data').output.response",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Write to text file",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "VariableValue",
								"value": {
									"value": "@variables('MCM_Json_Data')",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "VariableValue",
									"type": "String"
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 1
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_MCM_Dummy_input",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_MCM_textFile",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Write to json file",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "AZ Func Results",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "VariableValue",
								"value": {
									"value": "@json(variables('MCM_Json_Data'))",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings",
							"filePattern": "arrayOfObjects"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "VariableValue",
									"type": "String"
								},
								"sink": {
									"path": "$['Column_1']"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "DS_MCM_Dummy_input",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_MCM_Json",
						"type": "DatasetReference",
						"parameters": {
							"FileType": "x"
						}
					}
				]
			}
		],
		"variables": {
			"MCM_Json_Data": {
				"type": "String"
			}
		},
		"folder": {
			"name": "MCM"
		},
		"annotations": []
	}
}